Repository flutter-tizen/plugins, changes with the labels that .github/labeler.yml gives for each.
All labels: p: audioplayers, p: battery_plus, p: camera, p: connectivity_plus, p: device_info_plus, p: firebase_core, p: flutter_app_badger, p: flutter_secure_storage, p: flutter_tts, p: flutter_webrtc, p: geolocator, p: google_maps_flutter, p: google_sign_in, p: image_picker, p: in_app_purchase, p: integration_test, p: messageport, p: network_info_plus, p: package_info_plus, p: path_provider, p: permission_handler, p: sensors_plus, p: shared_preferences, p: sqflite, p: tizen_app_control, p: tizen_app_manager, p: tizen_audio_manager, p: tizen_bundle, p: tizen_log, p: tizen_notification, p: tizen_package_manager, p: tizen_rpc_port, p: url_launcher, p: video_player, p: video_player_avplay, p: video_player_videohole, p: wakelock_plus, p: wearable_rotary, p: webview_flutter, p: webview_flutter_lwe, tools

.github/labeler.yml:

# Packages
"p: audioplayers":
  - packages/audioplayers/**/*
"p: battery_plus":
  - packages/battery_plus/**/*
"p: camera":
  - packages/camera/**/*
"p: connectivity_plus":
  - packages/connectivity_plus/**/*
"p: device_info_plus":
  - packages/device_info_plus/**/*
"p: firebase_core":
  - packages/firebase_core/**/*
"p: flutter_app_badger":
  - packages/flutter_app_badger/**/*
"p: flutter_secure_storage":
  - packages/flutter_secure_storage/**/*
"p: flutter_tts":
  - packages/flutter_tts/**/*
"p: flutter_webrtc":
  - packages/flutter_webrtc/**/*
"p: geolocator":
  - packages/geolocator/**/*
"p: google_maps_flutter":
  - packages/google_maps_flutter/**/*
"p: google_sign_in":
  - packages/google_sign_in/**/*
"p: image_picker":
  - packages/image_picker/**/*
"p: in_app_purchase":
  - packages/in_app_purchase/**/*
"p: integration_test":
  - packages/integration_test/**/*
"p: messageport":
  - packages/messageport/**/*
"p: network_info_plus":
  - packages/network_info_plus/**/*
"p: package_info_plus":
  - packages/package_info_plus/**/*
"p: path_provider":
  - packages/path_provider/**/*
"p: permission_handler":
  - packages/permission_handler/**/*
"p: sensors_plus":
  - packages/sensors_plus/**/*
"p: shared_preferences":
  - packages/shared_preferences/**/*
"p: sqflite":
  - packages/sqflite/**/*
"p: tizen_app_control":
  - packages/tizen_app_control/**/*
"p: tizen_app_manager":
  - packages/tizen_app_manager/**/*
"p: tizen_audio_manager":
  - packages/tizen_audio_manager/**/*
"p: tizen_bundle":
  - packages/tizen_bundle/**/*
"p: tizen_log":
  - packages/tizen_log/**/*
"p: tizen_notification":
  - packages/tizen_notification/**/*
"p: tizen_package_manager":
  - packages/tizen_package_manager/**/*
"p: tizen_rpc_port":
  - packages/tizen_rpc_port/**/*
"p: url_launcher":
  - packages/url_launcher/**/*
"p: video_player":
  - packages/video_player/**/*
"p: video_player_avplay":
  - packages/video_player_avplay/**/*
"p: video_player_videohole":
  - packages/video_player_videohole/**/*
"p: wakelock_plus":
  - packages/wakelock_plus/**/*
"p: wearable_rotary":
  - packages/wearable_rotary/**/*
"p: webview_flutter":
  - packages/webview_flutter/**/*
"p: webview_flutter_lwe":
  - packages/webview_flutter_lwe/**/*

# Tools
"tools":
  - tools/**/*

[video_player_videohole] Add 'isCompleted' event to 'VideoPlayerEvent' (#766)
  packages/video_player_videohole/CHANGELOG.md
  packages/video_player_videohole/README.md
  packages/video_player_videohole/lib/video_player.dart
  packages/video_player_videohole/pubspec.yaml
Labels: p: video_player_videohole

[webview_flutter_lwe] Update lightweight web engine(1.3.3) (#770)
  packages/webview_flutter_lwe/CHANGELOG.md
  packages/webview_flutter_lwe/README.md
  packages/webview_flutter_lwe/pubspec.yaml
  packages/webview_flutter_lwe/tizen/lib/aarch64/libclipper.so
  packages/webview_flutter_lwe/tizen/lib/aarch64/liblightweight-web-engine.flutter.so
  packages/webview_flutter_lwe/tizen/lib/aarch64/libmp4parse.so
  packages/webview_flutter_lwe/tizen/lib/aarch64/libskia_matrix.so
  packages/webview_flutter_lwe/tizen/lib/aarch64/libtuv.so
  packages/webview_flutter_lwe/tizen/lib/aarch64/libwebm.so
  packages/webview_flutter_lwe/tizen/lib/aarch64/libwebp_lwe.so
  packages/webview_flutter_lwe/tizen/lib/armel/libclipper.so
  packages/webview_flutter_lwe/tizen/lib/armel/liblightweight-web-engine.flutter.so
  packages/webview_flutter_lwe/tizen/lib/armel/libmp4parse.so
  packages/webview_flutter_lwe/tizen/lib/armel/libskia_matrix.so
  packages/webview_flutter_lwe/tizen/lib/armel/libtuv.so
  packages/webview_flutter_lwe/tizen/lib/armel/libwebm.so
  packages/webview_flutter_lwe/tizen/lib/armel/libwebp_lwe.so
  packages/webview_flutter_lwe/tizen/lib/i586/libclipper.so
  packages/webview_flutter_lwe/tizen/lib/i586/liblightweight-web-engine.flutter.so
  packages/webview_flutter_lwe/tizen/lib/i586/libmp4parse.so
  packages/webview_flutter_lwe/tizen/lib/i586/libskia_matrix.so
  packages/webview_flutter_lwe/tizen/lib/i586/libtuv.so
  packages/webview_flutter_lwe/tizen/lib/i586/libwebm.so
  packages/webview_flutter_lwe/tizen/lib/i586/libwebp_lwe.so
Labels: p: webview_flutter_lwe

[connectivity_plus] Fix code format
  packages/connectivity_plus/tizen/src/connectivity_plus_tizen_plugin.cc
Labels: p: connectivity_plus

Add 'isCompleted' event to 'VideoPlayerEvent'.
  packages/video_player_avplay/CHANGELOG.md
  packages/video_player_avplay/README.md
  packages/video_player_avplay/lib/video_player.dart
  packages/video_player_avplay/pubspec.yaml
Labels: p: video_player_avplay

[connectivity_plus] Fix code format
  packages/connectivity_plus/tizen/src/connectivity_plus_tizen_plugin.cc
Labels: p: connectivity_plus

[video_player_avplay] Add 'isCompleted' event to 'VideoPlayerEvent'. (#771)
  packages/video_player_avplay/CHANGELOG.md
  packages/video_player_avplay/README.md
  packages/video_player_avplay/lib/video_player.dart
  packages/video_player_avplay/pubspec.yaml
Labels: p: video_player_avplay

[connectivity_plus] Update connectivity_plus to 6.1.0 (#764)
  packages/connectivity_plus/CHANGELOG.md
  packages/connectivity_plus/README.md
  packages/connectivity_plus/example/lib/main.dart
  packages/connectivity_plus/example/pubspec.yaml
  packages/connectivity_plus/pubspec.yaml
  packages/connectivity_plus/tizen/src/connectivity_plus_tizen_plugin.cc
Labels: p: connectivity_plus

[google_maps_flutter] Update webview_flutter version
  packages/google_maps_flutter/CHANGELOG.md
  packages/google_maps_flutter/README.md
  packages/google_maps_flutter/pubspec.yaml
Labels: p: google_maps_flutter

[google_maps_flutter] Update webview_flutter version (#772)
  packages/google_maps_flutter/CHANGELOG.md
  packages/google_maps_flutter/README.md
  packages/google_maps_flutter/pubspec.yaml
Labels: p: google_maps_flutter

Fix start position out of range issue
  packages/video_player_avplay/CHANGELOG.md
  packages/video_player_avplay/README.md
  packages/video_player_avplay/pubspec.yaml
  packages/video_player_avplay/tizen/src/plus_player.cc
Labels: p: video_player_avplay

[video_player_avplay] Fix start position out of range issue (#773)
  packages/video_player_avplay/CHANGELOG.md
  packages/video_player_avplay/README.md
  packages/video_player_avplay/pubspec.yaml
  packages/video_player_avplay/tizen/src/plus_player.cc
Labels: p: video_player_avplay

Fix select audio channel failed issue
  packages/video_player_avplay/CHANGELOG.md
  packages/video_player_avplay/README.md
  packages/video_player_avplay/pubspec.yaml
  packages/video_player_avplay/tizen/lib/armel/6.0/libdash.so
  packages/video_player_avplay/tizen/lib/armel/6.5/libdash.so
  packages/video_player_avplay/tizen/lib/armel/7.0/libdash.so
  packages/video_player_avplay/tizen/lib/armel/8.0/libdash.so
Labels: p: video_player_avplay

[video_player_avplay] Fix select audio channel failed issue (#774)
  packages/video_player_avplay/CHANGELOG.md
  packages/video_player_avplay/README.md
  packages/video_player_avplay/pubspec.yaml
  packages/video_player_avplay/tizen/lib/armel/6.0/libdash.so
  packages/video_player_avplay/tizen/lib/armel/6.5/libdash.so
  packages/video_player_avplay/tizen/lib/armel/7.0/libdash.so
  packages/video_player_avplay/tizen/lib/armel/8.0/libdash.so
Labels: p: video_player_avplay

Make startPosition support int32_t
  packages/video_player_avplay/tizen/src/plus_player.cc
Labels: p: video_player_avplay

Version up
  packages/video_player_avplay/CHANGELOG.md
  packages/video_player_avplay/README.md
  packages/video_player_avplay/pubspec.yaml
Labels: p: video_player_avplay

[flutter_tts] Update flutter_tts to 4.2.0
  packages/flutter_tts/CHANGELOG.md
  packages/flutter_tts/README.md
  packages/flutter_tts/example/lib/main.dart
  packages/flutter_tts/example/pubspec.yaml
  packages/flutter_tts/pubspec.yaml
  packages/flutter_tts/tizen/src/flutter_tts_tizen_plugin.cc
  packages/flutter_tts/tizen/src/text_to_speech.cc
  packages/flutter_tts/tizen/src/text_to_speech.h
Labels: p: flutter_tts

Fix code format
  packages/flutter_tts/tizen/src/text_to_speech.h
Labels: p: flutter_tts

Correct unnecessary code
  packages/flutter_tts/example/lib/main.dart
  packages/flutter_tts/tizen/src/flutter_tts_tizen_plugin.cc
  packages/flutter_tts/tizen/src/text_to_speech.cc
Labels: p: flutter_tts

[flutter_tts] Add getVoices and setVoice APIs
  packages/flutter_tts/CHANGELOG.md
  packages/flutter_tts/README.md
  packages/flutter_tts/example/lib/main.dart
  packages/flutter_tts/tizen/src/flutter_tts_tizen_plugin.cc
  packages/flutter_tts/tizen/src/text_to_speech.cc
  packages/flutter_tts/tizen/src/text_to_speech.h
Labels: p: flutter_tts

[flutter_tts] Update flutter_tts to 4.2.0 (#775)
  packages/flutter_tts/CHANGELOG.md
  packages/flutter_tts/README.md
  packages/flutter_tts/example/lib/main.dart
  packages/flutter_tts/example/pubspec.yaml
  packages/flutter_tts/pubspec.yaml
  packages/flutter_tts/tizen/src/flutter_tts_tizen_plugin.cc
  packages/flutter_tts/tizen/src/text_to_speech.cc
  packages/flutter_tts/tizen/src/text_to_speech.h
Labels: p: flutter_tts

[video_player] Update video_player to 2.9.2
  packages/video_player/CHANGELOG.md
  packages/video_player/README.md
  packages/video_player/example/pubspec.yaml
  packages/video_player/pubspec.yaml
Labels: p: video_player

Add TODO for start position
  packages/video_player_avplay/tizen/src/plus_player.cc
Labels: p: video_player_avplay

[ video_player_avplay] Make startPosition support int32_t (#778)
  packages/video_player_avplay/CHANGELOG.md
  packages/video_player_avplay/README.md
  packages/video_player_avplay/pubspec.yaml
  packages/video_player_avplay/tizen/src/plus_player.cc
Labels: p: video_player_avplay

[video_player] Update video_player to 2.9.2 (#780)
  packages/video_player/CHANGELOG.md
  packages/video_player/README.md
  packages/video_player/example/pubspec.yaml
  packages/video_player/pubspec.yaml
Labels: p: video_player

Update releated structs
  packages/video_player_avplay/tizen/inc/plusplayer/plusplayer_wrapper.h
Labels: p: video_player_avplay

Version up
  packages/video_player_avplay/CHANGELOG.md
  packages/video_player_avplay/README.md
  packages/video_player_avplay/pubspec.yaml
Labels: p: video_player_avplay

Support Tizen 9.0
  packages/video_player_avplay/CHANGELOG.md
  packages/video_player_avplay/README.md
  packages/video_player_avplay/pubspec.yaml
  packages/video_player_avplay/tizen/lib/armel/9.0/libavcodec_common.so
  packages/video_player_avplay/tizen/lib/armel/9.0/libavformat_mmdash.so
  packages/video_player_avplay/tizen/lib/armel/9.0/libavformat_mmhls.so
  packages/video_player_avplay/tizen/lib/armel/9.0/libavformat_mmhttp.so
  packages/video_player_avplay/tizen/lib/armel/9.0/libavutil_common.so
  packages/video_player_avplay/tizen/lib/armel/9.0/libdash.so
  packages/video_player_avplay/tizen/lib/armel/9.0/libdashplusplayer_tvplus.so
  packages/video_player_avplay/tizen/lib/armel/9.0/libgstdash.so
  packages/video_player_avplay/tizen/lib/armel/9.0/libgsthls.so
  packages/video_player_avplay/tizen/lib/armel/9.0/libgsthttpdemux.so
  packages/video_player_avplay/tizen/lib/armel/9.0/libgstmmhttpsrc.so
  packages/video_player_avplay/tizen/lib/armel/9.0/libgstsubtitle_tvplus.so
  packages/video_player_avplay/tizen/lib/armel/9.0/libgstsubtitleparse_tvplus.so
  packages/video_player_avplay/tizen/lib/armel/9.0/libhls.so
  packages/video_player_avplay/tizen/lib/armel/9.0/libplusplayer-wrapper.so
  packages/video_player_avplay/tizen/lib/armel/9.0/libplusplayer_tvplus.so
  packages/video_player_avplay/tizen/lib/armel/9.0/libplusplayercore_tvplus.so
  packages/video_player_avplay/tizen/lib/armel/9.0/libslive-jsoncpp.so
  packages/video_player_avplay/tizen/lib/armel/9.0/libtracksource_tvplus.so
Labels: p: video_player_avplay

Fix new lint warnings
  packages/camera/example/lib/main.dart
  packages/in_app_purchase/lib/src/billing_manager_wrappers/billing_manager_wrapper.dart
Labels: p: camera, p: in_app_purchase

[camera, in_app_purchase] Fix new lint warnings (#785)
  packages/camera/example/lib/main.dart
  packages/in_app_purchase/lib/src/billing_manager_wrappers/billing_manager_wrapper.dart
Labels: p: camera, p: in_app_purchase

Fix dash player fail to seek issue
  packages/video_player_avplay/CHANGELOG.md
  packages/video_player_avplay/README.md
  packages/video_player_avplay/pubspec.yaml
  packages/video_player_avplay/tizen/lib/armel/6.0/libdash.so
  packages/video_player_avplay/tizen/lib/armel/6.5/libdash.so
  packages/video_player_avplay/tizen/lib/armel/7.0/libdash.so
  packages/video_player_avplay/tizen/lib/armel/8.0/libdash.so
Labels: p: video_player_avplay

Fix fail to seek issue
  packages/video_player_avplay/tizen/lib/armel/9.0/libdash.so
Labels: p: video_player_avplay

[video_player_avplay] Support Tizen 9.0 (#784)
  packages/video_player_avplay/CHANGELOG.md
  packages/video_player_avplay/README.md
  packages/video_player_avplay/pubspec.yaml
  packages/video_player_avplay/tizen/lib/armel/9.0/libavcodec_common.so
  packages/video_player_avplay/tizen/lib/armel/9.0/libavformat_mmdash.so
  packages/video_player_avplay/tizen/lib/armel/9.0/libavformat_mmhls.so
  packages/video_player_avplay/tizen/lib/armel/9.0/libavformat_mmhttp.so
  packages/video_player_avplay/tizen/lib/armel/9.0/libavutil_common.so
  packages/video_player_avplay/tizen/lib/armel/9.0/libdash.so
  packages/video_player_avplay/tizen/lib/armel/9.0/libdashplusplayer_tvplus.so
  packages/video_player_avplay/tizen/lib/armel/9.0/libgstdash.so
  packages/video_player_avplay/tizen/lib/armel/9.0/libgsthls.so
  packages/video_player_avplay/tizen/lib/armel/9.0/libgsthttpdemux.so
  packages/video_player_avplay/tizen/lib/armel/9.0/libgstmmhttpsrc.so
  packages/video_player_avplay/tizen/lib/armel/9.0/libgstsubtitle_tvplus.so
  packages/video_player_avplay/tizen/lib/armel/9.0/libgstsubtitleparse_tvplus.so
  packages/video_player_avplay/tizen/lib/armel/9.0/libhls.so
  packages/video_player_avplay/tizen/lib/armel/9.0/libplusplayer-wrapper.so
  packages/video_player_avplay/tizen/lib/armel/9.0/libplusplayer_tvplus.so
  packages/video_player_avplay/tizen/lib/armel/9.0/libplusplayercore_tvplus.so
  packages/video_player_avplay/tizen/lib/armel/9.0/libslive-jsoncpp.so
  packages/video_player_avplay/tizen/lib/armel/9.0/libtracksource_tvplus.so
Labels: p: video_player_avplay

[video_player_avplay] Fix dash player fail to seek issue (#788)
  packages/video_player_avplay/CHANGELOG.md
  packages/video_player_avplay/tizen/lib/armel/6.0/libdash.so
  packages/video_player_avplay/tizen/lib/armel/6.5/libdash.so
  packages/video_player_avplay/tizen/lib/armel/7.0/libdash.so
  packages/video_player_avplay/tizen/lib/armel/8.0/libdash.so
Labels: p: video_player_avplay

Add SetDisplayMode and setDisplayRotate api
  packages/video_player_avplay/CHANGELOG.md
  packages/video_player_avplay/README.md
  packages/video_player_avplay/lib/src/messages.g.dart
  packages/video_player_avplay/lib/src/video_player_tizen.dart
  packages/video_player_avplay/lib/video_player.dart
  packages/video_player_avplay/lib/video_player_platform_interface.dart
  packages/video_player_avplay/pigeons/messages.dart
  packages/video_player_avplay/pubspec.yaml
  packages/video_player_avplay/tizen/src/messages.cc
  packages/video_player_avplay/tizen/src/messages.h
  packages/video_player_avplay/tizen/src/plus_player.cc
  packages/video_player_avplay/tizen/src/plus_player.h
  packages/video_player_avplay/tizen/src/video_player.h
  packages/video_player_avplay/tizen/src/video_player_tizen_plugin.cc
Labels: p: video_player_avplay

Add set rotation and display mode for Media player
  packages/video_player_avplay/tizen/src/media_player.cc
  packages/video_player_avplay/tizen/src/media_player.h
  packages/video_player_avplay/tizen/src/video_player.h
Labels: p: video_player_avplay

Fix coding style
  packages/video_player_avplay/lib/video_player_platform_interface.dart
Labels: p: video_player_avplay

Version up
  packages/video_player_avplay/CHANGELOG.md
  packages/video_player_avplay/README.md
  packages/video_player_avplay/pubspec.yaml
Labels: p: video_player_avplay

[video_player_avplay] Add setDisplayMode and setDisplayRotate API (#789)
  packages/video_player_avplay/CHANGELOG.md
  packages/video_player_avplay/README.md
  packages/video_player_avplay/lib/src/messages.g.dart
  packages/video_player_avplay/lib/src/video_player_tizen.dart
  packages/video_player_avplay/lib/video_player.dart
  packages/video_player_avplay/lib/video_player_platform_interface.dart
  packages/video_player_avplay/pigeons/messages.dart
  packages/video_player_avplay/pubspec.yaml
  packages/video_player_avplay/tizen/src/media_player.cc
  packages/video_player_avplay/tizen/src/media_player.h
  packages/video_player_avplay/tizen/src/messages.cc
  packages/video_player_avplay/tizen/src/messages.h
  packages/video_player_avplay/tizen/src/plus_player.cc
  packages/video_player_avplay/tizen/src/plus_player.h
  packages/video_player_avplay/tizen/src/video_player.h
  packages/video_player_avplay/tizen/src/video_player_tizen_plugin.cc
Labels: p: video_player_avplay

[webview_flutter_lwe] Fix "channel sent a message from native to Flutter on a non-platform thread" error
  packages/webview_flutter_lwe/tizen/src/message_dispatcher.cc
  packages/webview_flutter_lwe/tizen/src/message_dispatcher.h
  packages/webview_flutter_lwe/tizen/src/webview.cc
  packages/webview_flutter_lwe/tizen/src/webview.h
Labels: p: webview_flutter_lwe

Apply code review and update CHANGELOG.md
  packages/webview_flutter_lwe/CHANGELOG.md
  packages/webview_flutter_lwe/tizen/lib/armel/VERSION
  packages/webview_flutter_lwe/tizen/src/message_dispatcher.cc
  packages/webview_flutter_lwe/tizen/src/webview.cc
  packages/webview_flutter_lwe/tizen/src/webview.h
Labels: p: webview_flutter_lwe
