Repository flutter-tizen/plugins, changes with the labels that .github/labeler.yml gives for each.
All labels: p: audioplayers, p: battery_plus, p: camera, p: connectivity_plus, p: device_info_plus, p: firebase_core, p: flutter_app_badger, p: flutter_secure_storage, p: flutter_tts, p: flutter_webrtc, p: geolocator, p: google_maps_flutter, p: google_sign_in, p: image_picker, p: in_app_purchase, p: integration_test, p: messageport, p: network_info_plus, p: package_info_plus, p: path_provider, p: permission_handler, p: sensors_plus, p: shared_preferences, p: sqflite, p: tizen_app_control, p: tizen_app_manager, p: tizen_audio_manager, p: tizen_bundle, p: tizen_log, p: tizen_notification, p: tizen_package_manager, p: tizen_rpc_port, p: url_launcher, p: video_player, p: video_player_avplay, p: video_player_videohole, p: wakelock_plus, p: wearable_rotary, p: webview_flutter, p: webview_flutter_lwe, tools

Version up
  packages/video_player_avplay/README.md
  packages/video_player_avplay/pubspec.yaml
Labels: p: video_player_avplay

[video_player_avplay] Fix dash engine crash issue (#743)
  packages/video_player_avplay/CHANGELOG.md
  packages/video_player_avplay/README.md
  packages/video_player_avplay/pubspec.yaml
  packages/video_player_avplay/tizen/lib/armel/6.0/libdash.so
  packages/video_player_avplay/tizen/lib/armel/6.0/libtracksource_tvplus.so
  packages/video_player_avplay/tizen/lib/armel/6.5/libdash.so
  packages/video_player_avplay/tizen/lib/armel/6.5/libtracksource_tvplus.so
  packages/video_player_avplay/tizen/lib/armel/7.0/libdash.so
  packages/video_player_avplay/tizen/lib/armel/7.0/libtracksource_tvplus.so
  packages/video_player_avplay/tizen/lib/armel/8.0/libdash.so
  packages/video_player_avplay/tizen/lib/armel/8.0/libtracksource_tvplus.so
Labels: p: video_player_avplay

[shared_preferences] Update shared_preferences to 2.3.2
  packages/shared_preferences/CHANGELOG.md
  packages/shared_preferences/README.md
  packages/shared_preferences/example/integration_test/shared_preferences_test.dart
  packages/shared_preferences/example/lib/main.dart
  packages/shared_preferences/example/pubspec.yaml
  packages/shared_preferences/lib/shared_preferences_tizen.dart
  packages/shared_preferences/lib/src/shared_preferences_async_tizen.dart
  packages/shared_preferences/lib/src/shared_preferences_tizen.dart
  packages/shared_preferences/pubspec.yaml
Labels: p: shared_preferences

Fix getVideoTracks out of bounds issue
  packages/video_player_avplay/CHANGELOG.md
  packages/video_player_avplay/README.md
  packages/video_player_avplay/lib/src/tracks.dart
  packages/video_player_avplay/lib/src/video_player_tizen.dart
  packages/video_player_avplay/pubspec.yaml
Labels: p: video_player_avplay

[video_player] Support httpHeaders option of VideoPlayerController.network.
  packages/video_player/CHANGELOG.md
  packages/video_player/README.md
  packages/video_player/pubspec.yaml
  packages/video_player/tizen/src/video_player.cc
  packages/video_player/tizen/src/video_player.h
  packages/video_player/tizen/src/video_player_tizen_plugin.cc
Labels: p: video_player

[video_player] Support httpHeaders option of VideoPlayerController.network (#751)
  packages/video_player/CHANGELOG.md
  packages/video_player/README.md
  packages/video_player/pubspec.yaml
  packages/video_player/tizen/src/video_player.cc
  packages/video_player/tizen/src/video_player.h
  packages/video_player/tizen/src/video_player_tizen_plugin.cc
Labels: p: video_player

Update SDK version 3.19/3.3 to 3.22/3.4
  packages/shared_preferences/CHANGELOG.md
  packages/shared_preferences/example/pubspec.yaml
  packages/shared_preferences/pubspec.yaml
Labels: p: shared_preferences

Update packages/shared_preferences/lib/src/shared_preferences_tizen.dart
  packages/shared_preferences/lib/src/shared_preferences_tizen.dart
Labels: p: shared_preferences

Fix getAudioTracks out of bounds issue
  packages/video_player_videohole/CHANGELOG.md
  packages/video_player_videohole/README.md
  packages/video_player_videohole/lib/src/tracks.dart
  packages/video_player_videohole/lib/src/video_player_tizen.dart
  packages/video_player_videohole/pubspec.yaml
Labels: p: video_player_videohole

[path_provider] Update path_provider to 2.1.4
  packages/path_provider/CHANGELOG.md
  packages/path_provider/README.md
  packages/path_provider/example/integration_test/path_provider_test.dart
  packages/path_provider/example/lib/main.dart
  packages/path_provider/example/pubspec.yaml
  packages/path_provider/lib/path_provider_tizen.dart
  packages/path_provider/pubspec.yaml
Labels: p: path_provider

[video_player_avplay] Fix getAudioTracks out of bounds issue (#750)
  packages/video_player_avplay/CHANGELOG.md
  packages/video_player_avplay/README.md
  packages/video_player_avplay/lib/src/tracks.dart
  packages/video_player_avplay/lib/src/video_player_tizen.dart
  packages/video_player_avplay/pubspec.yaml
Labels: p: video_player_avplay

[video_player_videohole] Fix getAudioTracks out of bounds issue (#753)
  packages/video_player_videohole/CHANGELOG.md
  packages/video_player_videohole/README.md
  packages/video_player_videohole/lib/src/tracks.dart
  packages/video_player_videohole/lib/src/video_player_tizen.dart
  packages/video_player_videohole/pubspec.yaml
Labels: p: video_player_videohole

[shared_preferences] Update shared_preferences to 2.3.2 (#748)
  packages/shared_preferences/CHANGELOG.md
  packages/shared_preferences/README.md
  packages/shared_preferences/example/integration_test/shared_preferences_test.dart
  packages/shared_preferences/example/lib/main.dart
  packages/shared_preferences/example/pubspec.yaml
  packages/shared_preferences/lib/shared_preferences_tizen.dart
  packages/shared_preferences/lib/src/shared_preferences_async_tizen.dart
  packages/shared_preferences/lib/src/shared_preferences_tizen.dart
  packages/shared_preferences/pubspec.yaml
Labels: p: shared_preferences

[path_provider] Update path_provider to 2.1.4 (#754)
  packages/path_provider/CHANGELOG.md
  packages/path_provider/README.md
  packages/path_provider/example/integration_test/path_provider_test.dart
  packages/path_provider/example/lib/main.dart
  packages/path_provider/example/pubspec.yaml
  packages/path_provider/lib/path_provider_tizen.dart
  packages/path_provider/pubspec.yaml
Labels: p: path_provider

[tools] Bump up sdk version
  tools/pubspec.yaml
  tools/test_data/foo/example/pubspec.yaml
  tools/test_data/foo/pubspec.yaml
Labels: tools

[tool] Temporarily skip wearable_rotary from build-examples
  tools/lib/src/build_examples_command.dart
Labels: tools

Revert "[tool] Temporarily skip wearable_rotary from build-examples"
  tools/lib/src/build_examples_command.dart
Labels: tools

[ci] Skip wearable_rotary in example build
  .github/workflows/build.yml
Labels: none

[tools] Bump up sdk version (#756)
  .github/workflows/build.yml
  tools/pubspec.yaml
  tools/test_data/foo/example/pubspec.yaml
  tools/test_data/foo/pubspec.yaml
Labels: tools

Add start position in player options when creating player
  packages/video_player_avplay/CHANGELOG.md
  packages/video_player_avplay/README.md
  packages/video_player_avplay/pubspec.yaml
  packages/video_player_avplay/tizen/src/plus_player.cc
Labels: p: video_player_avplay

Add log for seeking failed.
  packages/video_player_avplay/tizen/src/plus_player.cc
Labels: p: video_player_avplay

Fix gst dash deadlock issue
  packages/video_player_avplay/tizen/lib/armel/6.0/libgstdash.so
  packages/video_player_avplay/tizen/lib/armel/6.5/libdash.so
  packages/video_player_avplay/tizen/lib/armel/6.5/libdashplusplayer_tvplus.so
  packages/video_player_avplay/tizen/lib/armel/6.5/libgstdash.so
  packages/video_player_avplay/tizen/lib/armel/6.5/libplusplayer_tvplus.so
  packages/video_player_avplay/tizen/lib/armel/7.0/libgstdash.so
  packages/video_player_avplay/tizen/lib/armel/8.0/libgstdash.so
Labels: p: video_player_avplay

Update CHANGELOG.md
  packages/video_player_avplay/CHANGELOG.md
Labels: p: video_player_avplay

[video_player_avplay] Add start position in player options when creating player (#759)
  packages/video_player_avplay/CHANGELOG.md
  packages/video_player_avplay/README.md
  packages/video_player_avplay/pubspec.yaml
  packages/video_player_avplay/tizen/src/plus_player.cc
Labels: p: video_player_avplay

[audioplayers] Fix play() didn't work after setSource()
  packages/audioplayers/CHANGELOG.md
  packages/audioplayers/README.md
  packages/audioplayers/pubspec.yaml
  packages/audioplayers/tizen/src/audio_player.cc
Labels: p: audioplayers

[audioplayers] Fix play() didn't work after setSource() (#762)
  packages/audioplayers/CHANGELOG.md
  packages/audioplayers/README.md
  packages/audioplayers/pubspec.yaml
  packages/audioplayers/tizen/src/audio_player.cc
Labels: p: audioplayers

[audioplayers] Changed to create a player when AudioPlayer created
  packages/audioplayers/tizen/src/audio_player.cc
Labels: p: audioplayers

[audioplayers] Update audioplayers to 6.1.0
  packages/audioplayers/example/lib/components/dlg.dart
  packages/audioplayers/example/lib/components/player_widget.dart
  packages/audioplayers/example/lib/main.dart
  packages/audioplayers/example/lib/tabs/audio_context.dart
  packages/audioplayers/example/lib/tabs/controls.dart
  packages/audioplayers/example/lib/tabs/sources.dart
  packages/audioplayers/example/lib/utils.dart
  packages/audioplayers/example/pubspec.yaml
  packages/audioplayers/pubspec.yaml
Labels: p: audioplayers

[audioplayers] Skip exception when getPosition is called after release in release mode
  packages/audioplayers/example/integration_test/audioplayers_test.dart
  packages/audioplayers/tizen/src/audio_player.cc
  packages/audioplayers/tizen/src/audio_player.h
Labels: p: audioplayers

[audioplayers] Remove 'audio.onCurrentPosition' method event
  packages/audioplayers/CHANGELOG.md
  packages/audioplayers/tizen/src/audio_player.cc
  packages/audioplayers/tizen/src/audio_player.h
  packages/audioplayers/tizen/src/audioplayers_tizen_plugin.cc
Labels: p: audioplayers

Update analysis_options.yaml
  packages/audioplayers/analysis_options.yaml
  packages/audioplayers/example/analysis_options.yaml
Labels: p: audioplayers

[connectivity_plus] Update connectivity_plus to 6.1.0
  packages/connectivity_plus/CHANGELOG.md
  packages/connectivity_plus/README.md
  packages/connectivity_plus/example/lib/main.dart
  packages/connectivity_plus/example/pubspec.yaml
  packages/connectivity_plus/pubspec.yaml
  packages/connectivity_plus/tizen/src/connectivity_plus_tizen_plugin.cc
Labels: p: connectivity_plus

Add isCompleted event
  packages/video_player_videohole/CHANGELOG.md
  packages/video_player_videohole/README.md
  packages/video_player_videohole/lib/video_player.dart
  packages/video_player_videohole/pubspec.yaml
Labels: p: video_player_videohole

[google_maps_flutter] Fix memory leak and map initialization issue
  packages/google_maps_flutter/lib/src/google_maps_controller.dart
Labels: p: google_maps_flutter

[google_maps_flutter] Fix memory alarm and map initialization issue
  packages/google_maps_flutter/lib/src/google_maps_controller.dart
Labels: p: google_maps_flutter

Add semicolon for readability
  packages/google_maps_flutter/lib/src/google_maps_controller.dart
Labels: p: google_maps_flutter

Update CHANGELOG.md
  packages/google_maps_flutter/CHANGELOG.md
Labels: p: google_maps_flutter

[google_maps_flutter] Fix memory alarm and map initialization issue (#768)
  packages/google_maps_flutter/CHANGELOG.md
  packages/google_maps_flutter/lib/src/google_maps_controller.dart
Labels: p: google_maps_flutter

[webview_flutter_lwe] Update lwe (1.3.0)
  packages/webview_flutter_lwe/CHANGELOG.md
  packages/webview_flutter_lwe/README.md
  packages/webview_flutter_lwe/pubspec.yaml
  packages/webview_flutter_lwe/tizen/lib/aarch64/libclipper.so
  packages/webview_flutter_lwe/tizen/lib/aarch64/liblightweight-web-engine.flutter.so
  packages/webview_flutter_lwe/tizen/lib/aarch64/libmp4parse.so
  packages/webview_flutter_lwe/tizen/lib/aarch64/libskia_matrix.so
  packages/webview_flutter_lwe/tizen/lib/aarch64/libtuv.so
  packages/webview_flutter_lwe/tizen/lib/aarch64/libwebm.so
  packages/webview_flutter_lwe/tizen/lib/aarch64/libwebp_lwe.so
  packages/webview_flutter_lwe/tizen/lib/armel/libclipper.so
  packages/webview_flutter_lwe/tizen/lib/armel/liblightweight-web-engine.flutter.so
  packages/webview_flutter_lwe/tizen/lib/armel/libmp4parse.so
  packages/webview_flutter_lwe/tizen/lib/armel/libskia_matrix.so
  packages/webview_flutter_lwe/tizen/lib/armel/libtuv.so
  packages/webview_flutter_lwe/tizen/lib/armel/libwebm.so
  packages/webview_flutter_lwe/tizen/lib/armel/libwebp_lwe.so
  packages/webview_flutter_lwe/tizen/lib/i586/libclipper.so
  packages/webview_flutter_lwe/tizen/lib/i586/liblightweight-web-engine.flutter.so
  packages/webview_flutter_lwe/tizen/lib/i586/libmp4parse.so
  packages/webview_flutter_lwe/tizen/lib/i586/libskia_matrix.so
  packages/webview_flutter_lwe/tizen/lib/i586/libtuv.so
  packages/webview_flutter_lwe/tizen/lib/i586/libwebm.so
  packages/webview_flutter_lwe/tizen/lib/i586/libwebp_lwe.so
Labels: p: webview_flutter_lwe

[audioplayers] Update audioplayers to 6.1.0 (#763)
  packages/audioplayers/CHANGELOG.md
  packages/audioplayers/analysis_options.yaml
  packages/audioplayers/example/analysis_options.yaml
  packages/audioplayers/example/integration_test/audioplayers_test.dart
  packages/audioplayers/example/lib/components/dlg.dart
  packages/audioplayers/example/lib/components/player_widget.dart
  packages/audioplayers/example/lib/main.dart
  packages/audioplayers/example/lib/tabs/audio_context.dart
  packages/audioplayers/example/lib/tabs/controls.dart
  packages/audioplayers/example/lib/tabs/sources.dart
  packages/audioplayers/example/lib/utils.dart
  packages/audioplayers/example/pubspec.yaml
  packages/audioplayers/pubspec.yaml
  packages/audioplayers/tizen/src/audio_player.cc
  packages/audioplayers/tizen/src/audio_player.h
  packages/audioplayers/tizen/src/audioplayers_tizen_plugin.cc
Labels: p: audioplayers

.github/labeler.yml:

# Packages
"p: audioplayers":
  - packages/audioplayers/**/*
"p: battery_plus":
  - packages/battery_plus/**/*
"p: camera":
  - packages/camera/**/*
"p: connectivity_plus":
  - packages/connectivity_plus/**/*
"p: device_info_plus":
  - packages/device_info_plus/**/*
"p: firebase_core":
  - packages/firebase_core/**/*
"p: flutter_app_badger":
  - packages/flutter_app_badger/**/*
"p: flutter_secure_storage":
  - packages/flutter_secure_storage/**/*
"p: flutter_tts":
  - packages/flutter_tts/**/*
"p: flutter_webrtc":
  - packages/flutter_webrtc/**/*
"p: geolocator":
  - packages/geolocator/**/*
"p: google_maps_flutter":
  - packages/google_maps_flutter/**/*
"p: google_sign_in":
  - packages/google_sign_in/**/*
"p: image_picker":
  - packages/image_picker/**/*
"p: in_app_purchase":
  - packages/in_app_purchase/**/*
"p: integration_test":
  - packages/integration_test/**/*
"p: messageport":
  - packages/messageport/**/*
"p: network_info_plus":
  - packages/network_info_plus/**/*
"p: package_info_plus":
  - packages/package_info_plus/**/*
"p: path_provider":
  - packages/path_provider/**/*
"p: permission_handler":
  - packages/permission_handler/**/*
"p: sensors_plus":
  - packages/sensors_plus/**/*
"p: shared_preferences":
  - packages/shared_preferences/**/*
"p: sqflite":
  - packages/sqflite/**/*
"p: tizen_app_control":
  - packages/tizen_app_control/**/*
"p: tizen_app_manager":
  - packages/tizen_app_manager/**/*
"p: tizen_audio_manager":
  - packages/tizen_audio_manager/**/*
"p: tizen_bundle":
  - packages/tizen_bundle/**/*
"p: tizen_log":
  - packages/tizen_log/**/*
"p: tizen_notification":
  - packages/tizen_notification/**/*
"p: tizen_package_manager":
  - packages/tizen_package_manager/**/*
"p: tizen_rpc_port":
  - packages/tizen_rpc_port/**/*
"p: url_launcher":
  - packages/url_launcher/**/*
"p: video_player":
  - packages/video_player/**/*
"p: video_player_avplay":
  - packages/video_player_avplay/**/*
"p: video_player_videohole":
  - packages/video_player_videohole/**/*
"p: wakelock_plus":
  - packages/wakelock_plus/**/*
"p: wearable_rotary":
  - packages/wearable_rotary/**/*
"p: webview_flutter":
  - packages/webview_flutter/**/*
"p: webview_flutter_lwe":
  - packages/webview_flutter_lwe/**/*

# Tools
"tools":
  - tools/**/*
