Repository flutter-tizen/plugins, changes with the labels that .github/labeler.yml gives for each.
All labels: p: audioplayers, p: battery_plus, p: camera, p: connectivity_plus, p: device_info_plus, p: firebase_core, p: flutter_app_badger, p: flutter_secure_storage, p: flutter_tts, p: flutter_webrtc, p: geolocator, p: google_maps_flutter, p: google_sign_in, p: image_picker, p: in_app_purchase, p: integration_test, p: messageport, p: network_info_plus, p: package_info_plus, p: path_provider, p: permission_handler, p: sensors_plus, p: shared_preferences, p: sqflite, p: tizen_app_control, p: tizen_app_manager, p: tizen_audio_manager, p: tizen_bundle, p: tizen_log, p: tizen_notification, p: tizen_package_manager, p: tizen_rpc_port, p: url_launcher, p: video_player, p: video_player_avplay, p: video_player_videohole, p: wakelock_plus, p: wearable_rotary, p: webview_flutter, p: webview_flutter_lwe, tools

upgrade pigeon to 25.3.1
  packages/video_player_avplay/example/lib/main.dart
  packages/video_player_avplay/lib/src/messages.g.dart
  packages/video_player_avplay/pubspec.yaml
  packages/video_player_avplay/tizen/src/media_player.cc
  packages/video_player_avplay/tizen/src/messages.cc
  packages/video_player_avplay/tizen/src/messages.h
  packages/video_player_avplay/tizen/src/plus_player.cc
Labels: p: video_player_avplay

modify version
  packages/video_player_avplay/CHANGELOG.md
  packages/video_player_avplay/README.md
  packages/video_player_avplay/pubspec.yaml
Labels: p: video_player_avplay

synchronize isPlaying state
  packages/video_player_videohole/CHANGELOG.md
  packages/video_player_videohole/README.md
  packages/video_player_videohole/lib/src/video_player_tizen.dart
  packages/video_player_videohole/lib/video_player.dart
  packages/video_player_videohole/lib/video_player_platform_interface.dart
  packages/video_player_videohole/pubspec.yaml
  packages/video_player_videohole/tizen/src/media_player.cc
  packages/video_player_videohole/tizen/src/video_player.cc
  packages/video_player_videohole/tizen/src/video_player.h
Labels: p: video_player_videohole

fix seek failed issue
  packages/video_player_avplay/CHANGELOG.md
  packages/video_player_avplay/README.md
  packages/video_player_avplay/pubspec.yaml
  packages/video_player_avplay/tizen/lib/armel/6.0/libdash.so
  packages/video_player_avplay/tizen/lib/armel/6.5/libdash.so
  packages/video_player_avplay/tizen/lib/armel/7.0/libdash.so
  packages/video_player_avplay/tizen/lib/armel/8.0/libdash.so
  packages/video_player_avplay/tizen/lib/armel/9.0/libavutil_common.so
  packages/video_player_avplay/tizen/lib/armel/9.0/libdash.so
Labels: p: video_player_avplay

[video_player_avplay] Upgrade pigeon (#851)
  packages/video_player_avplay/CHANGELOG.md
  packages/video_player_avplay/README.md
  packages/video_player_avplay/example/lib/main.dart
  packages/video_player_avplay/lib/src/messages.g.dart
  packages/video_player_avplay/pubspec.yaml
  packages/video_player_avplay/tizen/src/media_player.cc
  packages/video_player_avplay/tizen/src/messages.cc
  packages/video_player_avplay/tizen/src/messages.h
  packages/video_player_avplay/tizen/src/plus_player.cc
Labels: p: video_player_avplay

[video_player_videohole] Synchronize isPlaying state (#854)
  packages/video_player_videohole/CHANGELOG.md
  packages/video_player_videohole/README.md
  packages/video_player_videohole/lib/src/video_player_tizen.dart
  packages/video_player_videohole/lib/video_player.dart
  packages/video_player_videohole/lib/video_player_platform_interface.dart
  packages/video_player_videohole/pubspec.yaml
  packages/video_player_videohole/tizen/src/media_player.cc
  packages/video_player_videohole/tizen/src/video_player.cc
  packages/video_player_videohole/tizen/src/video_player.h
Labels: p: video_player_videohole

[battery_plus] update version
  packages/battery_plus/CHANGELOG.md
  packages/battery_plus/LICENSE
  packages/battery_plus/README.md
  packages/battery_plus/pubspec.yaml
Labels: p: battery_plus

[battery_plus] update version (#855)
  packages/battery_plus/CHANGELOG.md
  packages/battery_plus/LICENSE
  packages/battery_plus/README.md
  packages/battery_plus/pubspec.yaml
Labels: p: battery_plus

[video_player_avplay] Fix seek failed issue (#853)
  packages/video_player_avplay/CHANGELOG.md
  packages/video_player_avplay/tizen/lib/armel/6.0/libdash.so
  packages/video_player_avplay/tizen/lib/armel/6.5/libdash.so
  packages/video_player_avplay/tizen/lib/armel/7.0/libdash.so
  packages/video_player_avplay/tizen/lib/armel/8.0/libdash.so
  packages/video_player_avplay/tizen/lib/armel/9.0/libavutil_common.so
  packages/video_player_avplay/tizen/lib/armel/9.0/libdash.so
Labels: p: video_player_avplay

fix version error
  packages/video_player_avplay/README.md
  packages/video_player_avplay/pubspec.yaml
Labels: p: video_player_avplay

add suspend and restore api
  packages/video_player_videohole/lib/src/messages.g.dart
  packages/video_player_videohole/lib/src/video_player_tizen.dart
  packages/video_player_videohole/lib/video_player.dart
  packages/video_player_videohole/lib/video_player_platform_interface.dart
  packages/video_player_videohole/pigeons/messages.dart
  packages/video_player_videohole/tizen/src/device_proxy.cc
  packages/video_player_videohole/tizen/src/device_proxy.h
  packages/video_player_videohole/tizen/src/media_player.cc
  packages/video_player_videohole/tizen/src/media_player.h
  packages/video_player_videohole/tizen/src/messages.cc
  packages/video_player_videohole/tizen/src/messages.h
  packages/video_player_videohole/tizen/src/video_player.cc
  packages/video_player_videohole/tizen/src/video_player.h
  packages/video_player_videohole/tizen/src/video_player_tizen_plugin.cc
Labels: p: video_player_videohole

add live video
  packages/video_player_videohole/example/lib/main.dart
  packages/video_player_videohole/tizen/src/media_player.cc
Labels: p: video_player_videohole

update version
  packages/video_player_videohole/CHANGELOG.md
  packages/video_player_videohole/README.md
  packages/video_player_videohole/pubspec.yaml
Labels: p: video_player_videohole

[video_player_avplay] Fix version error (#857)
  packages/video_player_avplay/README.md
  packages/video_player_avplay/pubspec.yaml
Labels: p: video_player_avplay

[video_player_videohole] Add suspend and restore api for handing onPause and onResume lifecyle event (#858)
  packages/video_player_videohole/CHANGELOG.md
  packages/video_player_videohole/README.md
  packages/video_player_videohole/example/lib/main.dart
  packages/video_player_videohole/lib/src/messages.g.dart
  packages/video_player_videohole/lib/src/video_player_tizen.dart
  packages/video_player_videohole/lib/video_player.dart
  packages/video_player_videohole/lib/video_player_platform_interface.dart
  packages/video_player_videohole/pigeons/messages.dart
  packages/video_player_videohole/pubspec.yaml
  packages/video_player_videohole/tizen/src/device_proxy.cc
  packages/video_player_videohole/tizen/src/device_proxy.h
  packages/video_player_videohole/tizen/src/media_player.cc
  packages/video_player_videohole/tizen/src/media_player.h
  packages/video_player_videohole/tizen/src/messages.cc
  packages/video_player_videohole/tizen/src/messages.h
  packages/video_player_videohole/tizen/src/video_player.cc
  packages/video_player_videohole/tizen/src/video_player.h
  packages/video_player_videohole/tizen/src/video_player_tizen_plugin.cc
Labels: p: video_player_videohole

Update flutter_tizen_plugin_tools
  .github/workflows/analyze.yml
  .gitignore
  tools/lib/src/output_utils.dart
  tools/lib/src/publish_command.dart
  tools/pubspec.yaml
Labels: tools

Upgrade to permission_handler 12
  packages/permission_handler/CHANGELOG.md
  packages/permission_handler/example/pubspec.yaml
  packages/permission_handler/pubspec.yaml
Labels: p: permission_handler

[permission_handler] Update permission_handler to 12.0.0 (#861)
  packages/permission_handler/CHANGELOG.md
  packages/permission_handler/example/pubspec.yaml
  packages/permission_handler/pubspec.yaml
Labels: p: permission_handler

[permission_handler] Update README and example
  packages/permission_handler/CHANGELOG.md
  packages/permission_handler/README.md
  packages/permission_handler/example/lib/main.dart
  packages/permission_handler/pubspec.yaml
Labels: p: permission_handler

[permission_handler] Update README and example (#862)
  packages/permission_handler/CHANGELOG.md
  packages/permission_handler/README.md
  packages/permission_handler/example/lib/main.dart
  packages/permission_handler/pubspec.yaml
Labels: p: permission_handler

[shared_preferences] Update shared_preferences to 2.5.3
  packages/shared_preferences/CHANGELOG.md
  packages/shared_preferences/README.md
  packages/shared_preferences/example/integration_test/shared_preferences_test.dart
  packages/shared_preferences/example/lib/main.dart
  packages/shared_preferences/example/pubspec.yaml
  packages/shared_preferences/pubspec.yaml
Labels: p: shared_preferences

[shared_preferences] Update shared_preferences to 2.5.3 (#867)
  packages/shared_preferences/CHANGELOG.md
  packages/shared_preferences/README.md
  packages/shared_preferences/example/integration_test/shared_preferences_test.dart
  packages/shared_preferences/example/lib/main.dart
  packages/shared_preferences/example/pubspec.yaml
  packages/shared_preferences/pubspec.yaml
Labels: p: shared_preferences

[webview_flutter] Add support for mouse events
  packages/webview_flutter/tizen/project_def.prop
  packages/webview_flutter/tizen/src/ewk_internal_api_binding.cc
  packages/webview_flutter/tizen/src/ewk_internal_api_binding.h
  packages/webview_flutter/tizen/src/webview.cc
  packages/webview_flutter/tizen/src/webview.h
Labels: p: webview_flutter

Apply reviewer's comments
  packages/webview_flutter/tizen/project_def.prop
  packages/webview_flutter/tizen/src/ewk_internal_api_binding.cc
  packages/webview_flutter/tizen/src/ewk_internal_api_binding.h
  packages/webview_flutter/tizen/src/webview.cc
  packages/webview_flutter/tizen/src/webview.h
Labels: p: webview_flutter

Update CHANGELOG, README, and pubspec files
  packages/webview_flutter/CHANGELOG.md
  packages/webview_flutter/README.md
  packages/webview_flutter/pubspec.yaml
Labels: p: webview_flutter

[webview_flutter] Add support for mouse events (#868)
  packages/webview_flutter/CHANGELOG.md
  packages/webview_flutter/README.md
  packages/webview_flutter/pubspec.yaml
  packages/webview_flutter/tizen/project_def.prop
  packages/webview_flutter/tizen/src/ewk_internal_api_binding.cc
  packages/webview_flutter/tizen/src/ewk_internal_api_binding.h
  packages/webview_flutter/tizen/src/webview.cc
  packages/webview_flutter/tizen/src/webview.h
Labels: p: webview_flutter

[audioplayers] Fix resource cleanup bugs
  packages/audioplayers/example/lib/tabs/controls.dart
  packages/audioplayers/tizen/src/audio_player.cc
  packages/audioplayers/tizen/src/audio_player.h
  packages/audioplayers/tizen/src/audioplayers_tizen_plugin.cc
Labels: p: audioplayers

Remove unnecessary_breaks rule
  packages/audioplayers/example/lib/main.dart
Labels: p: audioplayers

Apply suggestions from code review
  packages/audioplayers/tizen/src/audio_player.cc
  packages/audioplayers/tizen/src/audioplayers_tizen_plugin.cc
Labels: p: audioplayers

Update changelog and version
  packages/audioplayers/CHANGELOG.md
  packages/audioplayers/README.md
  packages/audioplayers/pubspec.yaml
Labels: p: audioplayers

Fix app crash issue when fail to seek
  packages/video_player/tizen/src/video_player_tizen_plugin.cc
Labels: p: video_player

Version up
  packages/video_player/CHANGELOG.md
  packages/video_player/README.md
  packages/video_player/pubspec.yaml
Labels: p: video_player

Apply suggestions from code review
  packages/audioplayers/README.md
  packages/audioplayers/example/lib/tabs/controls.dart
  packages/audioplayers/tizen/src/audio_player.cc
Labels: p: audioplayers

[audioplayers] Fix resource cleanup bugs (#871)
  packages/audioplayers/CHANGELOG.md
  packages/audioplayers/README.md
  packages/audioplayers/example/lib/main.dart
  packages/audioplayers/pubspec.yaml
  packages/audioplayers/tizen/src/audio_player.cc
  packages/audioplayers/tizen/src/audio_player.h
  packages/audioplayers/tizen/src/audioplayers_tizen_plugin.cc
Labels: p: audioplayers

modify tizen-manifest.xml
  packages/video_player_videohole/example/tizen/tizen-manifest.xml
Labels: p: video_player_videohole

Automatically rotates video player based on device orientation
  packages/video_player_videohole/example/tizen/tizen-manifest.xml
  packages/video_player_videohole/lib/src/messages.g.dart
  packages/video_player_videohole/lib/src/video_player_tizen.dart
  packages/video_player_videohole/lib/video_player.dart
  packages/video_player_videohole/lib/video_player_platform_interface.dart
  packages/video_player_videohole/pigeons/messages.dart
  packages/video_player_videohole/tizen/src/media_player.cc
  packages/video_player_videohole/tizen/src/media_player.h
  packages/video_player_videohole/tizen/src/messages.cc
  packages/video_player_videohole/tizen/src/messages.h
  packages/video_player_videohole/tizen/src/video_player.h
  packages/video_player_videohole/tizen/src/video_player_tizen_plugin.cc
Labels: p: video_player_videohole

modify version
  packages/video_player_videohole/CHANGELOG.md
  packages/video_player_videohole/README.md
  packages/video_player_videohole/pubspec.yaml
Labels: p: video_player_videohole

Must be catch the exception when call Pause method. Because pause method throws VideoPlayerError.
  packages/video_player/tizen/src/video_player.cc
  packages/video_player/tizen/src/video_player_tizen_plugin.cc
Labels: p: video_player

[video_player_videohole] Automatically rotates video player based on device orientation (#872)
  packages/video_player_videohole/CHANGELOG.md
  packages/video_player_videohole/README.md
  packages/video_player_videohole/lib/src/messages.g.dart
  packages/video_player_videohole/lib/src/video_player_tizen.dart
  packages/video_player_videohole/lib/video_player.dart
  packages/video_player_videohole/lib/video_player_platform_interface.dart
  packages/video_player_videohole/pigeons/messages.dart
  packages/video_player_videohole/pubspec.yaml
  packages/video_player_videohole/tizen/src/media_player.cc
  packages/video_player_videohole/tizen/src/media_player.h
  packages/video_player_videohole/tizen/src/messages.cc
  packages/video_player_videohole/tizen/src/messages.h
  packages/video_player_videohole/tizen/src/video_player.h
  packages/video_player_videohole/tizen/src/video_player_tizen_plugin.cc
Labels: p: video_player_videohole

[video_player] Fix app crash issue (#875)
  packages/video_player/CHANGELOG.md
  packages/video_player/README.md
  packages/video_player/pubspec.yaml
  packages/video_player/tizen/src/video_player.cc
Labels: p: video_player

.github/labeler.yml:

# Packages
"p: audioplayers":
  - packages/audioplayers/**/*
"p: battery_plus":
  - packages/battery_plus/**/*
"p: camera":
  - packages/camera/**/*
"p: connectivity_plus":
  - packages/connectivity_plus/**/*
"p: device_info_plus":
  - packages/device_info_plus/**/*
"p: firebase_core":
  - packages/firebase_core/**/*
"p: flutter_app_badger":
  - packages/flutter_app_badger/**/*
"p: flutter_secure_storage":
  - packages/flutter_secure_storage/**/*
"p: flutter_tts":
  - packages/flutter_tts/**/*
"p: flutter_webrtc":
  - packages/flutter_webrtc/**/*
"p: geolocator":
  - packages/geolocator/**/*
"p: google_maps_flutter":
  - packages/google_maps_flutter/**/*
"p: google_sign_in":
  - packages/google_sign_in/**/*
"p: image_picker":
  - packages/image_picker/**/*
"p: in_app_purchase":
  - packages/in_app_purchase/**/*
"p: integration_test":
  - packages/integration_test/**/*
"p: messageport":
  - packages/messageport/**/*
"p: network_info_plus":
  - packages/network_info_plus/**/*
"p: package_info_plus":
  - packages/package_info_plus/**/*
"p: path_provider":
  - packages/path_provider/**/*
"p: permission_handler":
  - packages/permission_handler/**/*
"p: sensors_plus":
  - packages/sensors_plus/**/*
"p: shared_preferences":
  - packages/shared_preferences/**/*
"p: sqflite":
  - packages/sqflite/**/*
"p: tizen_app_control":
  - packages/tizen_app_control/**/*
"p: tizen_app_manager":
  - packages/tizen_app_manager/**/*
"p: tizen_audio_manager":
  - packages/tizen_audio_manager/**/*
"p: tizen_bundle":
  - packages/tizen_bundle/**/*
"p: tizen_log":
  - packages/tizen_log/**/*
"p: tizen_notification":
  - packages/tizen_notification/**/*
"p: tizen_package_manager":
  - packages/tizen_package_manager/**/*
"p: tizen_rpc_port":
  - packages/tizen_rpc_port/**/*
"p: url_launcher":
  - packages/url_launcher/**/*
"p: video_player":
  - packages/video_player/**/*
"p: video_player_avplay":
  - packages/video_player_avplay/**/*
"p: video_player_videohole":
  - packages/video_player_videohole/**/*
"p: wakelock_plus":
  - packages/wakelock_plus/**/*
"p: wearable_rotary":
  - packages/wearable_rotary/**/*
"p: webview_flutter":
  - packages/webview_flutter/**/*
"p: webview_flutter_lwe":
  - packages/webview_flutter_lwe/**/*

# Tools
"tools":
  - tools/**/*
