Repository flutter-tizen/plugins, changes with the labels that .github/labeler.yml gives for each.
All labels: p: audioplayers, p: battery_plus, p: camera, p: connectivity_plus, p: device_info_plus, p: firebase_core, p: flutter_app_badger, p: flutter_secure_storage, p: flutter_tts, p: flutter_webrtc, p: geolocator, p: google_maps_flutter, p: google_sign_in, p: image_picker, p: in_app_purchase, p: integration_test, p: messageport, p: network_info_plus, p: package_info_plus, p: path_provider, p: permission_handler, p: sensors_plus, p: shared_preferences, p: sqflite, p: tizen_app_control, p: tizen_app_manager, p: tizen_audio_manager, p: tizen_bundle, p: tizen_log, p: tizen_notification, p: tizen_package_manager, p: tizen_rpc_port, p: url_launcher, p: video_player, p: video_player_avplay, p: video_player_videohole, p: wakelock_plus, p: wearable_rotary, p: webview_flutter, p: webview_flutter_lwe, tools

Fix format issue
  packages/video_player_avplay/lib/src/messages.g.dart
Labels: p: video_player_avplay

Temporary Test Commit
  packages/audioplayers/tizen/src/audioplayers_tizen_plugin.cc
Labels: p: audioplayers

[ci] Integration test bug fix
  .github/workflows/integration_test.yml
Labels: none

Remove unnecessary code
  .github/workflows/integration_test.yml
Labels: none

Update tv version from tv-8.0 to tv-9.0
  .github/recipe.yaml
Labels: none

[video_player_avplay] Add getActiveTrackInfo interface (#836)
  packages/video_player_avplay/CHANGELOG.md
  packages/video_player_avplay/README.md
  packages/video_player_avplay/lib/src/messages.g.dart
  packages/video_player_avplay/lib/src/tracks.dart
  packages/video_player_avplay/lib/src/video_player_tizen.dart
  packages/video_player_avplay/lib/video_player.dart
  packages/video_player_avplay/lib/video_player_platform_interface.dart
  packages/video_player_avplay/pigeons/messages.dart
  packages/video_player_avplay/pubspec.yaml
  packages/video_player_avplay/tizen/src/messages.cc
  packages/video_player_avplay/tizen/src/messages.h
  packages/video_player_avplay/tizen/src/plus_player.cc
  packages/video_player_avplay/tizen/src/plus_player.h
  packages/video_player_avplay/tizen/src/video_player.h
  packages/video_player_avplay/tizen/src/video_player_tizen_plugin.cc
Labels: p: video_player_avplay

Revert "[ci] Integration test bug fix"
  .github/workflows/integration_test.yml
Labels: none

[ci] Change integration test tv target version 8.0 to 9.0 (#843)
  .github/recipe.yaml
Labels: none

add suspend and restore interface
  packages/video_player_avplay/example/lib/main.dart
  packages/video_player_avplay/lib/src/messages.g.dart
  packages/video_player_avplay/lib/src/video_player_tizen.dart
  packages/video_player_avplay/lib/video_player.dart
  packages/video_player_avplay/lib/video_player_platform_interface.dart
  packages/video_player_avplay/pigeons/messages.dart
  packages/video_player_avplay/pubspec.yaml
  packages/video_player_avplay/tizen/src/media_player.cc
  packages/video_player_avplay/tizen/src/media_player.h
  packages/video_player_avplay/tizen/src/messages.cc
  packages/video_player_avplay/tizen/src/messages.h
  packages/video_player_avplay/tizen/src/plus_player.cc
  packages/video_player_avplay/tizen/src/plus_player.h
  packages/video_player_avplay/tizen/src/power_state_proxy.cc
  packages/video_player_avplay/tizen/src/power_state_proxy.h
  packages/video_player_avplay/tizen/src/video_player.h
  packages/video_player_avplay/tizen/src/video_player_tizen_plugin.cc
Labels: p: video_player_avplay

code format
  packages/video_player_avplay/tizen/src/media_player.cc
  packages/video_player_avplay/tizen/src/messages.cc
  packages/video_player_avplay/tizen/src/messages.h
  packages/video_player_avplay/tizen/src/plus_player.cc
Labels: p: video_player_avplay

Version up
  packages/video_player_avplay/CHANGELOG.md
  packages/video_player_avplay/README.md
  packages/video_player_avplay/pubspec.yaml
Labels: p: video_player_avplay

fix review issues
  packages/video_player_avplay/example/lib/main.dart
  packages/video_player_avplay/lib/src/video_player_tizen.dart
  packages/video_player_avplay/lib/video_player.dart
  packages/video_player_avplay/lib/video_player_platform_interface.dart
  packages/video_player_avplay/tizen/src/media_player.cc
  packages/video_player_avplay/tizen/src/media_player.h
  packages/video_player_avplay/tizen/src/plus_player.cc
  packages/video_player_avplay/tizen/src/plus_player.h
  packages/video_player_avplay/tizen/src/power_state_proxy.cc
  packages/video_player_avplay/tizen/src/power_state_proxy.h
  packages/video_player_avplay/tizen/src/video_player.cc
  packages/video_player_avplay/tizen/src/video_player.h
Labels: p: video_player_avplay

[audioplayers] Fix integration_test issue and update to 6.4.0
  packages/audioplayers/CHANGELOG.md
  packages/audioplayers/README.md
  packages/audioplayers/example/lib/components/btn.dart
  packages/audioplayers/example/lib/components/cbx.dart
  packages/audioplayers/example/lib/components/dlg.dart
  packages/audioplayers/example/lib/components/drop_down.dart
  packages/audioplayers/example/lib/components/list_tile.dart
  packages/audioplayers/example/lib/components/pad.dart
  packages/audioplayers/example/lib/components/player_widget.dart
  packages/audioplayers/example/lib/components/properties_widget.dart
  packages/audioplayers/example/lib/components/stream_widget.dart
  packages/audioplayers/example/lib/components/tab_content.dart
  packages/audioplayers/example/lib/components/tabs.dart
  packages/audioplayers/example/lib/components/tgl.dart
  packages/audioplayers/example/lib/components/txt.dart
  packages/audioplayers/example/lib/main.dart
  packages/audioplayers/example/lib/tabs/audio_context.dart
  packages/audioplayers/example/lib/tabs/controls.dart
  packages/audioplayers/example/lib/tabs/logger.dart
  packages/audioplayers/example/lib/tabs/sources.dart
  packages/audioplayers/example/lib/tabs/streams.dart
  packages/audioplayers/example/pubspec.yaml
  packages/audioplayers/pubspec.yaml
  packages/audioplayers/tizen/src/audio_player.cc
  packages/audioplayers/tizen/src/audioplayers_tizen_plugin.cc
Labels: p: audioplayers

Fix coding style format
  packages/audioplayers/example/lib/components/btn.dart
  packages/audioplayers/example/lib/components/cbx.dart
  packages/audioplayers/example/lib/components/dlg.dart
  packages/audioplayers/example/lib/components/drop_down.dart
  packages/audioplayers/example/lib/components/list_tile.dart
  packages/audioplayers/example/lib/components/pad.dart
  packages/audioplayers/example/lib/components/player_widget.dart
  packages/audioplayers/example/lib/components/properties_widget.dart
  packages/audioplayers/example/lib/components/stream_widget.dart
  packages/audioplayers/example/lib/components/tab_content.dart
  packages/audioplayers/example/lib/components/tabs.dart
  packages/audioplayers/example/lib/components/tgl.dart
  packages/audioplayers/example/lib/components/txt.dart
  packages/audioplayers/example/lib/main.dart
  packages/audioplayers/example/lib/tabs/audio_context.dart
  packages/audioplayers/example/lib/tabs/controls.dart
  packages/audioplayers/example/lib/tabs/logger.dart
  packages/audioplayers/example/lib/tabs/sources.dart.orig
  packages/audioplayers/example/lib/tabs/streams.dart
Labels: p: audioplayers

Remove unnecessary file
  packages/audioplayers/example/lib/tabs/sources.dart.orig
Labels: p: audioplayers

Apply review suggestions
  packages/audioplayers/tizen/src/audioplayers_tizen_plugin.cc
Labels: p: audioplayers

fix issues
  packages/video_player_avplay/lib/src/video_player_tizen.dart
  packages/video_player_avplay/lib/video_player.dart
  packages/video_player_avplay/lib/video_player_platform_interface.dart
  packages/video_player_avplay/tizen/src/media_player.cc
  packages/video_player_avplay/tizen/src/plus_player.cc
  packages/video_player_avplay/tizen/src/video_player.cc
  packages/video_player_avplay/tizen/src/video_player.h
Labels: p: video_player_avplay

code format
  packages/video_player_avplay/lib/video_player.dart
Labels: p: video_player_avplay

[audioplayers] Fix integration_test issue and update to 6.4.0 (#841)
  packages/audioplayers/CHANGELOG.md
  packages/audioplayers/README.md
  packages/audioplayers/example/lib/tabs/audio_context.dart
  packages/audioplayers/example/lib/tabs/sources.dart
  packages/audioplayers/example/pubspec.yaml
  packages/audioplayers/pubspec.yaml
  packages/audioplayers/tizen/src/audio_player.cc
  packages/audioplayers/tizen/src/audioplayers_tizen_plugin.cc
Labels: p: audioplayers

fixed media_player Restor SeekTo issue
  packages/video_player_avplay/tizen/src/media_player.cc
  packages/video_player_avplay/tizen/src/media_player.h
Labels: p: video_player_avplay

fix some review issues
  packages/video_player_avplay/lib/src/video_player_tizen.dart
  packages/video_player_avplay/lib/video_player.dart
  packages/video_player_avplay/lib/video_player_platform_interface.dart
  packages/video_player_avplay/tizen/src/media_player.cc
  packages/video_player_avplay/tizen/src/media_player.h
  packages/video_player_avplay/tizen/src/plus_player.h
  packages/video_player_avplay/tizen/src/video_player.cc
  packages/video_player_avplay/tizen/src/video_player.h
Labels: p: video_player_avplay

update version
  packages/video_player_avplay/CHANGELOG.md
  packages/video_player_avplay/README.md
  packages/video_player_avplay/pubspec.yaml
Labels: p: video_player_avplay

dashplusplayer fix no subtitle callback issue
  packages/video_player_avplay/tizen/lib/armel/6.0/libtracksource_tvplus.so
  packages/video_player_avplay/tizen/lib/armel/6.5/libtracksource_tvplus.so
  packages/video_player_avplay/tizen/lib/armel/7.0/libtracksource_tvplus.so
  packages/video_player_avplay/tizen/lib/armel/8.0/libtracksource_tvplus.so
  packages/video_player_avplay/tizen/lib/armel/9.0/libtracksource_tvplus.so
Labels: p: video_player_avplay

fix some review issues
  packages/video_player_avplay/example/lib/main.dart
  packages/video_player_avplay/lib/video_player.dart
  packages/video_player_avplay/tizen/src/media_player.cc
  packages/video_player_avplay/tizen/src/plus_player.cc
Labels: p: video_player_avplay

Update CHANGELOG.md
  packages/video_player_avplay/CHANGELOG.md
Labels: p: video_player_avplay

fix review issues
  packages/video_player_avplay/lib/src/video_player_tizen.dart
  packages/video_player_avplay/lib/video_player.dart
  packages/video_player_avplay/lib/video_player_platform_interface.dart
  packages/video_player_avplay/tizen/src/device_proxy.cc
  packages/video_player_avplay/tizen/src/device_proxy.h
  packages/video_player_avplay/tizen/src/media_player.cc
  packages/video_player_avplay/tizen/src/media_player.h
  packages/video_player_avplay/tizen/src/plus_player.cc
  packages/video_player_avplay/tizen/src/plus_player.h
  packages/video_player_avplay/tizen/src/video_player.cc
  packages/video_player_avplay/tizen/src/video_player.h
  packages/video_player_avplay/tizen/src/video_player_tizen_plugin.cc
Labels: p: video_player_avplay

rewrite API description
  packages/video_player_avplay/lib/video_player.dart
  packages/video_player_avplay/lib/video_player_platform_interface.dart
  packages/video_player_avplay/tizen/src/device_proxy.h
Labels: p: video_player_avplay

Set suspend and restore as private API
  packages/video_player_avplay/lib/video_player.dart
Labels: p: video_player_avplay

add detailed description to setRestoreData() and fix layout issue
  packages/video_player_avplay/lib/video_player.dart
  packages/video_player_avplay/lib/video_player_platform_interface.dart
Labels: p: video_player_avplay

[video_player_avplay] Add _suspend and _restore for handing onPause and onResume lifecycle event (#825)
  packages/video_player_avplay/CHANGELOG.md
  packages/video_player_avplay/README.md
  packages/video_player_avplay/example/lib/main.dart
  packages/video_player_avplay/lib/src/messages.g.dart
  packages/video_player_avplay/lib/src/video_player_tizen.dart
  packages/video_player_avplay/lib/video_player.dart
  packages/video_player_avplay/lib/video_player_platform_interface.dart
  packages/video_player_avplay/pigeons/messages.dart
  packages/video_player_avplay/pubspec.yaml
  packages/video_player_avplay/tizen/src/device_proxy.cc
  packages/video_player_avplay/tizen/src/device_proxy.h
  packages/video_player_avplay/tizen/src/media_player.cc
  packages/video_player_avplay/tizen/src/media_player.h
  packages/video_player_avplay/tizen/src/messages.cc
  packages/video_player_avplay/tizen/src/messages.h
  packages/video_player_avplay/tizen/src/plus_player.cc
  packages/video_player_avplay/tizen/src/plus_player.h
  packages/video_player_avplay/tizen/src/video_player.cc
  packages/video_player_avplay/tizen/src/video_player.h
  packages/video_player_avplay/tizen/src/video_player_tizen_plugin.cc
Labels: p: video_player_avplay

modify CHANGELOG.md
  packages/video_player_avplay/CHANGELOG.md
Labels: p: video_player_avplay

modify the name of enum variables and the method of converting int to enum
  packages/video_player_avplay/lib/src/subtitle_attribute.dart
  packages/video_player_avplay/lib/video_player.dart
Labels: p: video_player_avplay

fix review issues
  packages/video_player_avplay/CHANGELOG.md
  packages/video_player_avplay/README.md
  packages/video_player_avplay/lib/src/closed_caption_file.dart
  packages/video_player_avplay/lib/src/subtitle_attribute.dart
  packages/video_player_avplay/lib/src/video_player_tizen.dart
  packages/video_player_avplay/lib/video_player.dart
  packages/video_player_avplay/lib/video_player_platform_interface.dart
  packages/video_player_avplay/pubspec.yaml
  packages/video_player_avplay/tizen/src/plus_player.cc
  packages/video_player_avplay/tizen/src/video_player.cc
  packages/video_player_avplay/tizen/src/video_player.h
Labels: p: video_player_avplay

fix review issues
  packages/video_player_avplay/lib/src/closed_caption_file.dart
  packages/video_player_avplay/lib/video_player.dart
Labels: p: video_player_avplay

deleted unused member in SubtitleAttribute
  packages/video_player_avplay/lib/src/closed_caption_file.dart
Labels: p: video_player_avplay

update libplusplayer-wrapper
  packages/video_player_avplay/tizen/lib/armel/8.0/libplusplayer-wrapper.so
Labels: p: video_player_avplay

update libplusplayer-wrapper.so
  packages/video_player_avplay/tizen/lib/armel/6.0/libplusplayer-wrapper.so
  packages/video_player_avplay/tizen/lib/armel/6.5/libplusplayer-wrapper.so
  packages/video_player_avplay/tizen/lib/armel/7.0/libplusplayer-wrapper.so
  packages/video_player_avplay/tizen/lib/armel/8.0/libplusplayer-wrapper.so
  packages/video_player_avplay/tizen/lib/armel/9.0/libplusplayer-wrapper.so
Labels: p: video_player_avplay

[video_player_avplay] Add subtitle attributes which include type,startTime, stopTime and value to subtitle callback (#848)
  packages/video_player_avplay/CHANGELOG.md
  packages/video_player_avplay/README.md
  packages/video_player_avplay/lib/src/closed_caption_file.dart
  packages/video_player_avplay/lib/src/video_player_tizen.dart
  packages/video_player_avplay/lib/video_player.dart
  packages/video_player_avplay/lib/video_player_platform_interface.dart
  packages/video_player_avplay/pubspec.yaml
  packages/video_player_avplay/tizen/inc/plusplayer/plusplayer_wrapper.h
  packages/video_player_avplay/tizen/lib/armel/6.0/libplusplayer-wrapper.so
  packages/video_player_avplay/tizen/lib/armel/6.5/libplusplayer-wrapper.so
  packages/video_player_avplay/tizen/lib/armel/7.0/libplusplayer-wrapper.so
  packages/video_player_avplay/tizen/lib/armel/8.0/libplusplayer-wrapper.so
  packages/video_player_avplay/tizen/lib/armel/9.0/libdash.so
  packages/video_player_avplay/tizen/lib/armel/9.0/libdashplusplayer_tvplus.so
  packages/video_player_avplay/tizen/lib/armel/9.0/libplusplayer-wrapper.so
  packages/video_player_avplay/tizen/lib/armel/9.0/libplusplayer_tvplus.so
  packages/video_player_avplay/tizen/src/plus_player.cc
  packages/video_player_avplay/tizen/src/plus_player.h
  packages/video_player_avplay/tizen/src/video_player.cc
  packages/video_player_avplay/tizen/src/video_player.h
Labels: p: video_player_avplay

Add --no-dds option for test
  tools/lib/src/device.dart
Labels: tools

[integration_test] Add --no-dds option for test (#849)
  tools/lib/src/device.dart
Labels: tools

.github/labeler.yml:

# Packages
"p: audioplayers":
  - packages/audioplayers/**/*
"p: battery_plus":
  - packages/battery_plus/**/*
"p: camera":
  - packages/camera/**/*
"p: connectivity_plus":
  - packages/connectivity_plus/**/*
"p: device_info_plus":
  - packages/device_info_plus/**/*
"p: firebase_core":
  - packages/firebase_core/**/*
"p: flutter_app_badger":
  - packages/flutter_app_badger/**/*
"p: flutter_secure_storage":
  - packages/flutter_secure_storage/**/*
"p: flutter_tts":
  - packages/flutter_tts/**/*
"p: flutter_webrtc":
  - packages/flutter_webrtc/**/*
"p: geolocator":
  - packages/geolocator/**/*
"p: google_maps_flutter":
  - packages/google_maps_flutter/**/*
"p: google_sign_in":
  - packages/google_sign_in/**/*
"p: image_picker":
  - packages/image_picker/**/*
"p: in_app_purchase":
  - packages/in_app_purchase/**/*
"p: integration_test":
  - packages/integration_test/**/*
"p: messageport":
  - packages/messageport/**/*
"p: network_info_plus":
  - packages/network_info_plus/**/*
"p: package_info_plus":
  - packages/package_info_plus/**/*
"p: path_provider":
  - packages/path_provider/**/*
"p: permission_handler":
  - packages/permission_handler/**/*
"p: sensors_plus":
  - packages/sensors_plus/**/*
"p: shared_preferences":
  - packages/shared_preferences/**/*
"p: sqflite":
  - packages/sqflite/**/*
"p: tizen_app_control":
  - packages/tizen_app_control/**/*
"p: tizen_app_manager":
  - packages/tizen_app_manager/**/*
"p: tizen_audio_manager":
  - packages/tizen_audio_manager/**/*
"p: tizen_bundle":
  - packages/tizen_bundle/**/*
"p: tizen_log":
  - packages/tizen_log/**/*
"p: tizen_notification":
  - packages/tizen_notification/**/*
"p: tizen_package_manager":
  - packages/tizen_package_manager/**/*
"p: tizen_rpc_port":
  - packages/tizen_rpc_port/**/*
"p: url_launcher":
  - packages/url_launcher/**/*
"p: video_player":
  - packages/video_player/**/*
"p: video_player_avplay":
  - packages/video_player_avplay/**/*
"p: video_player_videohole":
  - packages/video_player_videohole/**/*
"p: wakelock_plus":
  - packages/wakelock_plus/**/*
"p: wearable_rotary":
  - packages/wearable_rotary/**/*
"p: webview_flutter":
  - packages/webview_flutter/**/*
"p: webview_flutter_lwe":
  - packages/webview_flutter_lwe/**/*

# Tools
"tools":
  - tools/**/*
