Repository flutter-tizen/plugins, changes with the labels that .github/labeler.yml gives for each.
All labels: p: audioplayers, p: battery_plus, p: camera, p: connectivity_plus, p: device_info_plus, p: firebase_core, p: flutter_app_badger, p: flutter_secure_storage, p: flutter_tts, p: flutter_webrtc, p: geolocator, p: google_maps_flutter, p: google_sign_in, p: image_picker, p: in_app_purchase, p: integration_test, p: messageport, p: network_info_plus, p: package_info_plus, p: path_provider, p: permission_handler, p: sensors_plus, p: shared_preferences, p: sqflite, p: tizen_app_control, p: tizen_app_manager, p: tizen_audio_manager, p: tizen_bundle, p: tizen_log, p: tizen_notification, p: tizen_package_manager, p: tizen_rpc_port, p: url_launcher, p: video_player, p: video_player_avplay, p: video_player_videohole, p: wakelock_plus, p: wearable_rotary, p: webview_flutter, p: webview_flutter_lwe, tools

[video_player_avplay] Synchronize isPlaying state (#812)
  packages/video_player_avplay/CHANGELOG.md
  packages/video_player_avplay/README.md
  packages/video_player_avplay/lib/src/closed_caption_file.dart
  packages/video_player_avplay/lib/src/video_player_tizen.dart
  packages/video_player_avplay/lib/video_player.dart
  packages/video_player_avplay/lib/video_player_platform_interface.dart
  packages/video_player_avplay/pubspec.yaml
  packages/video_player_avplay/tizen/src/media_player.cc
  packages/video_player_avplay/tizen/src/plus_player.cc
  packages/video_player_avplay/tizen/src/video_player.cc
  packages/video_player_avplay/tizen/src/video_player.h
Labels: p: video_player_avplay

Fix dash player fail to seek issue.
  packages/video_player_avplay/CHANGELOG.md
  packages/video_player_avplay/README.md
  packages/video_player_avplay/pubspec.yaml
  packages/video_player_avplay/tizen/lib/armel/6.0/libdash.so
  packages/video_player_avplay/tizen/lib/armel/6.0/libgstdash.so
  packages/video_player_avplay/tizen/lib/armel/6.5/libdash.so
  packages/video_player_avplay/tizen/lib/armel/6.5/libgstdash.so
  packages/video_player_avplay/tizen/lib/armel/7.0/libdash.so
  packages/video_player_avplay/tizen/lib/armel/7.0/libgstdash.so
  packages/video_player_avplay/tizen/lib/armel/8.0/libdash.so
  packages/video_player_avplay/tizen/lib/armel/8.0/libgstdash.so
  packages/video_player_avplay/tizen/lib/armel/9.0/libdash.so
  packages/video_player_avplay/tizen/lib/armel/9.0/libgstdash.so
Labels: p: video_player_avplay

[google_maps_flutter] Update webview_flutter version
  packages/google_maps_flutter/CHANGELOG.md
  packages/google_maps_flutter/README.md
  packages/google_maps_flutter/pubspec.yaml
Labels: p: google_maps_flutter

[google_maps_flutter] Update webview_flutter version (#815)
  packages/google_maps_flutter/CHANGELOG.md
  packages/google_maps_flutter/README.md
  packages/google_maps_flutter/pubspec.yaml
Labels: p: google_maps_flutter

[video_player_avplay] Fix dash player fail to seek issue. (#814)
  packages/video_player_avplay/CHANGELOG.md
  packages/video_player_avplay/README.md
  packages/video_player_avplay/pubspec.yaml
  packages/video_player_avplay/tizen/lib/armel/6.0/libdash.so
  packages/video_player_avplay/tizen/lib/armel/6.0/libgstdash.so
  packages/video_player_avplay/tizen/lib/armel/6.5/libdash.so
  packages/video_player_avplay/tizen/lib/armel/6.5/libgstdash.so
  packages/video_player_avplay/tizen/lib/armel/7.0/libdash.so
  packages/video_player_avplay/tizen/lib/armel/7.0/libgstdash.so
  packages/video_player_avplay/tizen/lib/armel/8.0/libdash.so
  packages/video_player_avplay/tizen/lib/armel/8.0/libgstdash.so
  packages/video_player_avplay/tizen/lib/armel/9.0/libdash.so
  packages/video_player_avplay/tizen/lib/armel/9.0/libgstdash.so
Labels: p: video_player_avplay

[video_player_avplay] Automatically rotates video player based on device orientation
  packages/video_player_avplay/CHANGELOG.md
  packages/video_player_avplay/README.md
  packages/video_player_avplay/lib/video_player.dart
  packages/video_player_avplay/pubspec.yaml
Labels: p: video_player_avplay

[video_player_avplay] Automatically rotates video player based on device orientation (#817)
  packages/video_player_avplay/CHANGELOG.md
  packages/video_player_avplay/README.md
  packages/video_player_avplay/lib/video_player.dart
  packages/video_player_avplay/pubspec.yaml
Labels: p: video_player_avplay

Remove android code in example
  packages/google_maps_flutter/example/lib/main.dart
  packages/google_maps_flutter/example/lib/map_map_id.dart
Labels: p: google_maps_flutter

Update google_maps_flutter to 2.10.0
  packages/google_maps_flutter/CHANGELOG.md
  packages/google_maps_flutter/README.md
  packages/google_maps_flutter/example/integration_test/src/maps_controller.dart
  packages/google_maps_flutter/example/integration_test/src/maps_inspector.dart
  packages/google_maps_flutter/example/integration_test/src/tiles_inspector.dart
  packages/google_maps_flutter/example/lib/clustering.dart
  packages/google_maps_flutter/example/lib/heatmap.dart
  packages/google_maps_flutter/example/lib/main.dart
  packages/google_maps_flutter/example/lib/map_map_id.dart
  packages/google_maps_flutter/example/lib/marker_icons.dart
  packages/google_maps_flutter/example/lib/place_polygon.dart
  packages/google_maps_flutter/example/pubspec.yaml
  packages/google_maps_flutter/pubspec.yaml
Labels: p: google_maps_flutter

Fix analyze issue
  packages/google_maps_flutter/lib/src/marker.dart
Labels: p: google_maps_flutter

Fix analyze issue
  packages/google_maps_flutter/example/lib/main.dart
  packages/google_maps_flutter/example/lib/map_map_id.dart
Labels: p: google_maps_flutter

[video_player_avplay] Update readme
  packages/video_player_avplay/CHANGELOG.md
  packages/video_player_avplay/README.md
Labels: p: video_player_avplay

[webview_flutter_tizen] Update webview_flutter to 4.10.0 (#809)
  packages/webview_flutter/CHANGELOG.md
  packages/webview_flutter/README.md
  packages/webview_flutter/example/lib/main.dart
  packages/webview_flutter/example/pubspec.yaml
  packages/webview_flutter/lib/src/tizen_webview.dart
  packages/webview_flutter/lib/src/tizen_webview_controller.dart
  packages/webview_flutter/pubspec.yaml
  packages/webview_flutter/tizen/src/ewk_internal_api_binding.cc
  packages/webview_flutter/tizen/src/ewk_internal_api_binding.h
  packages/webview_flutter/tizen/src/webview.cc
  packages/webview_flutter/tizen/src/webview.h
Labels: p: webview_flutter

[video_player_avplay] Update readme (#818)
  packages/video_player_avplay/CHANGELOG.md
  packages/video_player_avplay/README.md
Labels: p: video_player_avplay

[google_maps_flutter] Update google_maps_flutter to 2.10.0 (#816)
  packages/google_maps_flutter/CHANGELOG.md
  packages/google_maps_flutter/README.md
  packages/google_maps_flutter/example/integration_test/src/maps_controller.dart
  packages/google_maps_flutter/example/integration_test/src/maps_inspector.dart
  packages/google_maps_flutter/example/integration_test/src/tiles_inspector.dart
  packages/google_maps_flutter/example/lib/clustering.dart
  packages/google_maps_flutter/example/lib/heatmap.dart
  packages/google_maps_flutter/example/lib/main.dart
  packages/google_maps_flutter/example/lib/map_map_id.dart
  packages/google_maps_flutter/example/lib/marker_icons.dart
  packages/google_maps_flutter/example/lib/place_polygon.dart
  packages/google_maps_flutter/example/pubspec.yaml
  packages/google_maps_flutter/lib/src/marker.dart
  packages/google_maps_flutter/pubspec.yaml
Labels: p: google_maps_flutter

Resolve Flutter 3.29 analyze issues
  analysis_options.yaml
  packages/flutter_webrtc/example/flutter_webrtc_demo/lib/src/utils/device_info_web.dart
  packages/flutter_webrtc/example/flutter_webrtc_example/lib/src/get_user_media_sample_web.dart
  packages/sqflite/example/analysis_options.yaml
Labels: p: flutter_webrtc, p: sqflite

Fix more analyze issue
  packages/flutter_webrtc/example/flutter_webrtc_demo/lib/src/utils/websocket_web.dart
Labels: p: flutter_webrtc

Fix more dart format for flutter3.29
  packages/flutter_webrtc/example/flutter_webrtc_demo/lib/main.dart
  packages/flutter_webrtc/example/flutter_webrtc_demo/lib/src/call_sample/call_sample.dart
  packages/flutter_webrtc/example/flutter_webrtc_demo/lib/src/call_sample/data_channel_sample.dart
  packages/flutter_webrtc/example/flutter_webrtc_demo/lib/src/call_sample/random_string.dart
  packages/flutter_webrtc/example/flutter_webrtc_demo/lib/src/call_sample/settings.dart
  packages/flutter_webrtc/example/flutter_webrtc_demo/lib/src/call_sample/signaling.dart
  packages/flutter_webrtc/example/flutter_webrtc_demo/lib/src/route_item.dart
  packages/flutter_webrtc/example/flutter_webrtc_demo/lib/src/utils/screen_select_dialog.dart
  packages/flutter_webrtc/example/flutter_webrtc_demo/lib/src/utils/turn.dart
  packages/flutter_webrtc/example/flutter_webrtc_demo/lib/src/utils/websocket.dart
  packages/flutter_webrtc/example/flutter_webrtc_demo/lib/src/widgets/screen_select_dialog.dart
  packages/flutter_webrtc/example/flutter_webrtc_example/lib/main.dart
  packages/flutter_webrtc/example/flutter_webrtc_example/lib/src/device_enumeration_sample.dart
  packages/flutter_webrtc/example/flutter_webrtc_example/lib/src/get_display_media_sample.dart
  packages/flutter_webrtc/example/flutter_webrtc_example/lib/src/get_user_media_sample.dart
  packages/flutter_webrtc/example/flutter_webrtc_example/lib/src/get_user_media_sample_web.dart
  packages/flutter_webrtc/example/flutter_webrtc_example/lib/src/loopback_data_channel_sample.dart
  packages/flutter_webrtc/example/flutter_webrtc_example/lib/src/loopback_sample_unified_tracks.dart
  packages/flutter_webrtc/example/flutter_webrtc_example/lib/src/loopback_sample_with_get_stats.dart
  packages/flutter_webrtc/example/flutter_webrtc_example/lib/src/route_item.dart
  packages/flutter_webrtc/example/flutter_webrtc_example/lib/src/widgets/screen_select_dialog.dart
  packages/sqflite/example/integration_test/sqflite_test.dart
  packages/sqflite/example/lib/batch_test_page.dart
  packages/sqflite/example/lib/database/database_impl.dart
  packages/sqflite/example/lib/database/database_io.dart
  packages/sqflite/example/lib/exception_test_page.dart
  packages/sqflite/example/lib/exp_test_page.dart
  packages/sqflite/example/lib/main.dart
  packages/sqflite/example/lib/manual_test_page.dart
  packages/sqflite/example/lib/model/item.dart
  packages/sqflite/example/lib/model/test.dart
  packages/sqflite/example/lib/open_test_page.dart
  packages/sqflite/example/lib/raw_test_page.dart
  packages/sqflite/example/lib/slow_test_page.dart
  packages/sqflite/example/lib/src/expect.dart
  packages/sqflite/example/lib/src/item_widget.dart
  packages/sqflite/example/lib/src/main_item_widget.dart
  packages/sqflite/example/lib/test_page.dart
  packages/sqflite/example/lib/todo_test_page.dart
  packages/sqflite/example/lib/type_test_page.dart
Labels: p: flutter_webrtc, p: sqflite

Fix flutter_webrtc version
  packages/flutter_webrtc/example/flutter_webrtc_demo/pubspec.yaml
  packages/flutter_webrtc/example/flutter_webrtc_example/pubspec.yaml
Labels: p: flutter_webrtc

[flutter_webrtc] Add web package
  packages/flutter_webrtc/example/flutter_webrtc_example/pubspec.yaml
Labels: p: flutter_webrtc

upgrade dart code
  packages/in_app_purchase/lib/billing_manager_wrappers.dart
  packages/in_app_purchase/lib/src/billing_manager_wrappers/billing_manager_wrapper.dart
  packages/in_app_purchase/lib/src/billing_manager_wrappers/billing_manager_wrapper.g.dart
  packages/in_app_purchase/lib/src/in_app_purchase_tizen_platform.dart
  packages/in_app_purchase/lib/src/in_app_purchase_tizen_platform_addition.dart
  packages/in_app_purchase/lib/src/messages.g.dart
  packages/in_app_purchase/pigeons/messages.dart
  packages/in_app_purchase/pubspec.yaml
  packages/in_app_purchase/tizen/src/messages.cc
  packages/in_app_purchase/tizen/src/messages.h
Labels: p: in_app_purchase

Add setData and getData interface
  packages/video_player_avplay/lib/src/messages.g.dart
  packages/video_player_avplay/lib/src/video_player_tizen.dart
  packages/video_player_avplay/lib/video_player.dart
  packages/video_player_avplay/lib/video_player_platform_interface.dart
  packages/video_player_avplay/pigeons/messages.dart
  packages/video_player_avplay/pubspec.yaml
  packages/video_player_avplay/tizen/inc/plusplayer/plusplayer_wrapper.h
  packages/video_player_avplay/tizen/lib/armel/6.0/libplusplayer-wrapper.so
  packages/video_player_avplay/tizen/lib/armel/6.5/libplusplayer-wrapper.so
  packages/video_player_avplay/tizen/lib/armel/7.0/libplusplayer-wrapper.so
  packages/video_player_avplay/tizen/lib/armel/8.0/libplusplayer-wrapper.so
  packages/video_player_avplay/tizen/lib/armel/9.0/libplusplayer-wrapper.so
  packages/video_player_avplay/tizen/src/media_player.cc
  packages/video_player_avplay/tizen/src/messages.cc
  packages/video_player_avplay/tizen/src/messages.h
  packages/video_player_avplay/tizen/src/plus_player.cc
  packages/video_player_avplay/tizen/src/plus_player.h
  packages/video_player_avplay/tizen/src/video_player.h
  packages/video_player_avplay/tizen/src/video_player_tizen_plugin.cc
Labels: p: video_player_avplay

Code format
  packages/video_player_avplay/lib/video_player_platform_interface.dart
  packages/video_player_avplay/tizen/src/plus_player.cc
Labels: p: video_player_avplay

add countryCode API and upgrade
  packages/in_app_purchase/example/lib/main.dart
  packages/in_app_purchase/lib/src/billing_manager_wrappers/billing_manager_wrapper.dart
  packages/in_app_purchase/lib/src/channel.dart
  packages/in_app_purchase/lib/src/in_app_purchase_tizen_platform.dart
  packages/in_app_purchase/lib/src/messages.g.dart
  packages/in_app_purchase/pigeons/messages.dart
  packages/in_app_purchase/tizen/src/billing_manager.cc
  packages/in_app_purchase/tizen/src/billing_manager.h
  packages/in_app_purchase/tizen/src/billing_service_proxy.cc
  packages/in_app_purchase/tizen/src/billing_service_proxy.h
  packages/in_app_purchase/tizen/src/in_app_purchase_tizen_plugin.cc
  packages/in_app_purchase/tizen/src/messages.cc
  packages/in_app_purchase/tizen/src/messages.h
Labels: p: in_app_purchase

Code format
  packages/video_player_avplay/lib/src/messages.g.dart
  packages/video_player_avplay/lib/src/video_player_tizen.dart
  packages/video_player_avplay/lib/video_player.dart
  packages/video_player_avplay/lib/video_player_platform_interface.dart
Labels: p: video_player_avplay

[flutter_secure_storage] Fix analyze issue
  packages/flutter_secure_storage/example/integration_test/flutter_secure_storage_test.dart
Labels: p: flutter_secure_storage

[flutter_secure_storage] Fix analyze issue (#824)
  packages/flutter_secure_storage/example/integration_test/flutter_secure_storage_test.dart
Labels: p: flutter_secure_storage

Add suspend and restore inicial code
  packages/video_player_avplay/lib/src/messages.g.dart
  packages/video_player_avplay/lib/src/sub_rip.dart
  packages/video_player_avplay/lib/src/video_player_tizen.dart
  packages/video_player_avplay/lib/src/web_vtt.dart
  packages/video_player_avplay/lib/video_player.dart
  packages/video_player_avplay/lib/video_player_platform_interface.dart
  packages/video_player_avplay/pigeons/messages.dart
  packages/video_player_avplay/pubspec.yaml
  packages/video_player_avplay/tizen/src/media_player.cc
  packages/video_player_avplay/tizen/src/media_player.h
  packages/video_player_avplay/tizen/src/messages.cc
  packages/video_player_avplay/tizen/src/messages.h
  packages/video_player_avplay/tizen/src/plus_player.cc
  packages/video_player_avplay/tizen/src/plus_player.h
  packages/video_player_avplay/tizen/src/video_player.h
  packages/video_player_avplay/tizen/src/video_player_tizen_plugin.cc
Labels: p: video_player_avplay

Code format
  packages/video_player_avplay/example/integration_test/video_player_test.dart
  packages/video_player_avplay/example/lib/main.dart
  packages/video_player_avplay/lib/src/messages.g.dart
  packages/video_player_avplay/lib/src/sub_rip.dart
  packages/video_player_avplay/lib/src/video_player_tizen.dart
  packages/video_player_avplay/lib/src/web_vtt.dart
  packages/video_player_avplay/lib/video_player.dart
Labels: p: video_player_avplay

Code format
  packages/video_player_avplay/example/integration_test/video_player_test.dart
  packages/video_player_avplay/example/lib/main.dart
  packages/video_player_avplay/tizen/src/plus_player.cc
Labels: p: video_player_avplay

Replace json-glib with rapidjson
  packages/video_player_avplay/tizen/inc/rapidjson/allocators.h
  packages/video_player_avplay/tizen/inc/rapidjson/cursorstreamwrapper.h
  packages/video_player_avplay/tizen/inc/rapidjson/document.h
  packages/video_player_avplay/tizen/inc/rapidjson/encodedstream.h
  packages/video_player_avplay/tizen/inc/rapidjson/encodings.h
  packages/video_player_avplay/tizen/inc/rapidjson/error/en.h
  packages/video_player_avplay/tizen/inc/rapidjson/error/error.h
  packages/video_player_avplay/tizen/inc/rapidjson/filereadstream.h
  packages/video_player_avplay/tizen/inc/rapidjson/filewritestream.h
  packages/video_player_avplay/tizen/inc/rapidjson/fwd.h
  packages/video_player_avplay/tizen/inc/rapidjson/internal/biginteger.h
  packages/video_player_avplay/tizen/inc/rapidjson/internal/clzll.h
  packages/video_player_avplay/tizen/inc/rapidjson/internal/diyfp.h
  packages/video_player_avplay/tizen/inc/rapidjson/internal/dtoa.h
  packages/video_player_avplay/tizen/inc/rapidjson/internal/ieee754.h
  packages/video_player_avplay/tizen/inc/rapidjson/internal/itoa.h
  packages/video_player_avplay/tizen/inc/rapidjson/internal/meta.h
  packages/video_player_avplay/tizen/inc/rapidjson/internal/pow10.h
  packages/video_player_avplay/tizen/inc/rapidjson/internal/regex.h
  packages/video_player_avplay/tizen/inc/rapidjson/internal/stack.h
  packages/video_player_avplay/tizen/inc/rapidjson/internal/strfunc.h
  packages/video_player_avplay/tizen/inc/rapidjson/internal/strtod.h
  packages/video_player_avplay/tizen/inc/rapidjson/internal/swap.h
  packages/video_player_avplay/tizen/inc/rapidjson/istreamwrapper.h
  packages/video_player_avplay/tizen/inc/rapidjson/memorybuffer.h
  packages/video_player_avplay/tizen/inc/rapidjson/memorystream.h
  packages/video_player_avplay/tizen/inc/rapidjson/msinttypes/inttypes.h
  packages/video_player_avplay/tizen/inc/rapidjson/msinttypes/stdint.h
  packages/video_player_avplay/tizen/inc/rapidjson/ostreamwrapper.h
  packages/video_player_avplay/tizen/inc/rapidjson/pointer.h
  packages/video_player_avplay/tizen/inc/rapidjson/prettywriter.h
  packages/video_player_avplay/tizen/inc/rapidjson/rapidjson.h
  packages/video_player_avplay/tizen/inc/rapidjson/reader.h
  packages/video_player_avplay/tizen/inc/rapidjson/schema.h
  packages/video_player_avplay/tizen/inc/rapidjson/stream.h
  packages/video_player_avplay/tizen/inc/rapidjson/stringbuffer.h
  packages/video_player_avplay/tizen/inc/rapidjson/uri.h
  packages/video_player_avplay/tizen/inc/rapidjson/writer.h
  packages/video_player_avplay/tizen/src/plus_player.cc
Labels: p: video_player_avplay

Format rapidjson
  packages/video_player_avplay/tizen/inc/rapidjson/allocators.h
  packages/video_player_avplay/tizen/inc/rapidjson/cursorstreamwrapper.h
  packages/video_player_avplay/tizen/inc/rapidjson/document.h
  packages/video_player_avplay/tizen/inc/rapidjson/encodedstream.h
  packages/video_player_avplay/tizen/inc/rapidjson/encodings.h
  packages/video_player_avplay/tizen/inc/rapidjson/error/en.h
  packages/video_player_avplay/tizen/inc/rapidjson/error/error.h
  packages/video_player_avplay/tizen/inc/rapidjson/filereadstream.h
  packages/video_player_avplay/tizen/inc/rapidjson/filewritestream.h
  packages/video_player_avplay/tizen/inc/rapidjson/fwd.h
  packages/video_player_avplay/tizen/inc/rapidjson/internal/biginteger.h
  packages/video_player_avplay/tizen/inc/rapidjson/internal/clzll.h
  packages/video_player_avplay/tizen/inc/rapidjson/internal/diyfp.h
  packages/video_player_avplay/tizen/inc/rapidjson/internal/dtoa.h
  packages/video_player_avplay/tizen/inc/rapidjson/internal/ieee754.h
  packages/video_player_avplay/tizen/inc/rapidjson/internal/itoa.h
  packages/video_player_avplay/tizen/inc/rapidjson/internal/meta.h
  packages/video_player_avplay/tizen/inc/rapidjson/internal/pow10.h
  packages/video_player_avplay/tizen/inc/rapidjson/internal/regex.h
  packages/video_player_avplay/tizen/inc/rapidjson/internal/stack.h
  packages/video_player_avplay/tizen/inc/rapidjson/internal/strfunc.h
  packages/video_player_avplay/tizen/inc/rapidjson/internal/strtod.h
  packages/video_player_avplay/tizen/inc/rapidjson/internal/swap.h
  packages/video_player_avplay/tizen/inc/rapidjson/istreamwrapper.h
  packages/video_player_avplay/tizen/inc/rapidjson/memorybuffer.h
  packages/video_player_avplay/tizen/inc/rapidjson/memorystream.h
  packages/video_player_avplay/tizen/inc/rapidjson/msinttypes/inttypes.h
  packages/video_player_avplay/tizen/inc/rapidjson/msinttypes/stdint.h
  packages/video_player_avplay/tizen/inc/rapidjson/ostreamwrapper.h
  packages/video_player_avplay/tizen/inc/rapidjson/pointer.h
  packages/video_player_avplay/tizen/inc/rapidjson/prettywriter.h
  packages/video_player_avplay/tizen/inc/rapidjson/rapidjson.h
  packages/video_player_avplay/tizen/inc/rapidjson/reader.h
  packages/video_player_avplay/tizen/inc/rapidjson/schema.h
  packages/video_player_avplay/tizen/inc/rapidjson/stream.h
  packages/video_player_avplay/tizen/inc/rapidjson/stringbuffer.h
  packages/video_player_avplay/tizen/inc/rapidjson/uri.h
  packages/video_player_avplay/tizen/inc/rapidjson/writer.h
Labels: p: video_player_avplay

[google_maps_flutter] Add support for marker clustering
  packages/google_maps_flutter/CHANGELOG.md
  packages/google_maps_flutter/README.md
  packages/google_maps_flutter/example/assets/map.html
  packages/google_maps_flutter/lib/google_maps_flutter_tizen.dart
  packages/google_maps_flutter/lib/src/convert.dart
  packages/google_maps_flutter/lib/src/google_maps_controller.dart
  packages/google_maps_flutter/lib/src/google_maps_flutter_tizen.dart
  packages/google_maps_flutter/lib/src/marker.dart
  packages/google_maps_flutter/lib/src/marker_clustering.dart
  packages/google_maps_flutter/lib/src/markers.dart
  packages/google_maps_flutter/lib/src/util.dart
  packages/google_maps_flutter/pubspec.yaml
Labels: p: google_maps_flutter

Format pointer.h
  packages/video_player_avplay/tizen/inc/rapidjson/pointer.h
Labels: p: video_player_avplay

Format
  packages/video_player_avplay/tizen/inc/rapidjson/pointer.h
Labels: p: video_player_avplay

Fix coding format issue
  packages/google_maps_flutter/lib/src/convert.dart
  packages/google_maps_flutter/lib/src/google_maps_controller.dart
  packages/google_maps_flutter/lib/src/marker.dart.orig
  packages/google_maps_flutter/lib/src/marker_clustering.dart
  packages/google_maps_flutter/lib/src/markers.dart
  packages/google_maps_flutter/lib/src/util.dart.orig
  packages/google_maps_flutter/lib/src/util.dart.rej
Labels: p: google_maps_flutter

Fix additional format issue
  packages/google_maps_flutter/lib/src/marker.dart
  packages/google_maps_flutter/lib/src/util.dart
Labels: p: google_maps_flutter

Remove unnecessary files
  packages/google_maps_flutter/lib/src/marker.dart.orig
  packages/google_maps_flutter/lib/src/util.dart.orig
  packages/google_maps_flutter/lib/src/util.dart.rej
Labels: p: google_maps_flutter

Version up
  packages/video_player_avplay/CHANGELOG.md
  packages/video_player_avplay/README.md
  packages/video_player_avplay/pubspec.yaml
Labels: p: video_player_avplay

Add .clang-format-ignore for rapidjson.
  .clang-format-ignore
Labels: none

.github/labeler.yml:

# Packages
"p: audioplayers":
  - packages/audioplayers/**/*
"p: battery_plus":
  - packages/battery_plus/**/*
"p: camera":
  - packages/camera/**/*
"p: connectivity_plus":
  - packages/connectivity_plus/**/*
"p: device_info_plus":
  - packages/device_info_plus/**/*
"p: firebase_core":
  - packages/firebase_core/**/*
"p: flutter_app_badger":
  - packages/flutter_app_badger/**/*
"p: flutter_secure_storage":
  - packages/flutter_secure_storage/**/*
"p: flutter_tts":
  - packages/flutter_tts/**/*
"p: flutter_webrtc":
  - packages/flutter_webrtc/**/*
"p: geolocator":
  - packages/geolocator/**/*
"p: google_maps_flutter":
  - packages/google_maps_flutter/**/*
"p: google_sign_in":
  - packages/google_sign_in/**/*
"p: image_picker":
  - packages/image_picker/**/*
"p: in_app_purchase":
  - packages/in_app_purchase/**/*
"p: integration_test":
  - packages/integration_test/**/*
"p: messageport":
  - packages/messageport/**/*
"p: network_info_plus":
  - packages/network_info_plus/**/*
"p: package_info_plus":
  - packages/package_info_plus/**/*
"p: path_provider":
  - packages/path_provider/**/*
"p: permission_handler":
  - packages/permission_handler/**/*
"p: sensors_plus":
  - packages/sensors_plus/**/*
"p: shared_preferences":
  - packages/shared_preferences/**/*
"p: sqflite":
  - packages/sqflite/**/*
"p: tizen_app_control":
  - packages/tizen_app_control/**/*
"p: tizen_app_manager":
  - packages/tizen_app_manager/**/*
"p: tizen_audio_manager":
  - packages/tizen_audio_manager/**/*
"p: tizen_bundle":
  - packages/tizen_bundle/**/*
"p: tizen_log":
  - packages/tizen_log/**/*
"p: tizen_notification":
  - packages/tizen_notification/**/*
"p: tizen_package_manager":
  - packages/tizen_package_manager/**/*
"p: tizen_rpc_port":
  - packages/tizen_rpc_port/**/*
"p: url_launcher":
  - packages/url_launcher/**/*
"p: video_player":
  - packages/video_player/**/*
"p: video_player_avplay":
  - packages/video_player_avplay/**/*
"p: video_player_videohole":
  - packages/video_player_videohole/**/*
"p: wakelock_plus":
  - packages/wakelock_plus/**/*
"p: wearable_rotary":
  - packages/wearable_rotary/**/*
"p: webview_flutter":
  - packages/webview_flutter/**/*
"p: webview_flutter_lwe":
  - packages/webview_flutter_lwe/**/*

# Tools
"tools":
  - tools/**/*
