Repository flutter-tizen/plugins, changes with the labels that .github/labeler.yml gives for each.
All labels: p: audioplayers, p: battery_plus, p: camera, p: connectivity_plus, p: device_info_plus, p: firebase_core, p: flutter_app_badger, p: flutter_secure_storage, p: flutter_tts, p: flutter_webrtc, p: geolocator, p: google_maps_flutter, p: google_sign_in, p: image_picker, p: in_app_purchase, p: integration_test, p: messageport, p: network_info_plus, p: package_info_plus, p: path_provider, p: permission_handler, p: sensors_plus, p: shared_preferences, p: sqflite, p: tizen_app_control, p: tizen_app_manager, p: tizen_audio_manager, p: tizen_bundle, p: tizen_log, p: tizen_notification, p: tizen_package_manager, p: tizen_rpc_port, p: url_launcher, p: video_player, p: video_player_avplay, p: video_player_videohole, p: wakelock_plus, p: wearable_rotary, p: webview_flutter, p: webview_flutter_lwe, tools

Remove unnecessary file
  packages/webview_flutter_lwe/tizen/lib/armel/VERSION
Labels: p: webview_flutter_lwe

Change function parameter into rvalue referece
  packages/webview_flutter_lwe/tizen/src/message_dispatcher.cc
  packages/webview_flutter_lwe/tizen/src/message_dispatcher.h
Labels: p: webview_flutter_lwe

[webview_flutter_lwe] Fix "channel sent a message from native to Flutter on a non-platform thread" error (#790)
  packages/webview_flutter_lwe/CHANGELOG.md
  packages/webview_flutter_lwe/tizen/src/message_dispatcher.cc
  packages/webview_flutter_lwe/tizen/src/message_dispatcher.h
  packages/webview_flutter_lwe/tizen/src/webview.cc
  packages/webview_flutter_lwe/tizen/src/webview.h
Labels: p: webview_flutter_lwe

[video_player_avplay] Add check platform and api version
  packages/video_player_avplay/CHANGELOG.md
  packages/video_player_avplay/README.md
  packages/video_player_avplay/lib/video_player.dart
  packages/video_player_avplay/pubspec.yaml
Labels: p: video_player_avplay

Add null check
  packages/video_player_avplay/lib/video_player.dart
Labels: p: video_player_avplay

[ci] Fix python2.7 installation error
  .github/workflows/build.yml
Labels: none

[ci] Fix python2.7 installation error (#795)
  .github/workflows/build.yml
Labels: none

[video_player_avplay] Add check platform and api version (#793)
  packages/video_player_avplay/CHANGELOG.md
  packages/video_player_avplay/README.md
  packages/video_player_avplay/lib/video_player.dart
  packages/video_player_avplay/pubspec.yaml
Labels: p: video_player_avplay

[ci] Change ubuntu runner to 22.04
  .github/workflows/analyze.yml
  .github/workflows/build.yml
  .github/workflows/pull_request_label.yml
  .github/workflows/release.yml
Labels: none

[ci] Change ubuntu runner to 22.04 (#800)
  .github/workflows/analyze.yml
  .github/workflows/build.yml
  .github/workflows/pull_request_label.yml
  .github/workflows/release.yml
Labels: none

[webview_flutter_lwe] Update lightweight web engine(1.3.7)
  packages/webview_flutter_lwe/CHANGELOG.md
  packages/webview_flutter_lwe/README.md
  packages/webview_flutter_lwe/pubspec.yaml
  packages/webview_flutter_lwe/tizen/lib/aarch64/libclipper.so
  packages/webview_flutter_lwe/tizen/lib/aarch64/liblightweight-web-engine.flutter.so
  packages/webview_flutter_lwe/tizen/lib/aarch64/libmp4parse.so
  packages/webview_flutter_lwe/tizen/lib/aarch64/libskia_matrix.so
  packages/webview_flutter_lwe/tizen/lib/aarch64/libtuv.so
  packages/webview_flutter_lwe/tizen/lib/aarch64/libwebm.so
  packages/webview_flutter_lwe/tizen/lib/aarch64/libwebp_lwe.so
  packages/webview_flutter_lwe/tizen/lib/armel/libclipper.so
  packages/webview_flutter_lwe/tizen/lib/armel/liblightweight-web-engine.flutter.so
  packages/webview_flutter_lwe/tizen/lib/armel/libmp4parse.so
  packages/webview_flutter_lwe/tizen/lib/armel/libskia_matrix.so
  packages/webview_flutter_lwe/tizen/lib/armel/libtuv.so
  packages/webview_flutter_lwe/tizen/lib/armel/libwebm.so
  packages/webview_flutter_lwe/tizen/lib/armel/libwebp_lwe.so
  packages/webview_flutter_lwe/tizen/lib/i586/libclipper.so
  packages/webview_flutter_lwe/tizen/lib/i586/liblightweight-web-engine.flutter.so
  packages/webview_flutter_lwe/tizen/lib/i586/libmp4parse.so
  packages/webview_flutter_lwe/tizen/lib/i586/libskia_matrix.so
  packages/webview_flutter_lwe/tizen/lib/i586/libtuv.so
  packages/webview_flutter_lwe/tizen/lib/i586/libwebm.so
  packages/webview_flutter_lwe/tizen/lib/i586/libwebp_lwe.so
Labels: p: webview_flutter_lwe

update xx.so
  packages/video_player_avplay/CHANGELOG.md
  packages/video_player_avplay/README.md
  packages/video_player_avplay/pubspec.yaml
  packages/video_player_avplay/video_player_avplay.sln
Labels: p: video_player_avplay

remove video_player_avplay.sln
  packages/video_player_avplay/video_player_avplay.sln
Labels: p: video_player_avplay

[webview_flutter_lwe] Update lightweight web engine(1.3.7) (#799)
  packages/webview_flutter_lwe/CHANGELOG.md
  packages/webview_flutter_lwe/README.md
  packages/webview_flutter_lwe/pubspec.yaml
  packages/webview_flutter_lwe/tizen/lib/aarch64/libclipper.so
  packages/webview_flutter_lwe/tizen/lib/aarch64/liblightweight-web-engine.flutter.so
  packages/webview_flutter_lwe/tizen/lib/aarch64/libmp4parse.so
  packages/webview_flutter_lwe/tizen/lib/aarch64/libskia_matrix.so
  packages/webview_flutter_lwe/tizen/lib/aarch64/libtuv.so
  packages/webview_flutter_lwe/tizen/lib/aarch64/libwebm.so
  packages/webview_flutter_lwe/tizen/lib/aarch64/libwebp_lwe.so
  packages/webview_flutter_lwe/tizen/lib/armel/libclipper.so
  packages/webview_flutter_lwe/tizen/lib/armel/liblightweight-web-engine.flutter.so
  packages/webview_flutter_lwe/tizen/lib/armel/libmp4parse.so
  packages/webview_flutter_lwe/tizen/lib/armel/libskia_matrix.so
  packages/webview_flutter_lwe/tizen/lib/armel/libtuv.so
  packages/webview_flutter_lwe/tizen/lib/armel/libwebm.so
  packages/webview_flutter_lwe/tizen/lib/armel/libwebp_lwe.so
  packages/webview_flutter_lwe/tizen/lib/i586/libclipper.so
  packages/webview_flutter_lwe/tizen/lib/i586/liblightweight-web-engine.flutter.so
  packages/webview_flutter_lwe/tizen/lib/i586/libmp4parse.so
  packages/webview_flutter_lwe/tizen/lib/i586/libskia_matrix.so
  packages/webview_flutter_lwe/tizen/lib/i586/libtuv.so
  packages/webview_flutter_lwe/tizen/lib/i586/libwebm.so
  packages/webview_flutter_lwe/tizen/lib/i586/libwebp_lwe.so
Labels: p: webview_flutter_lwe

[url_launcher] Update url_launcher to 6.3.1.
  packages/url_launcher/CHANGELOG.md
  packages/url_launcher/README.md
  packages/url_launcher/example/pubspec.yaml
  packages/url_launcher/pubspec.yaml
Labels: p: url_launcher

Update the example app
  packages/url_launcher/example/lib/main.dart
Labels: p: url_launcher

Remove `file` scheme from supportedSchemes
  packages/url_launcher/lib/url_launcher_tizen.dart
Labels: p: url_launcher

add missing typo
  packages/url_launcher/pubspec.yaml
Labels: p: url_launcher

Revert 0.5.9 version, this PR will cause fail to play DRM issue.
  packages/video_player_avplay/CHANGELOG.md
  packages/video_player_avplay/README.md
  packages/video_player_avplay/pubspec.yaml
  packages/video_player_avplay/tizen/lib/armel/6.0/libdash.so
  packages/video_player_avplay/tizen/lib/armel/6.5/libdash.so
  packages/video_player_avplay/tizen/lib/armel/7.0/libdash.so
  packages/video_player_avplay/tizen/lib/armel/8.0/libdash.so
  packages/video_player_avplay/tizen/lib/armel/9.0/libdash.so
Labels: p: video_player_avplay

[video_player_avplay] Revert 0.5.9 version (#805)
  packages/video_player_avplay/CHANGELOG.md
  packages/video_player_avplay/README.md
  packages/video_player_avplay/pubspec.yaml
  packages/video_player_avplay/tizen/lib/armel/6.0/libdash.so
  packages/video_player_avplay/tizen/lib/armel/6.5/libdash.so
  packages/video_player_avplay/tizen/lib/armel/7.0/libdash.so
  packages/video_player_avplay/tizen/lib/armel/8.0/libdash.so
  packages/video_player_avplay/tizen/lib/armel/9.0/libdash.so
Labels: p: video_player_avplay

[url_launcher] Update url_launcher to 6.3.1 (#803)
  packages/url_launcher/CHANGELOG.md
  packages/url_launcher/README.md
  packages/url_launcher/example/lib/main.dart
  packages/url_launcher/example/pubspec.yaml
  packages/url_launcher/lib/url_launcher_tizen.dart
  packages/url_launcher/pubspec.yaml
Labels: p: url_launcher

merge 8.0libdash.so
  packages/video_player_avplay/tizen/lib/armel/8.0/libdash.so
Labels: p: video_player_avplay

[webview_flutter_lwe] Update webview_flutter to 4.10.0
  packages/webview_flutter_lwe/CHANGELOG.md
  packages/webview_flutter_lwe/README.md
  packages/webview_flutter_lwe/example/lib/main.dart
  packages/webview_flutter_lwe/example/pubspec.yaml
  packages/webview_flutter_lwe/lib/src/lwe_webview.dart
  packages/webview_flutter_lwe/lib/src/lwe_webview_controller.dart
  packages/webview_flutter_lwe/pubspec.yaml
  packages/webview_flutter_lwe/tizen/src/webview.cc
  packages/webview_flutter_lwe/tizen/src/webview.h
Labels: p: webview_flutter_lwe

Fix deadlock issue
  packages/webview_flutter_lwe/CHANGELOG.md
  packages/webview_flutter_lwe/example/lib/main.dart
  packages/webview_flutter_lwe/example/pubspec.yaml
  packages/webview_flutter_lwe/tizen/src/message_dispatcher.cc
  packages/webview_flutter_lwe/tizen/src/webview.cc
  packages/webview_flutter_lwe/tizen/src/webview.h
Labels: p: webview_flutter_lwe

[video_player] Add ignore analyzer option to fix analyze warning
  packages/video_player/CHANGELOG.md
  packages/video_player/lib/video_player_tizen.dart
Labels: p: video_player

Remove unnecessary dependency
  packages/webview_flutter_lwe/example/pubspec.yaml
Labels: p: webview_flutter_lwe

[video_player] Add ignore analyzer option to fix analyze warning (#808)
  packages/video_player/CHANGELOG.md
  packages/video_player/lib/video_player_tizen.dart
Labels: p: video_player

[webview_flutter_lwe] Update webview_flutter to 4.10.0 (#804)
  packages/webview_flutter_lwe/CHANGELOG.md
  packages/webview_flutter_lwe/README.md
  packages/webview_flutter_lwe/example/lib/main.dart
  packages/webview_flutter_lwe/example/pubspec.yaml
  packages/webview_flutter_lwe/lib/src/lwe_webview.dart
  packages/webview_flutter_lwe/lib/src/lwe_webview_controller.dart
  packages/webview_flutter_lwe/pubspec.yaml
  packages/webview_flutter_lwe/tizen/src/message_dispatcher.cc
  packages/webview_flutter_lwe/tizen/src/webview.cc
  packages/webview_flutter_lwe/tizen/src/webview.h
Labels: p: webview_flutter_lwe

synchronize isPlaying state
  packages/video_player_avplay/example/tizen/tizen-manifest.xml
  packages/video_player_avplay/lib/src/closed_caption_file.dart
  packages/video_player_avplay/lib/src/video_player_tizen.dart
  packages/video_player_avplay/lib/video_player.dart
  packages/video_player_avplay/lib/video_player_platform_interface.dart
  packages/video_player_avplay/tizen/src/plus_player.cc
  packages/video_player_avplay/tizen/src/video_player.cc
  packages/video_player_avplay/tizen/src/video_player.h
Labels: p: video_player_avplay

[webview_flutter_tizen] Update webview_flutter to 4.10.0
  packages/webview_flutter/CHANGELOG.md
  packages/webview_flutter/README.md
  packages/webview_flutter/example/lib/main.dart
  packages/webview_flutter/example/pubspec.yaml
  packages/webview_flutter/lib/src/tizen_webview.dart
  packages/webview_flutter/lib/src/tizen_webview_controller.dart
  packages/webview_flutter/pubspec.yaml
  packages/webview_flutter/tizen/src/ewk_internal_api_binding.cc
  packages/webview_flutter/tizen/src/ewk_internal_api_binding.h
  packages/webview_flutter/tizen/src/webview.cc
  packages/webview_flutter/tizen/src/webview.h
Labels: p: webview_flutter

synchronize isPlaying state in media_player
  packages/video_player_avplay/tizen/src/media_player.cc
Labels: p: video_player_avplay

update version
  packages/video_player_avplay/CHANGELOG.md
  packages/video_player_avplay/README.md
  packages/video_player_avplay/pubspec.yaml
Labels: p: video_player_avplay

modify api-version
  packages/video_player_avplay/example/tizen/tizen-manifest.xml
Labels: p: video_player_avplay

modify function name
  packages/video_player_avplay/tizen/src/media_player.cc
  packages/video_player_avplay/tizen/src/plus_player.cc
  packages/video_player_avplay/tizen/src/video_player.cc
  packages/video_player_avplay/tizen/src/video_player.h
Labels: p: video_player_avplay

Fix typo
  packages/webview_flutter/lib/src/tizen_webview.dart
  packages/webview_flutter/lib/src/tizen_webview_controller.dart
  packages/webview_flutter/tizen/src/ewk_internal_api_binding.cc
  packages/webview_flutter/tizen/src/ewk_internal_api_binding.h
  packages/webview_flutter/tizen/src/webview.cc
Labels: p: webview_flutter

synchronize isPlaying state
  packages/video_player_avplay/CHANGELOG.md
  packages/video_player_avplay/README.md
  packages/video_player_avplay/lib/src/closed_caption_file.dart
  packages/video_player_avplay/lib/src/video_player_tizen.dart
  packages/video_player_avplay/lib/video_player.dart
  packages/video_player_avplay/lib/video_player_platform_interface.dart
  packages/video_player_avplay/pubspec.yaml
  packages/video_player_avplay/tizen/src/media_player.cc
  packages/video_player_avplay/tizen/src/plus_player.cc
  packages/video_player_avplay/tizen/src/video_player.cc
  packages/video_player_avplay/tizen/src/video_player.h
Labels: p: video_player_avplay

[webview_flutter_lwe] Update lightweight web engine(1.3.8)
  packages/webview_flutter_lwe/CHANGELOG.md
  packages/webview_flutter_lwe/README.md
  packages/webview_flutter_lwe/tizen/lib/aarch64/libclipper.so
  packages/webview_flutter_lwe/tizen/lib/aarch64/liblightweight-web-engine.flutter.so
  packages/webview_flutter_lwe/tizen/lib/aarch64/libmp4parse.so
  packages/webview_flutter_lwe/tizen/lib/aarch64/libskia_matrix.so
  packages/webview_flutter_lwe/tizen/lib/aarch64/libtuv.so
  packages/webview_flutter_lwe/tizen/lib/aarch64/libwebm.so
  packages/webview_flutter_lwe/tizen/lib/armel/libclipper.so
  packages/webview_flutter_lwe/tizen/lib/armel/liblightweight-web-engine.flutter.so
  packages/webview_flutter_lwe/tizen/lib/armel/libmp4parse.so
  packages/webview_flutter_lwe/tizen/lib/armel/libskia_matrix.so
  packages/webview_flutter_lwe/tizen/lib/armel/libtuv.so
  packages/webview_flutter_lwe/tizen/lib/armel/libwebm.so
  packages/webview_flutter_lwe/tizen/lib/i586/libclipper.so
  packages/webview_flutter_lwe/tizen/lib/i586/liblightweight-web-engine.flutter.so
  packages/webview_flutter_lwe/tizen/lib/i586/libmp4parse.so
  packages/webview_flutter_lwe/tizen/lib/i586/libskia_matrix.so
  packages/webview_flutter_lwe/tizen/lib/i586/libtuv.so
  packages/webview_flutter_lwe/tizen/lib/i586/libwebm.so
Labels: p: webview_flutter_lwe

add missing pubspec.yaml
  packages/webview_flutter_lwe/pubspec.yaml
Labels: p: webview_flutter_lwe

[webview_flutter_lwe] Update lightweight web engine(1.3.8) (#813)
  packages/webview_flutter_lwe/CHANGELOG.md
  packages/webview_flutter_lwe/README.md
  packages/webview_flutter_lwe/pubspec.yaml
  packages/webview_flutter_lwe/tizen/lib/aarch64/libclipper.so
  packages/webview_flutter_lwe/tizen/lib/aarch64/liblightweight-web-engine.flutter.so
  packages/webview_flutter_lwe/tizen/lib/aarch64/libmp4parse.so
  packages/webview_flutter_lwe/tizen/lib/aarch64/libskia_matrix.so
  packages/webview_flutter_lwe/tizen/lib/aarch64/libtuv.so
  packages/webview_flutter_lwe/tizen/lib/aarch64/libwebm.so
  packages/webview_flutter_lwe/tizen/lib/armel/libclipper.so
  packages/webview_flutter_lwe/tizen/lib/armel/liblightweight-web-engine.flutter.so
  packages/webview_flutter_lwe/tizen/lib/armel/libmp4parse.so
  packages/webview_flutter_lwe/tizen/lib/armel/libskia_matrix.so
  packages/webview_flutter_lwe/tizen/lib/armel/libtuv.so
  packages/webview_flutter_lwe/tizen/lib/armel/libwebm.so
  packages/webview_flutter_lwe/tizen/lib/i586/libclipper.so
  packages/webview_flutter_lwe/tizen/lib/i586/liblightweight-web-engine.flutter.so
  packages/webview_flutter_lwe/tizen/lib/i586/libmp4parse.so
  packages/webview_flutter_lwe/tizen/lib/i586/libskia_matrix.so
  packages/webview_flutter_lwe/tizen/lib/i586/libtuv.so
  packages/webview_flutter_lwe/tizen/lib/i586/libwebm.so
Labels: p: webview_flutter_lwe

change isPlayingState to isPlaying
  packages/video_player_avplay/lib/src/video_player_tizen.dart
  packages/video_player_avplay/lib/video_player.dart
  packages/video_player_avplay/lib/video_player_platform_interface.dart
  packages/video_player_avplay/tizen/src/video_player.cc
Labels: p: video_player_avplay

.github/labeler.yml:

# Packages
"p: audioplayers":
  - packages/audioplayers/**/*
"p: battery_plus":
  - packages/battery_plus/**/*
"p: camera":
  - packages/camera/**/*
"p: connectivity_plus":
  - packages/connectivity_plus/**/*
"p: device_info_plus":
  - packages/device_info_plus/**/*
"p: firebase_core":
  - packages/firebase_core/**/*
"p: flutter_app_badger":
  - packages/flutter_app_badger/**/*
"p: flutter_secure_storage":
  - packages/flutter_secure_storage/**/*
"p: flutter_tts":
  - packages/flutter_tts/**/*
"p: flutter_webrtc":
  - packages/flutter_webrtc/**/*
"p: geolocator":
  - packages/geolocator/**/*
"p: google_maps_flutter":
  - packages/google_maps_flutter/**/*
"p: google_sign_in":
  - packages/google_sign_in/**/*
"p: image_picker":
  - packages/image_picker/**/*
"p: in_app_purchase":
  - packages/in_app_purchase/**/*
"p: integration_test":
  - packages/integration_test/**/*
"p: messageport":
  - packages/messageport/**/*
"p: network_info_plus":
  - packages/network_info_plus/**/*
"p: package_info_plus":
  - packages/package_info_plus/**/*
"p: path_provider":
  - packages/path_provider/**/*
"p: permission_handler":
  - packages/permission_handler/**/*
"p: sensors_plus":
  - packages/sensors_plus/**/*
"p: shared_preferences":
  - packages/shared_preferences/**/*
"p: sqflite":
  - packages/sqflite/**/*
"p: tizen_app_control":
  - packages/tizen_app_control/**/*
"p: tizen_app_manager":
  - packages/tizen_app_manager/**/*
"p: tizen_audio_manager":
  - packages/tizen_audio_manager/**/*
"p: tizen_bundle":
  - packages/tizen_bundle/**/*
"p: tizen_log":
  - packages/tizen_log/**/*
"p: tizen_notification":
  - packages/tizen_notification/**/*
"p: tizen_package_manager":
  - packages/tizen_package_manager/**/*
"p: tizen_rpc_port":
  - packages/tizen_rpc_port/**/*
"p: url_launcher":
  - packages/url_launcher/**/*
"p: video_player":
  - packages/video_player/**/*
"p: video_player_avplay":
  - packages/video_player_avplay/**/*
"p: video_player_videohole":
  - packages/video_player_videohole/**/*
"p: wakelock_plus":
  - packages/wakelock_plus/**/*
"p: wearable_rotary":
  - packages/wearable_rotary/**/*
"p: webview_flutter":
  - packages/webview_flutter/**/*
"p: webview_flutter_lwe":
  - packages/webview_flutter_lwe/**/*

# Tools
"tools":
  - tools/**/*
