Repository flutter-tizen/plugins, changes with the labels that .github/labeler.yml gives for each.
All labels: p: audioplayers, p: battery_plus, p: camera, p: connectivity_plus, p: device_info_plus, p: firebase_core, p: flutter_app_badger, p: flutter_secure_storage, p: flutter_tts, p: flutter_webrtc, p: geolocator, p: google_maps_flutter, p: google_sign_in, p: image_picker, p: in_app_purchase, p: integration_test, p: messageport, p: network_info_plus, p: package_info_plus, p: path_provider, p: permission_handler, p: sensors_plus, p: shared_preferences, p: sqflite, p: tizen_app_control, p: tizen_app_manager, p: tizen_audio_manager, p: tizen_bundle, p: tizen_log, p: tizen_notification, p: tizen_package_manager, p: tizen_rpc_port, p: url_launcher, p: video_player, p: video_player_avplay, p: video_player_videohole, p: wakelock_plus, p: wearable_rotary, p: webview_flutter, p: webview_flutter_lwe, tools

.github/labeler.yml:

# Packages
"p: audioplayers":
  - packages/audioplayers/**/*
"p: battery_plus":
  - packages/battery_plus/**/*
"p: camera":
  - packages/camera/**/*
"p: connectivity_plus":
  - packages/connectivity_plus/**/*
"p: device_info_plus":
  - packages/device_info_plus/**/*
"p: firebase_core":
  - packages/firebase_core/**/*
"p: flutter_app_badger":
  - packages/flutter_app_badger/**/*
"p: flutter_secure_storage":
  - packages/flutter_secure_storage/**/*
"p: flutter_tts":
  - packages/flutter_tts/**/*
"p: flutter_webrtc":
  - packages/flutter_webrtc/**/*
"p: geolocator":
  - packages/geolocator/**/*
"p: google_maps_flutter":
  - packages/google_maps_flutter/**/*
"p: google_sign_in":
  - packages/google_sign_in/**/*
"p: image_picker":
  - packages/image_picker/**/*
"p: in_app_purchase":
  - packages/in_app_purchase/**/*
"p: integration_test":
  - packages/integration_test/**/*
"p: messageport":
  - packages/messageport/**/*
"p: network_info_plus":
  - packages/network_info_plus/**/*
"p: package_info_plus":
  - packages/package_info_plus/**/*
"p: path_provider":
  - packages/path_provider/**/*
"p: permission_handler":
  - packages/permission_handler/**/*
"p: sensors_plus":
  - packages/sensors_plus/**/*
"p: shared_preferences":
  - packages/shared_preferences/**/*
"p: sqflite":
  - packages/sqflite/**/*
"p: tizen_app_control":
  - packages/tizen_app_control/**/*
"p: tizen_app_manager":
  - packages/tizen_app_manager/**/*
"p: tizen_audio_manager":
  - packages/tizen_audio_manager/**/*
"p: tizen_bundle":
  - packages/tizen_bundle/**/*
"p: tizen_log":
  - packages/tizen_log/**/*
"p: tizen_notification":
  - packages/tizen_notification/**/*
"p: tizen_package_manager":
  - packages/tizen_package_manager/**/*
"p: tizen_rpc_port":
  - packages/tizen_rpc_port/**/*
"p: url_launcher":
  - packages/url_launcher/**/*
"p: video_player":
  - packages/video_player/**/*
"p: video_player_avplay":
  - packages/video_player_avplay/**/*
"p: video_player_videohole":
  - packages/video_player_videohole/**/*
"p: wakelock_plus":
  - packages/wakelock_plus/**/*
"p: wearable_rotary":
  - packages/wearable_rotary/**/*
"p: webview_flutter":
  - packages/webview_flutter/**/*
"p: webview_flutter_lwe":
  - packages/webview_flutter_lwe/**/*

# Tools
"tools":
  - tools/**/*

fix update token issue
  packages/video_player_avplay/tizen/lib/armel/10.0/libdash.so
  packages/video_player_avplay/tizen/lib/armel/6.0/libdash.so
  packages/video_player_avplay/tizen/lib/armel/6.5/libdash.so
  packages/video_player_avplay/tizen/lib/armel/7.0/libdash.so
  packages/video_player_avplay/tizen/lib/armel/8.0/libdash.so
  packages/video_player_avplay/tizen/lib/armel/9.0/libdash.so
Labels: p: video_player_avplay

update version
  packages/video_player_avplay/CHANGELOG.md
  packages/video_player_avplay/README.md
  packages/video_player_avplay/pubspec.yaml
Labels: p: video_player_avplay

[video_player_avplay] Update plusplayer for DASH (#917)
  packages/video_player_avplay/CHANGELOG.md
  packages/video_player_avplay/README.md
  packages/video_player_avplay/pubspec.yaml
  packages/video_player_avplay/tizen/lib/armel/10.0/libdash.so
  packages/video_player_avplay/tizen/lib/armel/6.0/libdash.so
  packages/video_player_avplay/tizen/lib/armel/6.5/libdash.so
  packages/video_player_avplay/tizen/lib/armel/7.0/libdash.so
  packages/video_player_avplay/tizen/lib/armel/8.0/libdash.so
  packages/video_player_avplay/tizen/lib/armel/9.0/libdash.so
Labels: p: video_player_avplay

Support Tizen10.0 publishing
  packages/video_player_avplay/example/pubspec.yaml
  packages/video_player_avplay/lib/video_player.dart
  packages/video_player_avplay/pubspec.yaml
  packages/video_player_avplay/tizen/lib/armel/9.0/libavcodec_common.so
  packages/video_player_avplay/tizen/lib/armel/9.0/libavformat_mmdash.so
  packages/video_player_avplay/tizen/lib/armel/9.0/libavformat_mmhls.so
  packages/video_player_avplay/tizen/lib/armel/9.0/libavformat_mmhttp.so
  packages/video_player_avplay/tizen/lib/armel/9.0/libavutil_common.so
  packages/video_player_avplay/tizen/lib/armel/9.0/libdash.so
  packages/video_player_avplay/tizen/lib/armel/9.0/libdashplusplayer_tvplus.so
  packages/video_player_avplay/tizen/lib/armel/9.0/libgstdash.so
  packages/video_player_avplay/tizen/lib/armel/9.0/libgsthls.so
  packages/video_player_avplay/tizen/lib/armel/9.0/libgsthttpdemux.so
  packages/video_player_avplay/tizen/lib/armel/9.0/libgstmmhttpsrc.so
  packages/video_player_avplay/tizen/lib/armel/9.0/libgstsubtitle_tvplus.so
  packages/video_player_avplay/tizen/lib/armel/9.0/libgstsubtitleparse_tvplus.so
  packages/video_player_avplay/tizen/lib/armel/9.0/libhls.so
  packages/video_player_avplay/tizen/lib/armel/9.0/libplusplayer-wrapper.so
  packages/video_player_avplay/tizen/lib/armel/9.0/libplusplayer_tvplus.so
  packages/video_player_avplay/tizen/lib/armel/9.0/libplusplayercore_tvplus.so
  packages/video_player_avplay/tizen/lib/armel/9.0/libtracksource_tvplus.so
Labels: p: video_player_avplay

[tizen_package_manager] Add retrieve package size information
  packages/tizen_package_manager/CHANGELOG.md
  packages/tizen_package_manager/README.md
  packages/tizen_package_manager/example/lib/main.dart
  packages/tizen_package_manager/lib/tizen_package_manager.dart
  packages/tizen_package_manager/pubspec.yaml
  packages/tizen_package_manager/tizen/src/tizen_package_manager.cc
  packages/tizen_package_manager/tizen/src/tizen_package_manager.h
  packages/tizen_package_manager/tizen/src/tizen_package_manager_plugin.cc
Labels: p: tizen_package_manager

Fix dart format
  packages/tizen_package_manager/lib/tizen_package_manager.dart
Labels: p: tizen_package_manager

Fix analyze issues
  packages/tizen_package_manager/example/lib/main.dart
  packages/tizen_package_manager/lib/tizen_package_manager.dart
Labels: p: tizen_package_manager

Add integration test
  packages/tizen_package_manager/example/integration_test/tizen_package_manager_test.dart
Labels: p: tizen_package_manager

[tizen_package_manager] Add retrieve package size information (#919)
  packages/tizen_package_manager/CHANGELOG.md
  packages/tizen_package_manager/README.md
  packages/tizen_package_manager/example/integration_test/tizen_package_manager_test.dart
  packages/tizen_package_manager/example/lib/main.dart
  packages/tizen_package_manager/lib/tizen_package_manager.dart
  packages/tizen_package_manager/pubspec.yaml
  packages/tizen_package_manager/tizen/src/tizen_package_manager.cc
  packages/tizen_package_manager/tizen/src/tizen_package_manager.h
  packages/tizen_package_manager/tizen/src/tizen_package_manager_plugin.cc
Labels: p: tizen_package_manager

Fix format issue
  packages/video_player_avplay/tizen/inc/plusplayer_capi/property.h
  packages/video_player_avplay/tizen/inc/plusplayer_capi/track.h
  packages/video_player_avplay/tizen/inc/plusplayer_capi/track_capi.h
  packages/video_player_avplay/tizen/src/drm_manager.cc
  packages/video_player_avplay/tizen/src/drm_manager.h
  packages/video_player_avplay/tizen/src/plus_player.cc
  packages/video_player_avplay/tizen/src/plus_player.h
  packages/video_player_avplay/tizen/src/plus_player_util.cc
Labels: p: video_player_avplay

Fix plus_player_util.h format issue
  packages/video_player_avplay/tizen/src/plus_player_util.h
Labels: p: video_player_avplay

fix audio issue
  packages/video_player_avplay/tizen/lib/armel/10.0/libdash.so
  packages/video_player_avplay/tizen/lib/armel/10.0/libtracksource_tvplus.so
  packages/video_player_avplay/tizen/lib/armel/6.0/libdash.so
  packages/video_player_avplay/tizen/lib/armel/6.0/libtracksource_tvplus.so
  packages/video_player_avplay/tizen/lib/armel/6.5/libdash.so
  packages/video_player_avplay/tizen/lib/armel/6.5/libtracksource_tvplus.so
  packages/video_player_avplay/tizen/lib/armel/7.0/libdash.so
  packages/video_player_avplay/tizen/lib/armel/7.0/libtracksource_tvplus.so
  packages/video_player_avplay/tizen/lib/armel/8.0/libdash.so
  packages/video_player_avplay/tizen/lib/armel/8.0/libtracksource_tvplus.so
  packages/video_player_avplay/tizen/lib/armel/9.0/libdash.so
  packages/video_player_avplay/tizen/lib/armel/9.0/libtracksource_tvplus.so
Labels: p: video_player_avplay

Update SetData and GetData
  packages/video_player_avplay/tizen/src/plus_player.cc
Labels: p: video_player_avplay

Remove not used code
  packages/video_player_avplay/tizen/src/plus_player.cc
Labels: p: video_player_avplay

Fix issues
  packages/video_player_avplay/tizen/src/plus_player.cc
  packages/video_player_avplay/tizen/src/plus_player.h
Labels: p: video_player_avplay

Verify track related interfaces
  packages/video_player_avplay/tizen/src/plus_player.cc
  packages/video_player_avplay/tizen/src/plus_player_util.cc
Labels: p: video_player_avplay

Add ConvertDisplayMode and ConvertDisplayRotationType method
  packages/video_player_avplay/tizen/src/plus_player.cc
  packages/video_player_avplay/tizen/src/plus_player_util.cc
  packages/video_player_avplay/tizen/src/plus_player_util.h
Labels: p: video_player_avplay

Add PreSet method
  packages/video_player_avplay/tizen/src/plus_player.cc
  packages/video_player_avplay/tizen/src/plus_player.h
Labels: p: video_player_avplay

Replace plusplayer_get_track_language_code with plusplayer_get_track_lang_code
  packages/video_player_avplay/tizen/src/plus_player.cc
Labels: p: video_player_avplay

Introduce tizen_window_manager plugin
  packages/tizen_window_manager/.gitignore
  packages/tizen_window_manager/CHANGELOG.md
  packages/tizen_window_manager/LICENSE
  packages/tizen_window_manager/README.md
  packages/tizen_window_manager/example/.gitignore
  packages/tizen_window_manager/example/README.md
  packages/tizen_window_manager/example/lib/main.dart
  packages/tizen_window_manager/example/pubspec.yaml
  packages/tizen_window_manager/example/tizen/.gitignore
  packages/tizen_window_manager/example/tizen/App.cs
  packages/tizen_window_manager/example/tizen/Runner.csproj
  packages/tizen_window_manager/example/tizen/shared/res/ic_launcher.png
  packages/tizen_window_manager/example/tizen/tizen-manifest.xml
  packages/tizen_window_manager/lib/tizen_window_manager.dart
  packages/tizen_window_manager/pubspec.yaml
  packages/tizen_window_manager/tizen/.gitignore
  packages/tizen_window_manager/tizen/inc/tizen_window_manager_plugin.h
  packages/tizen_window_manager/tizen/project_def.prop
  packages/tizen_window_manager/tizen/src/ecore_wl2_window_proxy.cc
  packages/tizen_window_manager/tizen/src/ecore_wl2_window_proxy.h
  packages/tizen_window_manager/tizen/src/log.h
  packages/tizen_window_manager/tizen/src/tizen_window_manager.cc
  packages/tizen_window_manager/tizen/src/tizen_window_manager.h
  packages/tizen_window_manager/tizen/src/tizen_window_manager_plugin.cc
Labels: none

Fix typo
  packages/tizen_window_manager/pubspec.yaml
Labels: none

Add integration_test
  .github/recipe.yaml
  packages/tizen_window_manager/README.md
  packages/tizen_window_manager/example/integration_test/tizen_window_manager_test.dart
  packages/tizen_window_manager/example/lib/main.dart
  packages/tizen_window_manager/example/pubspec.yaml
  packages/tizen_window_manager/example/test_driver/integration_test.dart
  packages/tizen_window_manager/lib/tizen_window_manager.dart
Labels: none

Add readme
  README.md
Labels: none

Remove plusplayer_capi.h from drm_manager.
  packages/video_player_avplay/tizen/src/drm_manager.cc
  packages/video_player_avplay/tizen/src/drm_manager.h
Labels: p: video_player_avplay

Add GetExtraStreamingProperty
  packages/video_player_avplay/tizen/src/plus_player.cc
  packages/video_player_avplay/tizen/src/plus_player.h
Labels: p: video_player_avplay

Rename plusplayer to plusplayer_downloadable
  packages/video_player_avplay/tizen/src/plusplayer_downloadable.cc
  packages/video_player_avplay/tizen/src/plusplayer_downloadable.h
  packages/video_player_avplay/tizen/src/video_player_tizen_plugin.cc
Labels: p: video_player_avplay

Add IsPlatformPlusPlayerAvailable method
  packages/video_player_avplay/tizen/src/video_player_tizen_plugin.cc
Labels: p: video_player_avplay
