Repository flutter-tizen/plugins, changes with the labels that .github/labeler.yml gives for each.
All labels: p: audioplayers, p: battery_plus, p: camera, p: connectivity_plus, p: device_info_plus, p: flutter_tts, p: geolocator, p: google_maps_flutter, p: image_picker, p: integration_test, p: messageport, p: network_info_plus, p: package_info_plus, p: path_provider, p: permission_handler, p: sensors_plus, p: share_plus, p: shared_preferences, p: sqflite, p: tizen_app_control, p: tizen_app_manager, p: tizen_audio_manager, p: tizen_log, p: tizen_notification, p: tizen_package_manager, p: url_launcher, p: video_player, p: wakelock, p: wearable_rotary, p: webview_flutter, tools

.github/labeler.yml:

# Packages
'p: audioplayers':
  - packages/audioplayers/**/*
'p: battery_plus':
  - packages/battery_plus/**/*
'p: camera':
  - packages/camera/**/*
'p: connectivity_plus':
  - packages/connectivity_plus/**/*
'p: device_info_plus':
  - packages/device_info_plus/**/*
'p: flutter_tts':
  - packages/flutter_tts/**/*
'p: geolocator':
  - packages/geolocator/**/*
'p: google_maps_flutter':
  - packages/google_maps_flutter/**/*
'p: image_picker':
  - packages/image_picker/**/*
'p: integration_test':
  - packages/integration_test/**/*
'p: messageport':
  - packages/messageport/**/*
'p: network_info_plus':
  - packages/network_info_plus/**/*
'p: package_info_plus':
  - packages/package_info_plus/**/*
'p: path_provider':
  - packages/path_provider/**/*
'p: permission_handler':
  - packages/permission_handler/**/*
'p: sensors_plus':
  - packages/sensors_plus/**/*
'p: share_plus':
  - packages/share_plus/**/*
'p: shared_preferences':
  - packages/shared_preferences/**/*
'p: sqflite':
  - packages/sqflite/**/*
'p: tizen_app_control':
  - packages/tizen_app_control/**/*
'p: tizen_app_manager':
  - packages/tizen_app_manager/**/*
'p: tizen_audio_manager':
  - packages/tizen_audio_manager/**/*
'p: tizen_log':
  - packages/tizen_log/**/*
'p: tizen_notification':
  - packages/tizen_notification/**/*
'p: tizen_package_manager':
  - packages/tizen_package_manager/**/*
'p: url_launcher':
  - packages/url_launcher/**/*
'p: video_player':
  - packages/video_player/**/*
'p: wakelock':
  - packages/wakelock/**/*
'p: wearable_rotary':
  - packages/wearable_rotary/**/*
'p: webview_flutter':
  - packages/webview_flutter/**/*

# Tools
'tools':
  - tools/**/*

Update path_provider
  packages/path_provider/CHANGELOG.md
  packages/path_provider/example/lib/main.dart
Labels: p: path_provider

Update url_launcher
  packages/url_launcher/example/lib/main.dart
Labels: p: url_launcher

Update shared_preferences
  packages/shared_preferences/example/lib/main.dart
  packages/shared_preferences/lib/shared_preferences_tizen.dart
  packages/shared_preferences/lib/src/bindings.dart
Labels: p: shared_preferences

Use subosito/flutter-action
  .github/workflows/release.yml
Labels: none

Disallow neutral conclusion in publishing check
  .github/workflows/release.yml
Labels: none

Update Tizen Studio to 4.6 (#391)
  .github/workflows/build.yml
Labels: none

Remove unused index_ from BufferUnit
  packages/webview_flutter/tizen/src/buffer_pool.cc
  packages/webview_flutter/tizen/src/buffer_pool.h
Labels: p: webview_flutter

Update wearable_rotary
  packages/wearable_rotary/example/lib/custom_page_view.dart
  packages/wearable_rotary/example/lib/main.dart
Labels: p: wearable_rotary

Update tizen_audio_manager
  packages/tizen_audio_manager/example/lib/main.dart
Labels: p: tizen_audio_manager

Update messageport_tizen
  packages/messageport/example/lib/main.dart
Labels: p: messageport

Update tizen_app_control
  packages/tizen_app_control/example/integration_test/tizen_app_control_test.dart
  packages/tizen_app_control/example/lib/main.dart
  packages/tizen_app_control/lib/app_control.dart
  packages/tizen_app_control/lib/src/ffi.dart
  packages/tizen_app_control/lib/src/utils.dart
Labels: p: tizen_app_control

Update tizen_app_manager
  packages/tizen_app_manager/lib/app_manager.dart
  packages/tizen_app_manager/lib/src/app_context.dart
Labels: p: tizen_app_manager

Update tizen_notification
  packages/tizen_notification/example/lib/main.dart
  packages/tizen_notification/lib/tizen_notification.dart
Labels: p: tizen_notification

ignore_for_file: public_member_api_docs
  packages/tizen_app_manager/example/lib/main.dart
  packages/tizen_log/example/lib/main.dart
  packages/tizen_notification/example/lib/main.dart
  packages/tizen_package_manager/example/lib/main.dart
  packages/wearable_rotary/example/lib/main.dart
Labels: p: tizen_app_manager, p: tizen_log, p: tizen_notification, p: tizen_package_manager, p: wearable_rotary

Update analysis options
  analysis_options.yaml
Labels: none

Remove obsolete dependency on pedantic
  packages/shared_preferences/example/pubspec.yaml
  packages/shared_preferences/pubspec.yaml
  packages/url_launcher/example/pubspec.yaml
  packages/url_launcher/pubspec.yaml
Labels: p: shared_preferences, p: url_launcher

Minor type fix
  packages/webview_flutter/tizen/src/webview.cc
Labels: p: webview_flutter

[webview_flutter] Refactor the C++ code (#383)
  packages/webview_flutter/CHANGELOG.md
  packages/webview_flutter/tizen/src/buffer_pool.cc
  packages/webview_flutter/tizen/src/buffer_pool.h
  packages/webview_flutter/tizen/src/webview.cc
  packages/webview_flutter/tizen/src/webview.h
  packages/webview_flutter/tizen/src/webview_factory.cc
  packages/webview_flutter/tizen/src/webview_factory.h
  packages/webview_flutter/tizen/src/webview_flutter_tizen_plugin.cc
Labels: p: webview_flutter

Sync flutter/plugins analysis options (#395)
  analysis_options.yaml
  packages/integration_test/example/lib/main.dart
  packages/messageport/example/lib/main.dart
  packages/path_provider/CHANGELOG.md
  packages/path_provider/example/lib/main.dart
  packages/shared_preferences/example/lib/main.dart
  packages/shared_preferences/example/pubspec.yaml
  packages/shared_preferences/lib/shared_preferences_tizen.dart
  packages/shared_preferences/lib/src/bindings.dart
  packages/shared_preferences/pubspec.yaml
  packages/tizen_app_control/example/integration_test/tizen_app_control_test.dart
  packages/tizen_app_control/example/lib/main.dart
  packages/tizen_app_control/lib/app_control.dart
  packages/tizen_app_control/lib/src/ffi.dart
  packages/tizen_app_control/lib/src/utils.dart
  packages/tizen_app_manager/example/lib/main.dart
  packages/tizen_app_manager/lib/app_manager.dart
  packages/tizen_app_manager/lib/src/app_context.dart
  packages/tizen_audio_manager/example/lib/main.dart
  packages/tizen_log/example/lib/main.dart
  packages/tizen_notification/example/lib/main.dart
  packages/tizen_notification/lib/tizen_notification.dart
  packages/tizen_package_manager/example/lib/main.dart
  packages/url_launcher/example/lib/main.dart
  packages/url_launcher/example/pubspec.yaml
  packages/url_launcher/pubspec.yaml
  packages/wearable_rotary/example/lib/custom_page_view.dart
  packages/wearable_rotary/example/lib/main.dart
Labels: p: integration_test, p: messageport, p: path_provider, p: shared_preferences, p: tizen_app_control, p: tizen_app_manager, p: tizen_audio_manager, p: tizen_log, p: tizen_notification, p: tizen_package_manager, p: url_launcher, p: wearable_rotary

[image_picker] Migrate to new analysis options (#393)
  packages/image_picker/CHANGELOG.md
  packages/image_picker/analysis_options.yaml
  packages/image_picker/example/lib/main.dart
  packages/image_picker/example/pubspec.yaml
  packages/image_picker/pubspec.yaml
Labels: p: image_picker

Apply review suggestions
  .github/workflows/release.yml
  tools/lib/src/main.dart
  tools/lib/src/publish_plugin_command.dart
Labels: tools

Support terminating background applications
  packages/tizen_app_manager/lib/app_manager.dart
  packages/tizen_app_manager/lib/src/app_context.dart
Labels: p: tizen_app_manager
