Repository flutter-tizen/plugins, changes with the labels that .github/labeler.yml gives for each.
All labels: p: audioplayers, p: battery_plus, p: camera, p: connectivity_plus, p: device_info_plus, p: firebase_core, p: flutter_app_badger, p: flutter_secure_storage, p: flutter_tts, p: flutter_webrtc, p: geolocator, p: google_maps_flutter, p: google_sign_in, p: image_picker, p: in_app_purchase, p: integration_test, p: messageport, p: network_info_plus, p: package_info_plus, p: path_provider, p: permission_handler, p: sensors_plus, p: shared_preferences, p: sqflite, p: tizen_app_control, p: tizen_app_manager, p: tizen_audio_manager, p: tizen_bundle, p: tizen_log, p: tizen_notification, p: tizen_package_manager, p: tizen_rpc_port, p: url_launcher, p: video_player, p: video_player_avplay, p: video_player_videohole, p: wakelock_plus, p: wearable_rotary, p: webview_flutter, p: webview_flutter_lwe, tools

[webview_flutter_lwe] Fix bugs for Tizen 10.0 support
  packages/webview_flutter_lwe/tizen/project_def.prop
  packages/webview_flutter_lwe/tizen/src/buffer_pool.h
Labels: p: webview_flutter_lwe

Apply suggestions from code review
  packages/webview_flutter_lwe/tizen/src/buffer_pool.cc
  packages/webview_flutter_lwe/tizen/src/buffer_pool.h
Labels: p: webview_flutter_lwe

Update plugin's version to 0.3.9
  packages/webview_flutter_lwe/CHANGELOG.md
  packages/webview_flutter_lwe/README.md
  packages/webview_flutter_lwe/pubspec.yaml
Labels: p: webview_flutter_lwe

Fix code format
  packages/webview_flutter_lwe/tizen/src/buffer_pool.cc
Labels: p: webview_flutter_lwe

[webview_flutter_lwe] Fix bugs for Tizen 10.0 support (#876)
  packages/webview_flutter_lwe/CHANGELOG.md
  packages/webview_flutter_lwe/README.md
  packages/webview_flutter_lwe/pubspec.yaml
  packages/webview_flutter_lwe/tizen/project_def.prop
  packages/webview_flutter_lwe/tizen/src/buffer_pool.cc
Labels: p: webview_flutter_lwe

[flutter_tts] Fix bugs for Tizen 10.0 support
  packages/flutter_tts/CHANGELOG.md
  packages/flutter_tts/README.md
  packages/flutter_tts/pubspec.yaml
  packages/flutter_tts/tizen/src/text_to_speech.cc
Labels: p: flutter_tts

[flutter_tts] Fix bugs for Tizen 10.0 support (#878)
  packages/flutter_tts/CHANGELOG.md
  packages/flutter_tts/README.md
  packages/flutter_tts/pubspec.yaml
  packages/flutter_tts/tizen/src/text_to_speech.cc
Labels: p: flutter_tts

Fix integration test bugs
  packages/tizen_app_manager/example/integration_test/tizen_app_manager_test.dart
  packages/tizen_audio_manager/example/integration_test/audio_manager_test.dart
  packages/tizen_audio_manager/example/test_driver/integration_test.dart
  packages/tizen_package_manager/lib/tizen_package_manager.dart
Labels: p: tizen_app_manager, p: tizen_audio_manager, p: tizen_package_manager

Apply reviewer's suggestions
  packages/tizen_app_manager/CHANGELOG.md
  packages/tizen_app_manager/example/integration_test/tizen_app_manager_test.dart
  packages/tizen_audio_manager/CHANGELOG.md
  packages/tizen_package_manager/CHANGELOG.md
  packages/tizen_package_manager/README.md
  packages/tizen_package_manager/lib/tizen_package_manager.dart
  packages/tizen_package_manager/pubspec.yaml
Labels: p: tizen_app_manager, p: tizen_audio_manager, p: tizen_package_manager

Fix integration test bugs (#881)
  packages/tizen_app_manager/CHANGELOG.md
  packages/tizen_app_manager/example/integration_test/tizen_app_manager_test.dart
  packages/tizen_audio_manager/CHANGELOG.md
  packages/tizen_audio_manager/example/integration_test/audio_manager_test.dart
  packages/tizen_audio_manager/example/test_driver/integration_test.dart
  packages/tizen_package_manager/CHANGELOG.md
  packages/tizen_package_manager/README.md
  packages/tizen_package_manager/lib/tizen_package_manager.dart
  packages/tizen_package_manager/pubspec.yaml
Labels: p: tizen_app_manager, p: tizen_audio_manager, p: tizen_package_manager

[ci] Add an action to automatically close long-inactived issues
  .github/workflows/analyze.yml
  .github/workflows/build.yml
  .github/workflows/close_issue.yml
  .github/workflows/integration_test.yml
  .github/workflows/pull_request_label.yml
  .github/workflows/release.yml
Labels: none

[ci] Add an action to automatically close long-inactived issues (#884)
  .github/workflows/analyze.yml
  .github/workflows/build.yml
  .github/workflows/close_issue.yml
  .github/workflows/integration_test.yml
  .github/workflows/pull_request_label.yml
  .github/workflows/release.yml
Labels: none

fix link error
  packages/in_app_purchase/CHANGELOG.md
  packages/in_app_purchase/README.md
  packages/in_app_purchase/lib/src/messages.g.dart
  packages/in_app_purchase/pigeons/messages.dart
  packages/in_app_purchase/pubspec.yaml
  packages/in_app_purchase/tizen/src/billing_manager.cc
  packages/in_app_purchase/tizen/src/billing_manager.h
  packages/in_app_purchase/tizen/src/in_app_purchase_tizen_plugin.cc
  packages/in_app_purchase/tizen/src/messages.cc
  packages/in_app_purchase/tizen/src/messages.h
  packages/video_player/CHANGELOG.md
  packages/video_player/README.md
  packages/video_player/lib/src/messages.g.dart
  packages/video_player/pigeons/messages.dart
  packages/video_player/pubspec.yaml
  packages/video_player/tizen/src/messages.cc
  packages/video_player/tizen/src/messages.h
  packages/video_player/tizen/src/video_player.cc
  packages/video_player/tizen/src/video_player.h
  packages/video_player/tizen/src/video_player_tizen_plugin.cc
Labels: p: in_app_purchase, p: video_player

modify project_def.prop
  packages/video_player_avplay/tizen/project_def.prop
Labels: p: video_player_avplay

[video_player and in_app_purchase] Fix multiple-definition error caused by applying multiple plugins (#885)
  packages/in_app_purchase/CHANGELOG.md
  packages/in_app_purchase/README.md
  packages/in_app_purchase/lib/src/messages.g.dart
  packages/in_app_purchase/pigeons/messages.dart
  packages/in_app_purchase/pubspec.yaml
  packages/in_app_purchase/tizen/src/billing_manager.cc
  packages/in_app_purchase/tizen/src/billing_manager.h
  packages/in_app_purchase/tizen/src/in_app_purchase_tizen_plugin.cc
  packages/in_app_purchase/tizen/src/messages.cc
  packages/in_app_purchase/tizen/src/messages.h
  packages/video_player/CHANGELOG.md
  packages/video_player/README.md
  packages/video_player/lib/src/messages.g.dart
  packages/video_player/pigeons/messages.dart
  packages/video_player/pubspec.yaml
  packages/video_player/tizen/src/messages.cc
  packages/video_player/tizen/src/messages.h
  packages/video_player/tizen/src/video_player.cc
  packages/video_player/tizen/src/video_player.h
  packages/video_player/tizen/src/video_player_tizen_plugin.cc
Labels: p: in_app_purchase, p: video_player

add namespace to C++ code to avoid name conflicts with other plugins
  packages/video_player_avplay/CHANGELOG.md
  packages/video_player_avplay/lib/src/messages.g.dart
  packages/video_player_avplay/pigeons/messages.dart
  packages/video_player_avplay/tizen/src/media_player.cc
  packages/video_player_avplay/tizen/src/media_player.h
  packages/video_player_avplay/tizen/src/messages.cc
  packages/video_player_avplay/tizen/src/messages.h
  packages/video_player_avplay/tizen/src/plus_player.cc
  packages/video_player_avplay/tizen/src/plus_player.h
  packages/video_player_avplay/tizen/src/video_player.cc
  packages/video_player_avplay/tizen/src/video_player.h
  packages/video_player_avplay/tizen/src/video_player_tizen_plugin.cc
  packages/video_player_videohole/CHANGELOG.md
  packages/video_player_videohole/example/lib/main.dart
  packages/video_player_videohole/pigeons/messages.dart
  packages/video_player_videohole/tizen/src/media_player.cc
  packages/video_player_videohole/tizen/src/media_player.h
  packages/video_player_videohole/tizen/src/messages.cc
  packages/video_player_videohole/tizen/src/messages.h
  packages/video_player_videohole/tizen/src/video_player.cc
  packages/video_player_videohole/tizen/src/video_player.h
  packages/video_player_videohole/tizen/src/video_player_tizen_plugin.cc
Labels: p: video_player_avplay, p: video_player_videohole

update version
  packages/video_player_avplay/CHANGELOG.md
  packages/video_player_avplay/README.md
  packages/video_player_avplay/pubspec.yaml
  packages/video_player_videohole/CHANGELOG.md
  packages/video_player_videohole/README.md
  packages/video_player_videohole/pubspec.yaml
Labels: p: video_player_avplay, p: video_player_videohole

[video_player_avplay and video_player_videohole] Add namespace to C++ code to avoid name conflicts with other plugins (#887)
  packages/video_player_avplay/CHANGELOG.md
  packages/video_player_avplay/README.md
  packages/video_player_avplay/lib/src/messages.g.dart
  packages/video_player_avplay/pigeons/messages.dart
  packages/video_player_avplay/pubspec.yaml
  packages/video_player_avplay/tizen/src/media_player.cc
  packages/video_player_avplay/tizen/src/media_player.h
  packages/video_player_avplay/tizen/src/messages.cc
  packages/video_player_avplay/tizen/src/messages.h
  packages/video_player_avplay/tizen/src/plus_player.cc
  packages/video_player_avplay/tizen/src/plus_player.h
  packages/video_player_avplay/tizen/src/video_player.cc
  packages/video_player_avplay/tizen/src/video_player.h
  packages/video_player_avplay/tizen/src/video_player_tizen_plugin.cc
  packages/video_player_videohole/CHANGELOG.md
  packages/video_player_videohole/README.md
  packages/video_player_videohole/example/lib/main.dart
  packages/video_player_videohole/pigeons/messages.dart
  packages/video_player_videohole/pubspec.yaml
  packages/video_player_videohole/tizen/src/media_player.cc
  packages/video_player_videohole/tizen/src/media_player.h
  packages/video_player_videohole/tizen/src/messages.cc
  packages/video_player_videohole/tizen/src/messages.h
  packages/video_player_videohole/tizen/src/video_player.cc
  packages/video_player_videohole/tizen/src/video_player.h
  packages/video_player_videohole/tizen/src/video_player_tizen_plugin.cc
Labels: p: video_player_avplay, p: video_player_videohole

Fix: Resolved issue with failure to receive events in multiple proxies.
  packages/tizen_rpc_port/example/client/lib/main.dart
  packages/tizen_rpc_port/example/client/lib/message_client.dart
  packages/tizen_rpc_port/lib/src/proxy_base.dart
  packages/tizen_rpc_port/tizen/src/rpc_port_proxy.cc
  packages/tizen_rpc_port/tizen/src/rpc_port_proxy.h
  packages/tizen_rpc_port/tizen/src/tizen_rpc_port_plugin.cc
Labels: p: tizen_rpc_port

replace the url of HLS
  packages/video_player_avplay/example/lib/main.dart
Labels: p: video_player_avplay

update version
  packages/video_player_avplay/CHANGELOG.md
  packages/video_player_avplay/README.md
  packages/video_player_avplay/pubspec.yaml
Labels: p: video_player_avplay

Modify coding style
  packages/tizen_rpc_port/tizen/src/rpc_port_proxy.cc
  packages/tizen_rpc_port/tizen/src/rpc_port_proxy.h
  plugins.sln
Labels: p: tizen_rpc_port

Remove plugins.sln
  plugins.sln
Labels: none

Fix ci build bug
  .github/workflows/build.yml
  .github/workflows/integration_test.yml
Labels: none

Fix ci build bug (#891)
  .github/workflows/build.yml
  .github/workflows/integration_test.yml
Labels: none

[video_player] Temporarily comment out 'asset audio' test case
  packages/video_player/example/integration_test/video_player_test.dart
Labels: p: video_player

Apply reviewer's comment
  packages/video_player/example/integration_test/video_player_test.dart
Labels: p: video_player

replace the URL of Track
  packages/video_player_avplay/example/lib/main.dart
Labels: p: video_player_avplay

Skip a testcase using isTizenProfile.
  packages/video_player/example/integration_test/video_player_test.dart
  packages/video_player/example/pubspec.yaml
Labels: p: video_player

[video_player] Temporarily comment out 'asset audio' test case (#889)
  packages/video_player/example/integration_test/video_player_test.dart
  packages/video_player/example/pubspec.yaml
Labels: p: video_player

[video_player] Modify integration_test for RPI(arm)
  packages/video_player/example/integration_test/video_player_test.dart
Labels: p: video_player

Revert "[video_player] Temporarily comment out 'asset audio' test case (#889)"
  packages/video_player/example/integration_test/video_player_test.dart
  packages/video_player/example/pubspec.yaml
Labels: p: video_player

Revert "[video_player] Temporarily comment out 'asset audio' test case (#889)" (#893)
  packages/video_player/example/integration_test/video_player_test.dart
  packages/video_player/example/pubspec.yaml
Labels: p: video_player

[video_player] Fix integration_test crash issue
  packages/video_player/CHANGELOG.md
  packages/video_player/README.md
  packages/video_player/example/integration_test/video_player_test.dart
  packages/video_player/example/pubspec.yaml
  packages/video_player/pubspec.yaml
  packages/video_player/tizen/src/video_player.cc
  packages/video_player/tizen/src/video_player.h
Labels: p: video_player

[video_player] Fix integration_test crash issue (#894)
  packages/video_player/CHANGELOG.md
  packages/video_player/README.md
  packages/video_player/example/integration_test/video_player_test.dart
  packages/video_player/example/pubspec.yaml
  packages/video_player/pubspec.yaml
  packages/video_player/tizen/src/video_player.cc
  packages/video_player/tizen/src/video_player.h
Labels: p: video_player

Apply dart format
  packages/tizen_rpc_port/example/client/lib/main.dart
  packages/tizen_rpc_port/example/client/lib/message_client.dart
Labels: p: tizen_rpc_port

Apply dart analyze
  packages/tizen_rpc_port/lib/src/proxy_base.dart
Labels: p: tizen_rpc_port

[device_info_plus] Add support for `screenWidth` and `screenHeight`
  packages/device_info_plus/CHANGELOG.md
  packages/device_info_plus/README.md
  packages/device_info_plus/example/lib/main.dart
  packages/device_info_plus/lib/device_info_plus_tizen.dart
  packages/device_info_plus/pubspec.yaml
  packages/device_info_plus/tizen/src/device_info_plus_tizen_plugin.cc
Labels: p: device_info_plus

Fix format
  packages/device_info_plus/lib/device_info_plus_tizen.dart
Labels: p: device_info_plus

[device_info_plus] Add support for `screenWidth` and `screenHeight` (#897)
  packages/device_info_plus/CHANGELOG.md
  packages/device_info_plus/README.md
  packages/device_info_plus/example/lib/main.dart
  packages/device_info_plus/lib/device_info_plus_tizen.dart
  packages/device_info_plus/pubspec.yaml
  packages/device_info_plus/tizen/src/device_info_plus_tizen_plugin.cc
Labels: p: device_info_plus

.github/labeler.yml:

# Packages
"p: audioplayers":
  - packages/audioplayers/**/*
"p: battery_plus":
  - packages/battery_plus/**/*
"p: camera":
  - packages/camera/**/*
"p: connectivity_plus":
  - packages/connectivity_plus/**/*
"p: device_info_plus":
  - packages/device_info_plus/**/*
"p: firebase_core":
  - packages/firebase_core/**/*
"p: flutter_app_badger":
  - packages/flutter_app_badger/**/*
"p: flutter_secure_storage":
  - packages/flutter_secure_storage/**/*
"p: flutter_tts":
  - packages/flutter_tts/**/*
"p: flutter_webrtc":
  - packages/flutter_webrtc/**/*
"p: geolocator":
  - packages/geolocator/**/*
"p: google_maps_flutter":
  - packages/google_maps_flutter/**/*
"p: google_sign_in":
  - packages/google_sign_in/**/*
"p: image_picker":
  - packages/image_picker/**/*
"p: in_app_purchase":
  - packages/in_app_purchase/**/*
"p: integration_test":
  - packages/integration_test/**/*
"p: messageport":
  - packages/messageport/**/*
"p: network_info_plus":
  - packages/network_info_plus/**/*
"p: package_info_plus":
  - packages/package_info_plus/**/*
"p: path_provider":
  - packages/path_provider/**/*
"p: permission_handler":
  - packages/permission_handler/**/*
"p: sensors_plus":
  - packages/sensors_plus/**/*
"p: shared_preferences":
  - packages/shared_preferences/**/*
"p: sqflite":
  - packages/sqflite/**/*
"p: tizen_app_control":
  - packages/tizen_app_control/**/*
"p: tizen_app_manager":
  - packages/tizen_app_manager/**/*
"p: tizen_audio_manager":
  - packages/tizen_audio_manager/**/*
"p: tizen_bundle":
  - packages/tizen_bundle/**/*
"p: tizen_log":
  - packages/tizen_log/**/*
"p: tizen_notification":
  - packages/tizen_notification/**/*
"p: tizen_package_manager":
  - packages/tizen_package_manager/**/*
"p: tizen_rpc_port":
  - packages/tizen_rpc_port/**/*
"p: url_launcher":
  - packages/url_launcher/**/*
"p: video_player":
  - packages/video_player/**/*
"p: video_player_avplay":
  - packages/video_player_avplay/**/*
"p: video_player_videohole":
  - packages/video_player_videohole/**/*
"p: wakelock_plus":
  - packages/wakelock_plus/**/*
"p: wearable_rotary":
  - packages/wearable_rotary/**/*
"p: webview_flutter":
  - packages/webview_flutter/**/*
"p: webview_flutter_lwe":
  - packages/webview_flutter_lwe/**/*

# Tools
"tools":
  - tools/**/*
