Repository flutter-tizen/plugins, changes with the labels that .github/labeler.yml gives for each.
All labels: p: audioplayers, p: battery_plus, p: camera, p: connectivity_plus, p: device_info_plus, p: firebase_core, p: flutter_app_badger, p: flutter_secure_storage, p: flutter_tts, p: flutter_webrtc, p: geolocator, p: google_maps_flutter, p: google_sign_in, p: image_picker, p: in_app_purchase, p: integration_test, p: messageport, p: network_info_plus, p: package_info_plus, p: path_provider, p: permission_handler, p: sensors_plus, p: shared_preferences, p: sqflite, p: tizen_app_control, p: tizen_app_manager, p: tizen_audio_manager, p: tizen_bundle, p: tizen_log, p: tizen_notification, p: tizen_package_manager, p: tizen_rpc_port, p: url_launcher, p: video_player, p: video_player_avplay, p: video_player_videohole, p: wakelock_plus, p: wearable_rotary, p: webview_flutter, p: webview_flutter_lwe, tools

Version up
  packages/video_player_avplay/CHANGELOG.md
  packages/video_player_avplay/README.md
  packages/video_player_avplay/pubspec.yaml
Labels: p: video_player_avplay

fixed dart_analyze error
  packages/in_app_purchase/lib/src/in_app_purchase_tizen_platform.dart
Labels: p: in_app_purchase

Delete the commented code and update Copyright
  packages/in_app_purchase/lib/src/billing_manager_wrappers/billing_manager_wrapper.dart
  packages/in_app_purchase/lib/src/in_app_purchase_tizen_platform.dart
  packages/in_app_purchase/lib/src/in_app_purchase_tizen_platform_addition.dart
  packages/in_app_purchase/pigeons/messages.dart
  packages/in_app_purchase/tizen/src/billing_manager.cc
  packages/in_app_purchase/tizen/src/billing_manager.h
  packages/in_app_purchase/tizen/src/billing_service_proxy.cc
  packages/in_app_purchase/tizen/src/billing_service_proxy.h
  packages/in_app_purchase/tizen/src/in_app_purchase_tizen_plugin.cc
Labels: p: in_app_purchase

update rapidjson format
  packages/in_app_purchase/tizen/inc/rapidjson/allocators.h
  packages/in_app_purchase/tizen/inc/rapidjson/cursorstreamwrapper.h
  packages/in_app_purchase/tizen/inc/rapidjson/document.h
  packages/in_app_purchase/tizen/inc/rapidjson/encodedstream.h
  packages/in_app_purchase/tizen/inc/rapidjson/encodings.h
  packages/in_app_purchase/tizen/inc/rapidjson/error/en.h
  packages/in_app_purchase/tizen/inc/rapidjson/error/error.h
  packages/in_app_purchase/tizen/inc/rapidjson/filereadstream.h
  packages/in_app_purchase/tizen/inc/rapidjson/filewritestream.h
  packages/in_app_purchase/tizen/inc/rapidjson/fwd.h
  packages/in_app_purchase/tizen/inc/rapidjson/internal/biginteger.h
  packages/in_app_purchase/tizen/inc/rapidjson/internal/clzll.h
  packages/in_app_purchase/tizen/inc/rapidjson/internal/diyfp.h
  packages/in_app_purchase/tizen/inc/rapidjson/internal/dtoa.h
  packages/in_app_purchase/tizen/inc/rapidjson/internal/ieee754.h
  packages/in_app_purchase/tizen/inc/rapidjson/internal/itoa.h
  packages/in_app_purchase/tizen/inc/rapidjson/internal/meta.h
  packages/in_app_purchase/tizen/inc/rapidjson/internal/pow10.h
  packages/in_app_purchase/tizen/inc/rapidjson/internal/regex.h
  packages/in_app_purchase/tizen/inc/rapidjson/internal/stack.h
  packages/in_app_purchase/tizen/inc/rapidjson/internal/strfunc.h
  packages/in_app_purchase/tizen/inc/rapidjson/internal/strtod.h
  packages/in_app_purchase/tizen/inc/rapidjson/internal/swap.h
  packages/in_app_purchase/tizen/inc/rapidjson/istreamwrapper.h
  packages/in_app_purchase/tizen/inc/rapidjson/memorybuffer.h
  packages/in_app_purchase/tizen/inc/rapidjson/memorystream.h
  packages/in_app_purchase/tizen/inc/rapidjson/msinttypes/inttypes.h
  packages/in_app_purchase/tizen/inc/rapidjson/msinttypes/stdint.h
  packages/in_app_purchase/tizen/inc/rapidjson/ostreamwrapper.h
  packages/in_app_purchase/tizen/inc/rapidjson/pointer.h
  packages/in_app_purchase/tizen/inc/rapidjson/prettywriter.h
  packages/in_app_purchase/tizen/inc/rapidjson/rapidjson.h
  packages/in_app_purchase/tizen/inc/rapidjson/reader.h
  packages/in_app_purchase/tizen/inc/rapidjson/schema.h
  packages/in_app_purchase/tizen/inc/rapidjson/stream.h
  packages/in_app_purchase/tizen/inc/rapidjson/stringbuffer.h
  packages/in_app_purchase/tizen/inc/rapidjson/uri.h
  packages/in_app_purchase/tizen/inc/rapidjson/writer.h
Labels: p: in_app_purchase

Format rapidjson
  packages/video_player_avplay/tizen/inc/rapidjson/allocators.h
  packages/video_player_avplay/tizen/inc/rapidjson/cursorstreamwrapper.h
  packages/video_player_avplay/tizen/inc/rapidjson/document.h
  packages/video_player_avplay/tizen/inc/rapidjson/encodedstream.h
  packages/video_player_avplay/tizen/inc/rapidjson/encodings.h
  packages/video_player_avplay/tizen/inc/rapidjson/error/en.h
  packages/video_player_avplay/tizen/inc/rapidjson/error/error.h
  packages/video_player_avplay/tizen/inc/rapidjson/filereadstream.h
  packages/video_player_avplay/tizen/inc/rapidjson/filewritestream.h
  packages/video_player_avplay/tizen/inc/rapidjson/fwd.h
  packages/video_player_avplay/tizen/inc/rapidjson/internal/biginteger.h
  packages/video_player_avplay/tizen/inc/rapidjson/internal/clzll.h
  packages/video_player_avplay/tizen/inc/rapidjson/internal/diyfp.h
  packages/video_player_avplay/tizen/inc/rapidjson/internal/dtoa.h
  packages/video_player_avplay/tizen/inc/rapidjson/internal/ieee754.h
  packages/video_player_avplay/tizen/inc/rapidjson/internal/itoa.h
  packages/video_player_avplay/tizen/inc/rapidjson/internal/meta.h
  packages/video_player_avplay/tizen/inc/rapidjson/internal/pow10.h
  packages/video_player_avplay/tizen/inc/rapidjson/internal/regex.h
  packages/video_player_avplay/tizen/inc/rapidjson/internal/stack.h
  packages/video_player_avplay/tizen/inc/rapidjson/internal/strfunc.h
  packages/video_player_avplay/tizen/inc/rapidjson/internal/strtod.h
  packages/video_player_avplay/tizen/inc/rapidjson/internal/swap.h
  packages/video_player_avplay/tizen/inc/rapidjson/istreamwrapper.h
  packages/video_player_avplay/tizen/inc/rapidjson/memorybuffer.h
  packages/video_player_avplay/tizen/inc/rapidjson/memorystream.h
  packages/video_player_avplay/tizen/inc/rapidjson/msinttypes/inttypes.h
  packages/video_player_avplay/tizen/inc/rapidjson/msinttypes/stdint.h
  packages/video_player_avplay/tizen/inc/rapidjson/ostreamwrapper.h
  packages/video_player_avplay/tizen/inc/rapidjson/pointer.h
  packages/video_player_avplay/tizen/inc/rapidjson/prettywriter.h
  packages/video_player_avplay/tizen/inc/rapidjson/rapidjson.h
  packages/video_player_avplay/tizen/inc/rapidjson/reader.h
  packages/video_player_avplay/tizen/inc/rapidjson/schema.h
  packages/video_player_avplay/tizen/inc/rapidjson/stream.h
  packages/video_player_avplay/tizen/inc/rapidjson/stringbuffer.h
  packages/video_player_avplay/tizen/inc/rapidjson/uri.h
  packages/video_player_avplay/tizen/inc/rapidjson/writer.h
Labels: p: video_player_avplay

code format
  packages/in_app_purchase/lib/src/billing_manager_wrappers/billing_manager_wrapper.dart
  packages/in_app_purchase/lib/src/in_app_purchase_tizen_platform.dart
  packages/in_app_purchase/lib/src/in_app_purchase_tizen_platform_addition.dart
  packages/in_app_purchase/lib/src/messages.g.dart
  packages/in_app_purchase/pigeons/messages.dart
  packages/in_app_purchase/tizen/inc/rapidjson/pointer.h
Labels: p: in_app_purchase

code format
  packages/in_app_purchase/lib/src/billing_manager_wrappers/billing_manager_wrapper.dart
  packages/in_app_purchase/lib/src/in_app_purchase_tizen_platform.dart
  packages/in_app_purchase/lib/src/messages.g.dart
Labels: p: in_app_purchase

code format
  packages/in_app_purchase/tizen/inc/rapidjson/rapidjson.h
Labels: p: in_app_purchase

code format
  packages/in_app_purchase/tizen/inc/rapidjson/rapidjson.h
Labels: p: in_app_purchase

code format
  packages/in_app_purchase/tizen/inc/rapidjson/rapidjson.h
Labels: p: in_app_purchase

modify doc.HasParseError
  packages/in_app_purchase/tizen/src/billing_manager.cc
  packages/in_app_purchase/tizen/src/billing_service_proxy.h
Labels: p: in_app_purchase

Fix bugs and remove unnecessary code
  packages/google_maps_flutter/lib/src/util.dart
Labels: p: google_maps_flutter

Fix code format
  packages/google_maps_flutter/lib/src/util.dart
Labels: p: google_maps_flutter

solve some issues
  packages/in_app_purchase/example/lib/main.dart
  packages/in_app_purchase/lib/billing_manager_wrappers.dart
  packages/in_app_purchase/lib/in_app_purchase_tizen.dart
  packages/in_app_purchase/lib/src/billing_manager.dart
  packages/in_app_purchase/lib/src/in_app_purchase_tizen_platform.dart
  packages/in_app_purchase/lib/src/in_app_purchase_tizen_platform_addition.dart
  packages/in_app_purchase/lib/src/messages.g.dart
  packages/in_app_purchase/pigeons/messages.dart
  packages/in_app_purchase/tizen/src/billing_manager.cc
  packages/in_app_purchase/tizen/src/in_app_purchase_tizen_plugin.cc
  packages/in_app_purchase/tizen/src/messages.cc
  packages/in_app_purchase/tizen/src/messages.h
Labels: p: in_app_purchase

code format
  packages/in_app_purchase/example/lib/main.dart
  packages/in_app_purchase/lib/src/in_app_purchase_tizen_platform.dart
Labels: p: in_app_purchase

code format
  packages/in_app_purchase/example/lib/main.dart
Labels: p: in_app_purchase

update plugin version and fix some issues
  packages/in_app_purchase/CHANGELOG.md
  packages/in_app_purchase/README.md
  packages/in_app_purchase/example/pubspec.yaml
  packages/in_app_purchase/pubspec.yaml
  packages/in_app_purchase/tizen/src/billing_manager.cc
  packages/in_app_purchase/tizen/src/in_app_purchase_tizen_plugin.cc
Labels: p: in_app_purchase

format code
  packages/in_app_purchase/tizen/src/billing_manager.cc
Labels: p: in_app_purchase

[google_maps_flutter] Add support for marker clustering (#826)
  packages/google_maps_flutter/CHANGELOG.md
  packages/google_maps_flutter/README.md
  packages/google_maps_flutter/example/assets/map.html
  packages/google_maps_flutter/lib/google_maps_flutter_tizen.dart
  packages/google_maps_flutter/lib/src/convert.dart
  packages/google_maps_flutter/lib/src/google_maps_controller.dart
  packages/google_maps_flutter/lib/src/google_maps_flutter_tizen.dart
  packages/google_maps_flutter/lib/src/marker.dart
  packages/google_maps_flutter/lib/src/marker_clustering.dart
  packages/google_maps_flutter/lib/src/markers.dart
  packages/google_maps_flutter/lib/src/util.dart
  packages/google_maps_flutter/pubspec.yaml
Labels: p: google_maps_flutter

Remove .clang-format-ignore file
  .clang-format-ignore
Labels: none

fix some issues
  packages/in_app_purchase/CHANGELOG.md
  packages/in_app_purchase/lib/src/in_app_purchase_tizen_platform.dart
  packages/in_app_purchase/pubspec.yaml
  packages/in_app_purchase/tizen/src/billing_manager.cc
  packages/in_app_purchase/tizen/src/billing_manager.h
  packages/in_app_purchase/tizen/src/in_app_purchase_tizen_plugin.cc
Labels: p: in_app_purchase

Fix code review issue
  packages/video_player_avplay/lib/src/messages.g.dart
  packages/video_player_avplay/lib/src/video_player_tizen.dart
  packages/video_player_avplay/lib/video_player_platform_interface.dart
  packages/video_player_avplay/pigeons/messages.dart
  packages/video_player_avplay/tizen/src/messages.cc
  packages/video_player_avplay/tizen/src/messages.h
  packages/video_player_avplay/tizen/src/video_player_tizen_plugin.cc
Labels: p: video_player_avplay

Update setData and getData api guide and remove mpeghMetadata
  packages/video_player_avplay/lib/src/video_player_tizen.dart
  packages/video_player_avplay/lib/video_player.dart
  packages/video_player_avplay/lib/video_player_platform_interface.dart
Labels: p: video_player_avplay

Add error event
  packages/video_player_avplay/lib/src/video_player_tizen.dart
  packages/video_player_avplay/lib/video_player.dart
  packages/video_player_avplay/lib/video_player_platform_interface.dart
  packages/video_player_avplay/tizen/src/media_player.cc
  packages/video_player_avplay/tizen/src/plus_player.cc
  packages/video_player_avplay/tizen/src/video_player.cc
  packages/video_player_avplay/tizen/src/video_player.h
Labels: p: video_player_avplay

Version up
  packages/video_player_avplay/CHANGELOG.md
  packages/video_player_avplay/README.md
  packages/video_player_avplay/pubspec.yaml
Labels: p: video_player_avplay

[connectivity_plus] Update plugin requirements version in README
  packages/connectivity_plus/CHANGELOG.md
  packages/connectivity_plus/README.md
  packages/connectivity_plus/pubspec.yaml
Labels: p: connectivity_plus

Clarify ConnectivityResult.none type.
  packages/connectivity_plus/CHANGELOG.md
  packages/connectivity_plus/tizen/src/connection.cc
  packages/connectivity_plus/tizen/src/connection.h
Labels: p: connectivity_plus

[connectivity_plus] Clarify ConnectivityResult.none type (#832)
  packages/connectivity_plus/CHANGELOG.md
  packages/connectivity_plus/README.md
  packages/connectivity_plus/pubspec.yaml
  packages/connectivity_plus/tizen/src/connection.cc
  packages/connectivity_plus/tizen/src/connection.h
Labels: p: connectivity_plus

Add getActiveTrackInfo interface
  packages/video_player_avplay/lib/src/messages.g.dart
  packages/video_player_avplay/lib/src/video_player_tizen.dart
  packages/video_player_avplay/lib/video_player.dart
  packages/video_player_avplay/lib/video_player_platform_interface.dart
  packages/video_player_avplay/pigeons/messages.dart
  packages/video_player_avplay/tizen/src/messages.cc
  packages/video_player_avplay/tizen/src/messages.h
  packages/video_player_avplay/tizen/src/plus_player.cc
  packages/video_player_avplay/tizen/src/plus_player.h
  packages/video_player_avplay/tizen/src/video_player.h
  packages/video_player_avplay/tizen/src/video_player_tizen_plugin.cc
Labels: p: video_player_avplay

Add mimetype filed.
  packages/video_player_avplay/lib/src/tracks.dart
  packages/video_player_avplay/lib/src/video_player_tizen.dart
  packages/video_player_avplay/tizen/src/plus_player.cc
Labels: p: video_player_avplay

Fix build error and add debug log
  packages/video_player_avplay/tizen/src/plus_player.cc
Labels: p: video_player_avplay

Add toString() for all track class
  packages/video_player_avplay/lib/src/tracks.dart
  packages/video_player_avplay/tizen/src/plus_player.cc
Labels: p: video_player_avplay

Version up
  packages/video_player_avplay/CHANGELOG.md
  packages/video_player_avplay/README.md
  packages/video_player_avplay/pubspec.yaml
Labels: p: video_player_avplay

[ci] Fix signing error in build test
  .github/workflows/build.yml
Labels: none

add missing commands
  .github/workflows/build.yml
Labels: none

[ci] Fix signing error in build test (#838)
  .github/workflows/build.yml
Labels: none

[audioplayers] Fix integration_test issue and update to 6.4.0
  packages/audioplayers/CHANGELOG.md
  packages/audioplayers/README.md
  packages/audioplayers/example/lib/components/btn.dart
  packages/audioplayers/example/lib/components/cbx.dart
  packages/audioplayers/example/lib/components/dlg.dart
  packages/audioplayers/example/lib/components/drop_down.dart
  packages/audioplayers/example/lib/components/list_tile.dart
  packages/audioplayers/example/lib/components/pad.dart
  packages/audioplayers/example/lib/components/player_widget.dart
  packages/audioplayers/example/lib/components/properties_widget.dart
  packages/audioplayers/example/lib/components/stream_widget.dart
  packages/audioplayers/example/lib/components/tab_content.dart
  packages/audioplayers/example/lib/components/tabs.dart
  packages/audioplayers/example/lib/components/tgl.dart
  packages/audioplayers/example/lib/components/txt.dart
  packages/audioplayers/example/lib/main.dart
  packages/audioplayers/example/lib/tabs/audio_context.dart
  packages/audioplayers/example/lib/tabs/controls.dart
  packages/audioplayers/example/lib/tabs/logger.dart
  packages/audioplayers/example/lib/tabs/sources.dart
  packages/audioplayers/example/lib/tabs/streams.dart
  packages/audioplayers/example/pubspec.yaml
  packages/audioplayers/pubspec.yaml
  packages/audioplayers/tizen/src/audio_player.cc
  packages/audioplayers/tizen/src/audioplayers_tizen_plugin.cc
Labels: p: audioplayers

Fix coding style format
  packages/audioplayers/example/lib/components/btn.dart
  packages/audioplayers/example/lib/components/cbx.dart
  packages/audioplayers/example/lib/components/dlg.dart
  packages/audioplayers/example/lib/components/drop_down.dart
  packages/audioplayers/example/lib/components/list_tile.dart
  packages/audioplayers/example/lib/components/pad.dart
  packages/audioplayers/example/lib/components/player_widget.dart
  packages/audioplayers/example/lib/components/properties_widget.dart
  packages/audioplayers/example/lib/components/stream_widget.dart
  packages/audioplayers/example/lib/components/tab_content.dart
  packages/audioplayers/example/lib/components/tabs.dart
  packages/audioplayers/example/lib/components/tgl.dart
  packages/audioplayers/example/lib/components/txt.dart
  packages/audioplayers/example/lib/main.dart
  packages/audioplayers/example/lib/tabs/audio_context.dart
  packages/audioplayers/example/lib/tabs/controls.dart
  packages/audioplayers/example/lib/tabs/logger.dart
  packages/audioplayers/example/lib/tabs/sources.dart.orig
  packages/audioplayers/example/lib/tabs/streams.dart
Labels: p: audioplayers

Remove unnecessary file
  packages/audioplayers/example/lib/tabs/sources.dart.orig
Labels: p: audioplayers

Rollback pigeon version to 10.0.0
  packages/video_player_avplay/lib/src/messages.g.dart
  packages/video_player_avplay/pubspec.yaml
  packages/video_player_avplay/tizen/src/messages.cc
  packages/video_player_avplay/tizen/src/messages.h
Labels: p: video_player_avplay

.github/labeler.yml:

# Packages
"p: audioplayers":
  - packages/audioplayers/**/*
"p: battery_plus":
  - packages/battery_plus/**/*
"p: camera":
  - packages/camera/**/*
"p: connectivity_plus":
  - packages/connectivity_plus/**/*
"p: device_info_plus":
  - packages/device_info_plus/**/*
"p: firebase_core":
  - packages/firebase_core/**/*
"p: flutter_app_badger":
  - packages/flutter_app_badger/**/*
"p: flutter_secure_storage":
  - packages/flutter_secure_storage/**/*
"p: flutter_tts":
  - packages/flutter_tts/**/*
"p: flutter_webrtc":
  - packages/flutter_webrtc/**/*
"p: geolocator":
  - packages/geolocator/**/*
"p: google_maps_flutter":
  - packages/google_maps_flutter/**/*
"p: google_sign_in":
  - packages/google_sign_in/**/*
"p: image_picker":
  - packages/image_picker/**/*
"p: in_app_purchase":
  - packages/in_app_purchase/**/*
"p: integration_test":
  - packages/integration_test/**/*
"p: messageport":
  - packages/messageport/**/*
"p: network_info_plus":
  - packages/network_info_plus/**/*
"p: package_info_plus":
  - packages/package_info_plus/**/*
"p: path_provider":
  - packages/path_provider/**/*
"p: permission_handler":
  - packages/permission_handler/**/*
"p: sensors_plus":
  - packages/sensors_plus/**/*
"p: shared_preferences":
  - packages/shared_preferences/**/*
"p: sqflite":
  - packages/sqflite/**/*
"p: tizen_app_control":
  - packages/tizen_app_control/**/*
"p: tizen_app_manager":
  - packages/tizen_app_manager/**/*
"p: tizen_audio_manager":
  - packages/tizen_audio_manager/**/*
"p: tizen_bundle":
  - packages/tizen_bundle/**/*
"p: tizen_log":
  - packages/tizen_log/**/*
"p: tizen_notification":
  - packages/tizen_notification/**/*
"p: tizen_package_manager":
  - packages/tizen_package_manager/**/*
"p: tizen_rpc_port":
  - packages/tizen_rpc_port/**/*
"p: url_launcher":
  - packages/url_launcher/**/*
"p: video_player":
  - packages/video_player/**/*
"p: video_player_avplay":
  - packages/video_player_avplay/**/*
"p: video_player_videohole":
  - packages/video_player_videohole/**/*
"p: wakelock_plus":
  - packages/wakelock_plus/**/*
"p: wearable_rotary":
  - packages/wearable_rotary/**/*
"p: webview_flutter":
  - packages/webview_flutter/**/*
"p: webview_flutter_lwe":
  - packages/webview_flutter_lwe/**/*

# Tools
"tools":
  - tools/**/*
