Repository flutter-tizen/plugins, changes with the labels that .github/labeler.yml gives for each.
All labels: p: audioplayers, p: battery_plus, p: camera, p: connectivity_plus, p: device_info_plus, p: firebase_core, p: flutter_app_badger, p: flutter_secure_storage, p: flutter_tts, p: flutter_webrtc, p: geolocator, p: google_maps_flutter, p: google_sign_in, p: image_picker, p: in_app_purchase, p: integration_test, p: messageport, p: network_info_plus, p: package_info_plus, p: path_provider, p: permission_handler, p: sensors_plus, p: shared_preferences, p: sqflite, p: tizen_app_control, p: tizen_app_manager, p: tizen_audio_manager, p: tizen_bundle, p: tizen_log, p: tizen_notification, p: tizen_package_manager, p: tizen_rpc_port, p: url_launcher, p: video_player, p: video_player_avplay, p: video_player_videohole, p: wakelock_plus, p: wearable_rotary, p: webview_flutter, p: webview_flutter_lwe, tools

.github/labeler.yml:

# Packages
"p: audioplayers":
  - packages/audioplayers/**/*
"p: battery_plus":
  - packages/battery_plus/**/*
"p: camera":
  - packages/camera/**/*
"p: connectivity_plus":
  - packages/connectivity_plus/**/*
"p: device_info_plus":
  - packages/device_info_plus/**/*
"p: firebase_core":
  - packages/firebase_core/**/*
"p: flutter_app_badger":
  - packages/flutter_app_badger/**/*
"p: flutter_secure_storage":
  - packages/flutter_secure_storage/**/*
"p: flutter_tts":
  - packages/flutter_tts/**/*
"p: flutter_webrtc":
  - packages/flutter_webrtc/**/*
"p: geolocator":
  - packages/geolocator/**/*
"p: google_maps_flutter":
  - packages/google_maps_flutter/**/*
"p: google_sign_in":
  - packages/google_sign_in/**/*
"p: image_picker":
  - packages/image_picker/**/*
"p: in_app_purchase":
  - packages/in_app_purchase/**/*
"p: integration_test":
  - packages/integration_test/**/*
"p: messageport":
  - packages/messageport/**/*
"p: network_info_plus":
  - packages/network_info_plus/**/*
"p: package_info_plus":
  - packages/package_info_plus/**/*
"p: path_provider":
  - packages/path_provider/**/*
"p: permission_handler":
  - packages/permission_handler/**/*
"p: sensors_plus":
  - packages/sensors_plus/**/*
"p: shared_preferences":
  - packages/shared_preferences/**/*
"p: sqflite":
  - packages/sqflite/**/*
"p: tizen_app_control":
  - packages/tizen_app_control/**/*
"p: tizen_app_manager":
  - packages/tizen_app_manager/**/*
"p: tizen_audio_manager":
  - packages/tizen_audio_manager/**/*
"p: tizen_bundle":
  - packages/tizen_bundle/**/*
"p: tizen_log":
  - packages/tizen_log/**/*
"p: tizen_notification":
  - packages/tizen_notification/**/*
"p: tizen_package_manager":
  - packages/tizen_package_manager/**/*
"p: tizen_rpc_port":
  - packages/tizen_rpc_port/**/*
"p: url_launcher":
  - packages/url_launcher/**/*
"p: video_player":
  - packages/video_player/**/*
"p: video_player_avplay":
  - packages/video_player_avplay/**/*
"p: video_player_videohole":
  - packages/video_player_videohole/**/*
"p: wakelock_plus":
  - packages/wakelock_plus/**/*
"p: wearable_rotary":
  - packages/wearable_rotary/**/*
"p: webview_flutter":
  - packages/webview_flutter/**/*
"p: webview_flutter_lwe":
  - packages/webview_flutter_lwe/**/*

# Tools
"tools":
  - tools/**/*

Add .gen/custom_def.prop
  packages/video_player_avplay/tizen/.gitignore
  packages/video_player_avplay/tizen/build_def.prop
  packages/video_player_avplay/tizen/prebuild.sh
  packages/video_player_avplay/tizen/project_def.prop
Labels: p: video_player_avplay

++
  packages/video_player_avplay/tizen/prebuild.sh
Labels: p: video_player_avplay

.gen/custom_def.prop -> custom_def.prop
  packages/video_player_avplay/tizen/.gitignore
  packages/video_player_avplay/tizen/custom_def.prop
  packages/video_player_avplay/tizen/prebuild.sh
Labels: p: video_player_avplay

++
  packages/video_player_avplay/tizen/custom_def.prop
Labels: p: video_player_avplay

++
  packages/video_player_avplay/tizen/.gitignore
  packages/video_player_avplay/tizen/lib/armel/7.0/libslive-jsoncpp.so
  packages/video_player_avplay/tizen/lib/armel/8.0/libslive-jsoncpp.so
  packages/video_player_avplay/tizen/lib/armel/9.0/libslive-jsoncpp.so
Labels: p: video_player_avplay

[video_player_avplay] Support multi TizenOS version (#896)
  packages/video_player_avplay/CHANGELOG.md
  packages/video_player_avplay/README.md
  packages/video_player_avplay/lib/video_player.dart
  packages/video_player_avplay/pubspec.yaml
Labels: p: video_player_avplay

Restore message client interface for compatibility
  packages/tizen_rpc_port/example/client/lib/message_client.dart
Labels: p: tizen_rpc_port

Remove unnecessary appid parameter from MethodCall
  packages/tizen_rpc_port/lib/src/proxy_base.dart
  packages/tizen_rpc_port/tizen/src/tizen_rpc_port_plugin.cc
Labels: p: tizen_rpc_port

[tizen_audio_manager] Fix Volume App sync in integration_test
  packages/tizen_audio_manager/example/integration_test/audio_manager_test.dart
Labels: p: tizen_audio_manager

[in_app_purchase] Fix typo in parameter name
  packages/in_app_purchase/CHANGELOG.md
  packages/in_app_purchase/README.md
  packages/in_app_purchase/lib/src/in_app_purchase_tizen_platform.dart
  packages/in_app_purchase/pubspec.yaml
Labels: p: in_app_purchase

[in_app_purchase] Fix typo in parameter name (#904)
  packages/in_app_purchase/CHANGELOG.md
  packages/in_app_purchase/README.md
  packages/in_app_purchase/lib/src/in_app_purchase_tizen_platform.dart
  packages/in_app_purchase/pubspec.yaml
Labels: p: in_app_purchase

Update whether plugins work on RPI
  README.md
Labels: none

Remove `Watch` and `Watch emulator` columns
  README.md
Labels: none

Update whether plugins work on RPI (#906)
  README.md
Labels: none

add new features for DASH
  packages/video_player_avplay/CHANGELOG.md
  packages/video_player_avplay/README.md
  packages/video_player_avplay/example/lib/main.dart
  packages/video_player_avplay/lib/src/ad_info_from_dash.dart
  packages/video_player_avplay/lib/src/messages.g.dart
  packages/video_player_avplay/lib/src/video_player_tizen.dart
  packages/video_player_avplay/lib/video_player.dart
  packages/video_player_avplay/lib/video_player_platform_interface.dart
  packages/video_player_avplay/pigeons/messages.dart
  packages/video_player_avplay/pubspec.yaml
  packages/video_player_avplay/tizen/inc/plusplayer/plusplayer_wrapper.h
  packages/video_player_avplay/tizen/src/messages.cc
  packages/video_player_avplay/tizen/src/messages.h
  packages/video_player_avplay/tizen/src/plus_player.cc
  packages/video_player_avplay/tizen/src/plus_player.h
  packages/video_player_avplay/tizen/src/video_player.cc
  packages/video_player_avplay/tizen/src/video_player.h
  packages/video_player_avplay/tizen/src/video_player_tizen_plugin.cc
Labels: p: video_player_avplay

code format
  packages/video_player_avplay/tizen/src/messages.cc
  packages/video_player_avplay/tizen/src/messages.h
Labels: p: video_player_avplay

update libs
  packages/video_player_avplay/tizen/lib/armel/10.0/libavcodec_common.so
  packages/video_player_avplay/tizen/lib/armel/10.0/libtracksource_tvplus.so
  packages/video_player_avplay/tizen/lib/armel/6.0/libavcodec_common.so
  packages/video_player_avplay/tizen/lib/armel/6.0/libtracksource_tvplus.so
  packages/video_player_avplay/tizen/lib/armel/6.5/libavcodec_common.so
  packages/video_player_avplay/tizen/lib/armel/6.5/libtracksource_tvplus.so
  packages/video_player_avplay/tizen/lib/armel/7.0/libavcodec_common.so
  packages/video_player_avplay/tizen/lib/armel/7.0/libtracksource_tvplus.so
  packages/video_player_avplay/tizen/lib/armel/8.0/libavcodec_common.so
  packages/video_player_avplay/tizen/lib/armel/8.0/libtracksource_tvplus.so
  packages/video_player_avplay/tizen/lib/armel/9.0/libavcodec_common.so
  packages/video_player_avplay/tizen/lib/armel/9.0/libtracksource_tvplus.so
Labels: p: video_player_avplay

update CHANGELOG.md
  packages/video_player_avplay/CHANGELOG.md
Labels: p: video_player_avplay

[tizen_rpc_port] Resolved issue with failure to receive events in multiple proxies. (#888)
  packages/tizen_rpc_port/example/client/lib/main.dart
  packages/tizen_rpc_port/lib/src/proxy_base.dart
  packages/tizen_rpc_port/tizen/src/rpc_port_proxy.cc
  packages/tizen_rpc_port/tizen/src/rpc_port_proxy.h
  packages/tizen_rpc_port/tizen/src/tizen_rpc_port_plugin.cc
Labels: p: tizen_rpc_port

Fix handle convert
  packages/tizen_rpc_port/tizen/src/tizen_rpc_port_plugin.cc
Labels: p: tizen_rpc_port

Update version
  packages/tizen_rpc_port/CHANGELOG.md
  packages/tizen_rpc_port/README.md
  packages/tizen_rpc_port/pubspec.yaml
Labels: p: tizen_rpc_port

fix review issues
  packages/video_player_avplay/CHANGELOG.md
  packages/video_player_avplay/README.md
  packages/video_player_avplay/example/lib/main.dart
  packages/video_player_avplay/lib/src/messages.g.dart
  packages/video_player_avplay/lib/src/video_player_tizen.dart
  packages/video_player_avplay/lib/video_player.dart
  packages/video_player_avplay/lib/video_player_platform_interface.dart
  packages/video_player_avplay/pigeons/messages.dart
  packages/video_player_avplay/pubspec.yaml
  packages/video_player_avplay/tizen/src/messages.cc
  packages/video_player_avplay/tizen/src/messages.h
  packages/video_player_avplay/tizen/src/plus_player.cc
  packages/video_player_avplay/tizen/src/plus_player.h
  packages/video_player_avplay/tizen/src/video_player.h
  packages/video_player_avplay/tizen/src/video_player_tizen_plugin.cc
Labels: p: video_player_avplay

add detailed explanation
  packages/video_player_avplay/lib/video_player.dart
  packages/video_player_avplay/lib/video_player_platform_interface.dart
  packages/video_player_avplay/tizen/src/plus_player.cc
Labels: p: video_player_avplay

fix review issues
  packages/video_player_avplay/example/lib/main.dart
  packages/video_player_avplay/lib/video_player.dart
  packages/video_player_avplay/lib/video_player_platform_interface.dart
  packages/video_player_avplay/tizen/src/plus_player.cc
Labels: p: video_player_avplay

ignore: avoid_print
  packages/video_player_avplay/lib/video_player.dart
Labels: p: video_player_avplay

fix review issues
  packages/video_player_avplay/lib/src/ad_info_from_dash.dart
  packages/video_player_avplay/lib/video_player.dart
Labels: p: video_player_avplay

[video_player_avplay] Add new features for DASH (#909)
  packages/video_player_avplay/CHANGELOG.md
  packages/video_player_avplay/README.md
  packages/video_player_avplay/example/lib/main.dart
  packages/video_player_avplay/lib/src/ad_info_from_dash.dart
  packages/video_player_avplay/lib/src/messages.g.dart
  packages/video_player_avplay/lib/src/video_player_tizen.dart
  packages/video_player_avplay/lib/video_player.dart
  packages/video_player_avplay/lib/video_player_platform_interface.dart
  packages/video_player_avplay/pigeons/messages.dart
  packages/video_player_avplay/pubspec.yaml
  packages/video_player_avplay/tizen/inc/plusplayer/plusplayer_wrapper.h
  packages/video_player_avplay/tizen/lib/armel/10.0/libavcodec_common.so
  packages/video_player_avplay/tizen/lib/armel/10.0/libtracksource_tvplus.so
  packages/video_player_avplay/tizen/lib/armel/6.0/libavcodec_common.so
  packages/video_player_avplay/tizen/lib/armel/6.0/libtracksource_tvplus.so
  packages/video_player_avplay/tizen/lib/armel/6.5/libavcodec_common.so
  packages/video_player_avplay/tizen/lib/armel/6.5/libtracksource_tvplus.so
  packages/video_player_avplay/tizen/lib/armel/7.0/libavcodec_common.so
  packages/video_player_avplay/tizen/lib/armel/7.0/libtracksource_tvplus.so
  packages/video_player_avplay/tizen/lib/armel/8.0/libavcodec_common.so
  packages/video_player_avplay/tizen/lib/armel/8.0/libtracksource_tvplus.so
  packages/video_player_avplay/tizen/lib/armel/9.0/libavcodec_common.so
  packages/video_player_avplay/tizen/lib/armel/9.0/libtracksource_tvplus.so
  packages/video_player_avplay/tizen/src/messages.cc
  packages/video_player_avplay/tizen/src/messages.h
  packages/video_player_avplay/tizen/src/plus_player.cc
  packages/video_player_avplay/tizen/src/plus_player.h
  packages/video_player_avplay/tizen/src/video_player.cc
  packages/video_player_avplay/tizen/src/video_player.h
  packages/video_player_avplay/tizen/src/video_player_tizen_plugin.cc
Labels: p: video_player_avplay

fix an assertion issue
  packages/video_player_avplay/CHANGELOG.md
  packages/video_player_avplay/README.md
  packages/video_player_avplay/lib/src/ad_info_from_dash.dart
  packages/video_player_avplay/pubspec.yaml
Labels: p: video_player_avplay

assertion
  packages/video_player_avplay/CHANGELOG.md
Labels: p: video_player_avplay

[video_player_avplay] Fix an assertion issue (#911)
  packages/video_player_avplay/CHANGELOG.md
  packages/video_player_avplay/README.md
  packages/video_player_avplay/lib/src/ad_info_from_dash.dart
  packages/video_player_avplay/pubspec.yaml
Labels: p: video_player_avplay

[tizen_rpc_port] Update package version to 0.1.5 (#910)
  packages/tizen_rpc_port/CHANGELOG.md
  packages/tizen_rpc_port/README.md
  packages/tizen_rpc_port/pubspec.yaml
  packages/tizen_rpc_port/tizen/src/tizen_rpc_port_plugin.cc
Labels: p: tizen_rpc_port

support SMPE-TT and sidebar subtitles
  packages/video_player_avplay/example/lib/main.dart
  packages/video_player_avplay/lib/src/closed_caption_file.dart
  packages/video_player_avplay/lib/src/sub_rip.dart
  packages/video_player_avplay/lib/src/video_player_tizen.dart
  packages/video_player_avplay/lib/src/web_vtt.dart
  packages/video_player_avplay/lib/video_player.dart
  packages/video_player_avplay/lib/video_player_platform_interface.dart
  packages/video_player_avplay/tizen/inc/stb_image_write.h
  packages/video_player_avplay/tizen/src/plus_player.cc
  packages/video_player_avplay/tizen/src/video_player.cc
  packages/video_player_avplay/tizen/src/video_player.h
Labels: p: video_player_avplay

[video_player_avplay] Fix type missmatch
  packages/video_player_avplay/CHANGELOG.md
  packages/video_player_avplay/README.md
  packages/video_player_avplay/pubspec.yaml
  packages/video_player_avplay/tizen/src/plus_player.cc
Labels: p: video_player_avplay

Add null check
  packages/video_player_avplay/tizen/src/plus_player.cc
Labels: p: video_player_avplay

[video_player_avplay] Fix type missmatch (#912)
  packages/video_player_avplay/CHANGELOG.md
  packages/video_player_avplay/README.md
  packages/video_player_avplay/pubspec.yaml
  packages/video_player_avplay/tizen/src/plus_player.cc
Labels: p: video_player_avplay

Correct subtitle duration
  packages/video_player_avplay/lib/video_player.dart
Labels: p: video_player_avplay

ignore avoid_print
  packages/video_player_avplay/lib/video_player.dart
Labels: p: video_player_avplay

update token value if baseURL not include token@13178115
  packages/video_player_avplay/tizen/lib/armel/10.0/libdash.so
  packages/video_player_avplay/tizen/lib/armel/6.0/libdash.so
  packages/video_player_avplay/tizen/lib/armel/7.0/libdash.so
  packages/video_player_avplay/tizen/lib/armel/8.0/libdash.so
  packages/video_player_avplay/tizen/lib/armel/9.0/libdash.so
Labels: p: video_player_avplay

update version
  packages/video_player_avplay/CHANGELOG.md
  packages/video_player_avplay/README.md
  packages/video_player_avplay/pubspec.yaml
Labels: p: video_player_avplay

fix review issues
  packages/video_player_avplay/lib/src/closed_caption_file.dart
  packages/video_player_avplay/lib/video_player.dart
  packages/video_player_avplay/tizen/src/plus_player.cc
Labels: p: video_player_avplay
