Repository flutter-tizen/plugins, pull requests merged in 2021-11, with the labels that each got.

#258 Fix video player plugin freeze issue
  packages/video_player/tizen/src/video_player.cc
  packages/video_player/tizen/src/video_player.h
Labels: p: video_player

#262 [video_player] Never return empty error messages
  packages/video_player/CHANGELOG.md
  packages/video_player/README.md
  packages/video_player/example/assets/bumble_bee_captions.vtt
  packages/video_player/example/lib/main.dart
  packages/video_player/example/pubspec.yaml
  packages/video_player/example/tizen/Runner.csproj
  packages/video_player/example/tizen/tizen-manifest.xml
  packages/video_player/pubspec.yaml
  packages/video_player/tizen/src/message.h
  packages/video_player/tizen/src/video_player.cc
  packages/video_player/tizen/src/video_player.h
  packages/video_player/tizen/src/video_player_tizen_plugin.cc
Labels: needs-publishing, p: video_player

#269 [webview_flutter] Update webview_flutter (2.3.0)
  packages/webview_flutter/CHANGELOG.md
  packages/webview_flutter/README.md
  packages/webview_flutter/example/integration_test/webview_flutter_test.dart
  packages/webview_flutter/example/lib/main.dart
  packages/webview_flutter/pubspec.yaml
  packages/webview_flutter/tizen/src/webview.cc
Labels: needs-publishing, p: webview_flutter

#270 [google_maps_flutter] Replace deprecated API
  packages/google_maps_flutter/CHANGELOG.md
  packages/google_maps_flutter/README.md
  packages/google_maps_flutter/example/tizen/tizen-manifest.xml
  packages/google_maps_flutter/lib/src/circle.dart
  packages/google_maps_flutter/lib/src/google_maps_controller.dart
  packages/google_maps_flutter/lib/src/marker.dart
  packages/google_maps_flutter/lib/src/polygon.dart
  packages/google_maps_flutter/lib/src/polyline.dart
  packages/google_maps_flutter/lib/src/util.dart
  packages/google_maps_flutter/pubspec.yaml
Labels: needs-publishing, p: google_maps_flutter

#267 [multi-packages] Migrate plus plugins to use flutter_lints
  analysis_options_plus.yaml
  packages/battery_plus/example/pubspec.yaml
  packages/battery_plus/pubspec.yaml
  packages/connectivity_plus/example/lib/main.dart
  packages/connectivity_plus/example/pubspec.yaml
  packages/connectivity_plus/pubspec.yaml
  packages/device_info_plus/example/lib/main.dart
  packages/device_info_plus/example/pubspec.yaml
  packages/device_info_plus/pubspec.yaml
  packages/network_info_plus/example/pubspec.yaml
  packages/network_info_plus/pubspec.yaml
  packages/package_info_plus/example/integration_test/package_info_plus_test.dart
  packages/package_info_plus/example/lib/main.dart
  packages/package_info_plus/example/pubspec.yaml
  packages/package_info_plus/pubspec.yaml
  packages/sensors_plus/example/lib/main.dart
  packages/sensors_plus/example/lib/snake.dart
  packages/sensors_plus/example/pubspec.yaml
  packages/sensors_plus/pubspec.yaml
  packages/share_plus/example/lib/image_previews.dart
  packages/share_plus/example/lib/main.dart
  packages/share_plus/example/pubspec.yaml
  packages/share_plus/pubspec.yaml
Labels: p: battery_plus, p: connectivity_plus, p: device_info_plus, p: network_info_plus, p: package_info_plus, p: sensors_plus, p: share_plus

#264 [multi-packages] Fix issues from static analysis
  packages/battery/tizen/src/battery_tizen_plugin.cc
  packages/battery_plus/tizen/src/battery_plus_tizen_plugin.cc
  packages/camera/tizen/src/camera_device.cc
  packages/image_picker/tizen/src/image_resize.h
  packages/webview_flutter/tizen/src/webview.cc
Labels: p: battery, p: battery_plus, p: camera, p: image_picker, p: webview_flutter, deprecated-packages-changed

#274 [network_info_plus] Handle wifi info retrieve failure case
  packages/network_info_plus/CHANGELOG.md
  packages/network_info_plus/README.md
  packages/network_info_plus/pubspec.yaml
  packages/network_info_plus/tizen/src/network_info_plus_tizen_plugin.cc
Labels: needs-publishing, p: network_info_plus, no merge

#263 [flutter_tts] Fix bug and support setting speech volume
  packages/flutter_tts/CHANGELOG.md
  packages/flutter_tts/README.md
  packages/flutter_tts/example/lib/main.dart
  packages/flutter_tts/example/pubspec.yaml
  packages/flutter_tts/example/tizen/Runner.csproj
  packages/flutter_tts/example/tizen/tizen-manifest.xml
  packages/flutter_tts/pubspec.yaml
  packages/flutter_tts/tizen/src/flutter_tts_tizen_plugin.cc
  packages/flutter_tts/tizen/src/text_to_speech.cc
  packages/flutter_tts/tizen/src/text_to_speech.h
Labels: needs-publishing, p: flutter_tts

#275 [camera] Fix preview freeze issue
  packages/camera/CHANGELOG.md
  packages/camera/README.md
  packages/camera/pubspec.yaml
  packages/camera/tizen/src/camera_device.cc
  packages/camera/tizen/src/camera_device.h
Labels: needs-publishing, p: camera

#260 [camera] Implement pausePreview and resumePreview
  packages/camera/CHANGELOG.md
  packages/camera/README.md
  packages/camera/example/integration_test/camera_test.dart
  packages/camera/example/lib/main.dart
  packages/camera/example/pubspec.yaml
  packages/camera/example/test_driver/integration_test.dart
  packages/camera/example/tizen/Runner.csproj
  packages/camera/example/tizen/tizen-manifest.xml
  packages/camera/pubspec.yaml
  packages/camera/tizen/src/camera_device.cc
  packages/camera/tizen/src/camera_device.h
  packages/camera/tizen/src/camera_plugin.cc
Labels: needs-publishing, p: camera

#279 [webview_flutter] Fixed memory releasing for non-heap value
  packages/webview_flutter/tizen/src/webview_factory.cc
Labels: p: webview_flutter

#278 [webview_flutter] Apply PlatformView API changes
  packages/webview_flutter/CHANGELOG.md
  packages/webview_flutter/README.md
  packages/webview_flutter/pubspec.yaml
  packages/webview_flutter/tizen/src/webview.cc
  packages/webview_flutter/tizen/src/webview.h
  packages/webview_flutter/tizen/src/webview_factory.cc
  packages/webview_flutter/tizen/src/webview_factory.h
  packages/webview_flutter/tizen/src/webview_flutter_tizen_plugin.cc
Labels: needs-publishing, p: webview_flutter
