Repository flutter-tizen/plugins, pull requests merged in 2021-09, with the labels that each got.

#200 [geolocator] Add geolocator
  .github/labeler.yml
  packages/geolocator/.gitignore
  packages/geolocator/CHANGELOG.md
  packages/geolocator/LICENSE
  packages/geolocator/README.md
  packages/geolocator/example/.gitignore
  packages/geolocator/example/README.md
  packages/geolocator/example/integration_test/geolocator_test.dart
  packages/geolocator/example/lib/main.dart
  packages/geolocator/example/pubspec.yaml
  packages/geolocator/example/res/images/baseflow_logo_def_light-02.png
  packages/geolocator/example/res/images/poweredByBaseflowLogoLight.png
  packages/geolocator/example/res/images/poweredByBaseflowLogoLight@2x.png
  packages/geolocator/example/res/images/poweredByBaseflowLogoLight@3x.png
  packages/geolocator/example/res/images/poweredByBaseflowLogoLight_2020-06-23.zip
  packages/geolocator/example/test_driver/integration_test.dart
  packages/geolocator/example/tizen/.gitignore
  packages/geolocator/example/tizen/App.cs
  packages/geolocator/example/tizen/Runner.csproj
  packages/geolocator/example/tizen/shared/res/ic_launcher.png
  packages/geolocator/example/tizen/tizen-manifest.xml
  packages/geolocator/pubspec.yaml
  packages/geolocator/tizen/.gitignore
  packages/geolocator/tizen/inc/geolocator_tizen_plugin.h
  packages/geolocator/tizen/project_def.prop
  packages/geolocator/tizen/src/geolocator_tizen_plugin.cc
  packages/geolocator/tizen/src/location.h
  packages/geolocator/tizen/src/locaton_manager.cc
  packages/geolocator/tizen/src/locaton_manager.h
  packages/geolocator/tizen/src/log.h
  packages/geolocator/tizen/src/permission_manager.cc
  packages/geolocator/tizen/src/permission_manager.h
  packages/geolocator/tizen/src/setting.cc
  packages/geolocator/tizen/src/setting.h
  packages/geolocator/tizen/src/tizen_result.h
Labels: needs-publishing

#206 [geolocator] Add missing analysis_options.yaml
  packages/geolocator/analysis_options.yaml
  packages/geolocator/pubspec.yaml
Labels: p: geolocator

#208 [audioplayers] Use ElevatedButton instead
  packages/audioplayers/example/lib/main.dart
Labels: p: audioplayers

#209 [multi-packages] Omit type annotations for local variable
  packages/battery_plus/example/integration_test/battery_plus_test.dart
  packages/connectivity_plus/example/integration_test/connectivity_plus_test.dart
  packages/device_info_plus/example/integration_test/device_info_plus_test.dart
  packages/device_info_plus/example/lib/main.dart
  packages/flutter_tts/example/integration_test/flutter_tts_test.dart
  packages/package_info_plus/example/integration_test/package_info_plus_test.dart
  packages/permission_handler/example/integration_test/permission_handler_test.dart
Labels: p: battery_plus, p: connectivity_plus, p: device_info_plus, p: flutter_tts, p: package_info_plus, p: permission_handler

#205 [webview_flutter] Update surface management logic
  packages/webview_flutter/tizen/src/buffer_pool.cc
  packages/webview_flutter/tizen/src/buffer_pool.h
  packages/webview_flutter/tizen/src/webview.cc
  packages/webview_flutter/tizen/src/webview.h
Labels: p: webview_flutter

#212 [multi-packages] Fix various lint issues
  packages/messageport/lib/src/messageport_manager.dart
  packages/path_provider/lib/src/app_common.dart
  packages/path_provider/lib/src/storage.dart
  packages/share_plus/example/lib/main.dart
  packages/shared_preferences/pubspec.yaml
  packages/video_player/example/pubspec.yaml
  packages/video_player/pubspec.yaml
  packages/wakelock/example/integration_test/wakelock_test.dart
  packages/webview_flutter/example/lib/main.dart
  packages/webview_flutter/lib/src/platform_view_tizen.dart
Labels: p: shared_preferences, p: share_plus, p: video_player, p: wakelock, p: webview_flutter, p: messageport, p: path_provider

#201 [google_maps_flutter] Clean up unnecessary code
  packages/google_maps_flutter/CHANGELOG.md
  packages/google_maps_flutter/README.md
  packages/google_maps_flutter/analysis_options.yaml
  packages/google_maps_flutter/example/assets/map.html
  packages/google_maps_flutter/example/integration_test/google_maps_test.dart
  packages/google_maps_flutter/example/lib/main.dart
  packages/google_maps_flutter/example/lib/map_ui.dart
  packages/google_maps_flutter/example/lib/place_marker.dart
  packages/google_maps_flutter/example/pubspec.yaml
  packages/google_maps_flutter/example/test/widget_test.dart
  packages/google_maps_flutter/lib/google_maps_flutter_tizen.dart
  packages/google_maps_flutter/lib/src/circle.dart
  packages/google_maps_flutter/lib/src/circles.dart
  packages/google_maps_flutter/lib/src/convert.dart
  packages/google_maps_flutter/lib/src/google_maps_controller.dart
  packages/google_maps_flutter/lib/src/google_maps_flutter_tizen.dart
  packages/google_maps_flutter/lib/src/marker.dart
  packages/google_maps_flutter/lib/src/markers.dart
  packages/google_maps_flutter/lib/src/polygon.dart
  packages/google_maps_flutter/lib/src/polygons.dart
  packages/google_maps_flutter/lib/src/polyline.dart
  packages/google_maps_flutter/lib/src/polylines.dart
  packages/google_maps_flutter/lib/src/types.dart
  packages/google_maps_flutter/lib/src/util.dart
  packages/google_maps_flutter/pubspec.yaml
  packages/google_maps_flutter/test/README.md
  packages/google_maps_flutter/test/tests_exist_elsewhere_test.dart
Labels: needs-publishing, p: google_maps_flutter

#218 Add an action to analyze packages
  .github/workflows/analyze.yml
  tools/commands/build_example.py
Labels: tools

#216 [tizen_app_control] Add tizen_app_control package
  .github/labeler.yml
  .github/workflows/build.yml
  README.md
  packages/tizen_app_control/.gitignore
  packages/tizen_app_control/CHANGELOG.md
  packages/tizen_app_control/LICENSE
  packages/tizen_app_control/README.md
  packages/tizen_app_control/example/.gitignore
  packages/tizen_app_control/example/README.md
  packages/tizen_app_control/example/integration_test/tizen_app_control_test.dart
  packages/tizen_app_control/example/lib/main.dart
  packages/tizen_app_control/example/pubspec.yaml
  packages/tizen_app_control/example/test_driver/integration_test.dart
  packages/tizen_app_control/example/tizen/.gitignore
  packages/tizen_app_control/example/tizen/service/.exportMap
  packages/tizen_app_control/example/tizen/service/.gitignore
  packages/tizen_app_control/example/tizen/service/inc/runner.h
  packages/tizen_app_control/example/tizen/service/project_def.prop
  packages/tizen_app_control/example/tizen/service/shared/res/ic_launcher.png
  packages/tizen_app_control/example/tizen/service/src/runner.cc
  packages/tizen_app_control/example/tizen/service/tizen-manifest.xml
  packages/tizen_app_control/example/tizen/ui/.exportMap
  packages/tizen_app_control/example/tizen/ui/.gitignore
  packages/tizen_app_control/example/tizen/ui/inc/runner.h
  packages/tizen_app_control/example/tizen/ui/project_def.prop
  packages/tizen_app_control/example/tizen/ui/shared/res/ic_launcher.png
  packages/tizen_app_control/example/tizen/ui/src/runner.cc
  packages/tizen_app_control/example/tizen/ui/tizen-manifest.xml
  packages/tizen_app_control/lib/app_control.dart
  packages/tizen_app_control/lib/app_manager.dart
  packages/tizen_app_control/lib/src/ffi.dart
  packages/tizen_app_control/lib/src/utils.dart
  packages/tizen_app_control/pubspec.yaml
Labels: needs-publishing

#221 [webview_flutter] Fix buffer synchronization issue
  packages/webview_flutter/CHANGELOG.md
  packages/webview_flutter/pubspec.yaml
  packages/webview_flutter/tizen/src/buffer_pool.cc
  packages/webview_flutter/tizen/src/buffer_pool.h
  packages/webview_flutter/tizen/src/webview.cc
  packages/webview_flutter/tizen/src/webview.h
Labels: needs-publishing, p: webview_flutter

#224 [video_player] Up version from 2.1.0 to 2.2.3
  packages/video_player/CHANGELOG.md
  packages/video_player/README.md
  packages/video_player/example/pubspec.yaml
  packages/video_player/pubspec.yaml
Labels: needs-publishing, p: video_player

#219 Refactor tools to use subparsers
  tools/commands/build_example.py
  tools/commands/check_tidy.py
  tools/commands/command_utils.py
  tools/commands/integration_test.py
  tools/commands/print_plugins.py
  tools/run_command.py
Labels: tools

#215 [google_maps_flutter] Add google_maps_flutter
  packages/google_maps_flutter/CHANGELOG.md
  packages/google_maps_flutter/LICENSE
  packages/google_maps_flutter/README.md
  packages/google_maps_flutter/analysis_options.yaml
  packages/google_maps_flutter/example/.gitignore
  packages/google_maps_flutter/example/README.md
  packages/google_maps_flutter/example/assets/2.0x/red_square.png
  packages/google_maps_flutter/example/assets/3.0x/red_square.png
  packages/google_maps_flutter/example/assets/map.html
  packages/google_maps_flutter/example/assets/night_mode.json
  packages/google_maps_flutter/example/assets/red_square.png
  packages/google_maps_flutter/example/integration_test/google_maps_test.dart
  packages/google_maps_flutter/example/lib/animate_camera.dart
  packages/google_maps_flutter/example/lib/lite_mode.dart
  packages/google_maps_flutter/example/lib/main.dart
  packages/google_maps_flutter/example/lib/map_click.dart
  packages/google_maps_flutter/example/lib/map_coordinates.dart
  packages/google_maps_flutter/example/lib/map_ui.dart
  packages/google_maps_flutter/example/lib/marker_icons.dart
  packages/google_maps_flutter/example/lib/move_camera.dart
  packages/google_maps_flutter/example/lib/padding.dart
  packages/google_maps_flutter/example/lib/page.dart
  packages/google_maps_flutter/example/lib/place_circle.dart
  packages/google_maps_flutter/example/lib/place_marker.dart
  packages/google_maps_flutter/example/lib/place_polygon.dart
  packages/google_maps_flutter/example/lib/place_polyline.dart
  packages/google_maps_flutter/example/lib/scrolling_map.dart
  packages/google_maps_flutter/example/lib/snapshot.dart
  packages/google_maps_flutter/example/lib/tile_overlay.dart
  packages/google_maps_flutter/example/pubspec.yaml
  packages/google_maps_flutter/example/test_driver/integration_test.dart
  packages/google_maps_flutter/example/tizen/.gitignore
  packages/google_maps_flutter/example/tizen/App.cs
  packages/google_maps_flutter/example/tizen/Runner.csproj
  packages/google_maps_flutter/example/tizen/shared/res/ic_launcher.png
  packages/google_maps_flutter/example/tizen/tizen-manifest.xml
  packages/google_maps_flutter/lib/google_maps_flutter_tizen.dart
  packages/google_maps_flutter/lib/src/circle.dart
  packages/google_maps_flutter/lib/src/circles.dart
  packages/google_maps_flutter/lib/src/convert.dart
  packages/google_maps_flutter/lib/src/google_maps_controller.dart
  packages/google_maps_flutter/lib/src/google_maps_flutter_tizen.dart
  packages/google_maps_flutter/lib/src/marker.dart
  packages/google_maps_flutter/lib/src/markers.dart
  packages/google_maps_flutter/lib/src/polygon.dart
  packages/google_maps_flutter/lib/src/polygons.dart
  packages/google_maps_flutter/lib/src/polyline.dart
  packages/google_maps_flutter/lib/src/polylines.dart
  packages/google_maps_flutter/lib/src/types.dart
  packages/google_maps_flutter/lib/src/util.dart
  packages/google_maps_flutter/pubspec.yaml
Labels: needs-publishing, p: google_maps_flutter

#220 [wakelock] Bump up platform interface and update implementation
  packages/wakelock/CHANGELOG.md
  packages/wakelock/README.md
  packages/wakelock/example/pubspec.yaml
  packages/wakelock/pubspec.yaml
  packages/wakelock/tizen/src/wakelock_tizen_plugin.cc
Labels: needs-publishing, p: wakelock

#225 [tizen_app_control] Support getMatchedAppIds
  packages/tizen_app_control/example/integration_test/tizen_app_control_test.dart
  packages/tizen_app_control/example/lib/main.dart
  packages/tizen_app_control/lib/app_control.dart
Labels: p: tizen_app_control
