Repository flutter-tizen/plugins, pull requests merged in 2021-12, with the labels that each got.

#283 Show first frame after player prepared
  packages/video_player/tizen/src/video_player.cc
Labels: p: video_player

#280 [flutter_tts] Minor cleanups
  packages/flutter_tts/CHANGELOG.md
  packages/flutter_tts/README.md
  packages/flutter_tts/example/README.md
  packages/flutter_tts/example/integration_test/flutter_tts_test.dart
  packages/flutter_tts/example/test_driver/integration_test.dart
  packages/flutter_tts/example/tizen/Runner.csproj
  packages/flutter_tts/example/tizen/tizen-manifest.xml
Labels: p: flutter_tts

#290 Add pub badges to README
  packages/audioplayers/README.md
  packages/battery/README.md
  packages/battery_plus/README.md
  packages/camera/README.md
  packages/connectivity/README.md
  packages/connectivity_plus/README.md
  packages/device_info/README.md
  packages/device_info_plus/README.md
  packages/flutter_tts/README.md
  packages/geolocator/README.md
  packages/google_maps_flutter/README.md
  packages/image_picker/README.md
  packages/integration_test/README.md
  packages/messageport/README.md
  packages/network_info_plus/README.md
  packages/package_info/README.md
  packages/package_info_plus/README.md
  packages/path_provider/README.md
  packages/permission_handler/README.md
  packages/sensors/README.md
  packages/sensors_plus/README.md
  packages/share/README.md
  packages/share_plus/README.md
  packages/shared_preferences/README.md
  packages/tizen_app_control/README.md
  packages/url_launcher/README.md
  packages/video_player/README.md
  packages/wakelock/README.md
  packages/wearable_rotary/README.md
  packages/webview_flutter/README.md
  packages/wifi_info_flutter/README.md
Labels: p: audioplayers, p: battery, p: battery_plus, p: camera, p: connectivity, p: connectivity_plus, p: device_info, p: device_info_plus, p: flutter_tts, p: image_picker, p: network_info_plus, p: package_info, p: package_info_plus, p: permission_handler, p: sensors, p: sensors_plus, p: share, p: shared_preferences, p: share_plus, p: url_launcher, p: video_player, p: wakelock, p: webview_flutter, p: wifi_info_flutter, deprecated-packages-changed, p: geolocator, p: messageport, p: path_provider, p: google_maps_flutter, p: tizen_app_control, p: integration_test, p: wearable_rotary

#281 [geolocator] Update geolocator to 8.0.0
  packages/geolocator/CHANGELOG.md
  packages/geolocator/README.md
  packages/geolocator/example/integration_test/geolocator_test.dart
  packages/geolocator/example/lib/main.dart
  packages/geolocator/example/pubspec.yaml
  packages/geolocator/example/test_driver/integration_test.dart
  packages/geolocator/example/tizen/Runner.csproj
  packages/geolocator/example/tizen/tizen-manifest.xml
  packages/geolocator/pubspec.yaml
  packages/geolocator/tizen/src/geolocator_tizen_plugin.cc
  packages/geolocator/tizen/src/location.h
  packages/geolocator/tizen/src/tizen_result.h
Labels: needs-publishing, p: geolocator

#282 [image_picker] Update image_picker to 0.8.4
  packages/image_picker/CHANGELOG.md
  packages/image_picker/README.md
  packages/image_picker/example/integration_test/image_picker_test.dart
  packages/image_picker/example/lib/main.dart
  packages/image_picker/example/pubspec.yaml
  packages/image_picker/example/test_driver/integration_test.dart
  packages/image_picker/example/tizen/Runner.csproj
  packages/image_picker/example/tizen/tizen-manifest.xml
  packages/image_picker/pubspec.yaml
  packages/image_picker/tizen/src/image_picker_tizen_plugin.cc
  tools/recipe.yaml
Labels: needs-publishing, p: image_picker, tools

#284 [integration_test] Version bump to 2.0.1
  packages/integration_test/CHANGELOG.md
  packages/integration_test/README.md
  packages/integration_test/example/integration_test/example_test.dart
  packages/integration_test/example/test_driver/integration_test.dart
  packages/integration_test/example/tizen/Runner.csproj
  packages/integration_test/example/tizen/tizen-manifest.xml
  packages/integration_test/pubspec.yaml
  packages/integration_test/tizen/src/integration_test_plugin.cc
Labels: needs-publishing, p: integration_test

#285 [path_provider] Update path_provider to 2.0.7
  packages/path_provider/CHANGELOG.md
  packages/path_provider/README.md
  packages/path_provider/example/integration_test/path_provider_test.dart
  packages/path_provider/example/lib/main.dart
  packages/path_provider/example/pubspec.yaml
  packages/path_provider/example/tizen/Runner.csproj
  packages/path_provider/example/tizen/tizen-manifest.xml
  packages/path_provider/lib/path_provider_tizen.dart
  packages/path_provider/pubspec.yaml
  tools/recipe.yaml
Labels: needs-publishing, p: path_provider, tools

#286 [permission_handler] Update permission_handler to 8.3.0
  packages/permission_handler/CHANGELOG.md
  packages/permission_handler/README.md
  packages/permission_handler/example/integration_test/permission_handler_test.dart
  packages/permission_handler/example/lib/main.dart
  packages/permission_handler/example/lib/plugin_example/permission_list.dart
  packages/permission_handler/example/lib/plugin_example/permission_widget.dart
  packages/permission_handler/example/lib/template/globals.dart
  packages/permission_handler/example/lib/template/info_page.dart
  packages/permission_handler/example/pubspec.yaml
  packages/permission_handler/example/test_driver/integration_test.dart
  packages/permission_handler/example/tizen/Runner.csproj
  packages/permission_handler/example/tizen/tizen-manifest.xml
  packages/permission_handler/pubspec.yaml
  packages/permission_handler/tizen/src/permission_handler_tizen_plugin.cc
  packages/permission_handler/tizen/src/permission_manager.cc
  packages/permission_handler/tizen/src/type.h
Labels: needs-publishing, p: permission_handler

#287 [shared_preferences] Switch to new analysis options
  packages/shared_preferences/CHANGELOG.md
  packages/shared_preferences/README.md
  packages/shared_preferences/analysis_options.yaml
  packages/shared_preferences/example/README.md
  packages/shared_preferences/example/integration_test/shared_preferences_test.dart
  packages/shared_preferences/example/pubspec.yaml
  packages/shared_preferences/example/test_driver/integration_test.dart
  packages/shared_preferences/example/tizen/Runner.csproj
  packages/shared_preferences/example/tizen/tizen-manifest.xml
  packages/shared_preferences/lib/src/bindings.dart
  packages/shared_preferences/lib/src/types.dart
  packages/shared_preferences/pubspec.yaml
Labels: needs-publishing, p: shared_preferences

#288 [url_launcher] Reimplement based on tizen_app_control
  packages/url_launcher/CHANGELOG.md
  packages/url_launcher/README.md
  packages/url_launcher/analysis_options.yaml
  packages/url_launcher/example/integration_test/url_launcher_test.dart
  packages/url_launcher/example/lib/main.dart
  packages/url_launcher/example/pubspec.yaml
  packages/url_launcher/example/tizen/Runner.csproj
  packages/url_launcher/example/tizen/tizen-manifest.xml
  packages/url_launcher/lib/src/app_control.dart
  packages/url_launcher/lib/src/types.dart
  packages/url_launcher/lib/url_launcher_tizen.dart
  packages/url_launcher/pubspec.yaml
Labels: needs-publishing, p: url_launcher

#289 [wakelock] Minor cleanups
  packages/wakelock/CHANGELOG.md
  packages/wakelock/LICENSE
  packages/wakelock/README.md
  packages/wakelock/example/integration_test/wakelock_test.dart
  packages/wakelock/example/lib/main.dart
  packages/wakelock/example/test_driver/integration_test.dart
  packages/wakelock/example/tizen/Runner.csproj
  packages/wakelock/example/tizen/tizen-manifest.xml
  packages/wakelock/pubspec.yaml
  packages/wakelock/tizen/src/wakelock_tizen_plugin.cc
Labels: needs-publishing, p: wakelock

#276 [sqflite] New Sqflite Tizen plugin
  README.md
  packages/sqflite/.gitignore
  packages/sqflite/CHANGELOG.md
  packages/sqflite/LICENSE
  packages/sqflite/README.md
  packages/sqflite/analysis_options.yaml
  packages/sqflite/example/.gitignore
  packages/sqflite/example/LICENSE
  packages/sqflite/example/README.md
  packages/sqflite/example/assets/example.db
  packages/sqflite/example/assets/issue_64.db
  packages/sqflite/example/integration_test/sqflite_test.dart
  packages/sqflite/example/lib/batch_test_page.dart
  packages/sqflite/example/lib/database/database.dart
  packages/sqflite/example/lib/deprecated_test_page.dart
  packages/sqflite/example/lib/exception_test_page.dart
  packages/sqflite/example/lib/exp_test_page.dart
  packages/sqflite/example/lib/main.dart
  packages/sqflite/example/lib/manual_test_page.dart
  packages/sqflite/example/lib/model/item.dart
  packages/sqflite/example/lib/model/main_item.dart
  packages/sqflite/example/lib/model/test.dart
  packages/sqflite/example/lib/open_test_page.dart
  packages/sqflite/example/lib/raw_test_page.dart
  packages/sqflite/example/lib/slow_test_page.dart
  packages/sqflite/example/lib/src/common_import.dart
  packages/sqflite/example/lib/src/dev_utils.dart
  packages/sqflite/example/lib/src/expect.dart
  packages/sqflite/example/lib/src/item_widget.dart
  packages/sqflite/example/lib/src/main_item_widget.dart
  packages/sqflite/example/lib/test_page.dart
  packages/sqflite/example/lib/todo_test_page.dart
  packages/sqflite/example/lib/type_test_page.dart
  packages/sqflite/example/lib/utils.dart
  packages/sqflite/example/pubspec.yaml
  packages/sqflite/example/test_driver/integration_test.dart
  packages/sqflite/example/tizen/.gitignore
  packages/sqflite/example/tizen/App.cs
  packages/sqflite/example/tizen/Runner.csproj
  packages/sqflite/example/tizen/shared/res/ic_launcher.png
  packages/sqflite/example/tizen/tizen-manifest.xml
  packages/sqflite/pubspec.yaml
  packages/sqflite/tizen/.gitignore
  packages/sqflite/tizen/inc/sqflite_plugin.h
  packages/sqflite/tizen/project_def.prop
  packages/sqflite/tizen/src/constants.h
  packages/sqflite/tizen/src/database_manager.cc
  packages/sqflite/tizen/src/database_manager.h
  packages/sqflite/tizen/src/errors.h
  packages/sqflite/tizen/src/log.h
  packages/sqflite/tizen/src/log_level.h
  packages/sqflite/tizen/src/sqflite_plugin.cc
  tools/recipe.yaml
Labels: needs-publishing, tools

#300 Resolve analyzer issues for Dart 2.15
  packages/audioplayers/example/lib/player_widget.dart
  packages/audioplayers/example/lib/tabs/global.dart
  packages/camera/example/integration_test/camera_test.dart
  packages/connectivity_plus/example/lib/main.dart
  packages/google_maps_flutter/example/integration_test/google_maps_test.dart
  packages/google_maps_flutter/example/lib/lite_mode.dart
  packages/google_maps_flutter/example/lib/map_click.dart
  packages/google_maps_flutter/example/lib/map_coordinates.dart
  packages/google_maps_flutter/example/lib/place_marker.dart
  packages/google_maps_flutter/example/lib/scrolling_map.dart
  packages/messageport/example/integration_test/messageport_test.dart
  packages/share/example/lib/image_previews.dart
  packages/share_plus/example/lib/image_previews.dart
  packages/sqflite/example/integration_test/sqflite_test.dart
  packages/sqflite/example/lib/src/item_widget.dart
  packages/sqflite/example/lib/src/main_item_widget.dart
  packages/sqflite/example/lib/test_page.dart
  packages/video_player/example/lib/main.dart
  packages/webview_flutter/example/integration_test/webview_flutter_test.dart
  packages/webview_flutter/lib/webview_flutter_tizen.dart
Labels: p: audioplayers, p: camera, p: connectivity_plus, p: share, p: share_plus, p: video_player, p: webview_flutter, deprecated-packages-changed, p: messageport, p: google_maps_flutter

#293 Update the test recipe and workflow
  .github/workflows/build.yml
  .github/workflows/integration_test.yml
  .github/workflows/pull_request_label.yml
  tools/commands/check_tidy.py
  tools/commands/integration_test.py
  tools/recipe.yaml
Labels: tools

#292 [share_plus] Reimplement in Dart
  packages/share_plus/CHANGELOG.md
  packages/share_plus/README.md
  packages/share_plus/example/integration_test/share_plus_test.dart
  packages/share_plus/example/lib/main.dart
  packages/share_plus/example/test_driver/integration_test.dart
  packages/share_plus/example/tizen/Runner.csproj
  packages/share_plus/example/tizen/tizen-manifest.xml
  packages/share_plus/lib/share_plus_tizen.dart
  packages/share_plus/pubspec.yaml
  packages/share_plus/tizen/.gitignore
  packages/share_plus/tizen/inc/share_plus_tizen_plugin.h
  packages/share_plus/tizen/project_def.prop
  packages/share_plus/tizen/src/log.h
  packages/share_plus/tizen/src/share_plus_tizen_plugin.cc
Labels: needs-publishing, p: share_plus

#296 Reduce test failures by polling device boot status
  tools/commands/integration_test.py
Labels: tools

#297 [sensors_plus] Increase the sampling rate
  packages/sensors_plus/CHANGELOG.md
  packages/sensors_plus/README.md
  packages/sensors_plus/example/lib/main.dart
  packages/sensors_plus/example/pubspec.yaml
  packages/sensors_plus/example/test_driver/integration_test.dart
  packages/sensors_plus/example/tizen/Runner.csproj
  packages/sensors_plus/example/tizen/tizen-manifest.xml
  packages/sensors_plus/pubspec.yaml
  packages/sensors_plus/tizen/src/sensors_plus_plugin.cc
Labels: needs-publishing, p: sensors_plus

#298 [connectivity_plus] Update connectivity_plus to 2.1.0
  packages/connectivity_plus/CHANGELOG.md
  packages/connectivity_plus/README.md
  packages/connectivity_plus/example/integration_test/connectivity_plus_test.dart
  packages/connectivity_plus/example/lib/main.dart
  packages/connectivity_plus/example/pubspec.yaml
  packages/connectivity_plus/example/test_driver/integration_test.dart
  packages/connectivity_plus/example/tizen/Runner.csproj
  packages/connectivity_plus/example/tizen/tizen-manifest.xml
  packages/connectivity_plus/lib/connectivity_plus_tizen.dart
  packages/connectivity_plus/pubspec.yaml
  packages/connectivity_plus/tizen/src/connectivity_plus_tizen_plugin.cc
Labels: needs-publishing, p: connectivity_plus

#299 [device_info_plus] Make values nullable
  packages/device_info_plus/CHANGELOG.md
  packages/device_info_plus/README.md
  packages/device_info_plus/example/README.md
  packages/device_info_plus/example/integration_test/device_info_plus_test.dart
  packages/device_info_plus/example/lib/main.dart
  packages/device_info_plus/example/test_driver/integration_test.dart
  packages/device_info_plus/example/tizen/Runner.csproj
  packages/device_info_plus/example/tizen/tizen-manifest.xml
  packages/device_info_plus/lib/device_info_plus_tizen.dart
  packages/device_info_plus/pubspec.yaml
  packages/device_info_plus/tizen/src/device_info_plus_tizen_plugin.cc
Labels: needs-publishing, p: device_info_plus

#303 Fix --run-on-changed-packages option
  .github/recipe.yaml
  .github/workflows/integration_test.yml
  tools/commands/build_example.py
  tools/commands/command_utils.py
  tools/commands/integration_test.py
  tools/requirements.txt
  tools/tests/__init__.py
  tools/tests/test_command_utils.py
Labels: tools

#307 Update links
  packages/audioplayers/README.md
  packages/battery/README.md
  packages/battery_plus/README.md
  packages/camera/README.md
  packages/connectivity/README.md
  packages/flutter_tts/README.md
  packages/geolocator/README.md
  packages/image_picker/README.md
  packages/integration_test/README.md
  packages/network_info_plus/README.md
  packages/package_info/README.md
  packages/package_info_plus/README.md
  packages/path_provider/README.md
  packages/sensors/README.md
  packages/shared_preferences/README.md
  packages/sqflite/README.md
  packages/url_launcher/README.md
  packages/video_player/README.md
  packages/wifi_info_flutter/README.md
Labels: p: audioplayers, p: battery, p: battery_plus, p: camera, p: connectivity, p: flutter_tts, p: image_picker, p: network_info_plus, p: package_info, p: package_info_plus, p: sensors, p: shared_preferences, p: url_launcher, p: video_player, p: wifi_info_flutter, deprecated-packages-changed, p: geolocator, p: path_provider, p: integration_test

#309 [network_info_plus] Remove dartPluginClass
  packages/network_info_plus/CHANGELOG.md
  packages/network_info_plus/README.md
  packages/network_info_plus/example/pubspec.yaml
  packages/network_info_plus/example/test_driver/integration_test.dart
  packages/network_info_plus/example/tizen/Runner.csproj
  packages/network_info_plus/example/tizen/tizen-manifest.xml
  packages/network_info_plus/lib/network_info_plus_tizen.dart
  packages/network_info_plus/pubspec.yaml
Labels: needs-publishing, p: network_info_plus

#311 [battery_plus] Remove dartPluginClass
  packages/battery_plus/CHANGELOG.md
  packages/battery_plus/README.md
  packages/battery_plus/example/pubspec.yaml
  packages/battery_plus/example/tizen/Runner.csproj
  packages/battery_plus/lib/battery_plus_tizen.dart
  packages/battery_plus/pubspec.yaml
Labels: needs-publishing, p: battery_plus

#313 Add deprecation notices
  packages/battery/CHANGELOG.md
  packages/battery/README.md
  packages/battery/pubspec.yaml
  packages/connectivity/CHANGELOG.md
  packages/connectivity/README.md
  packages/connectivity/pubspec.yaml
  packages/device_info/CHANGELOG.md
  packages/device_info/README.md
  packages/device_info/pubspec.yaml
  packages/package_info/CHANGELOG.md
  packages/package_info/README.md
  packages/package_info/pubspec.yaml
  packages/sensors/CHANGELOG.md
  packages/sensors/README.md
  packages/sensors/pubspec.yaml
  packages/share/CHANGELOG.md
  packages/share/README.md
  packages/share/pubspec.yaml
  packages/wifi_info_flutter/CHANGELOG.md
  packages/wifi_info_flutter/README.md
  packages/wifi_info_flutter/pubspec.yaml
Labels: needs-publishing, p: battery, p: connectivity, p: device_info, p: package_info, p: sensors, p: share, p: wifi_info_flutter, deprecated-packages-changed

#312 [video_player] Fix empty seekCompletedCallback issue
  packages/video_player/CHANGELOG.md
  packages/video_player/README.md
  packages/video_player/pubspec.yaml
  packages/video_player/tizen/src/video_player.cc
Labels: needs-publishing, p: video_player

#318 [package_info_plus] Update package_info_plus to 1.3.0
  packages/package_info_plus/CHANGELOG.md
  packages/package_info_plus/README.md
  packages/package_info_plus/example/integration_test/package_info_plus_test.dart
  packages/package_info_plus/example/pubspec.yaml
  packages/package_info_plus/example/test_driver/integration_test.dart
  packages/package_info_plus/example/tizen/Runner.csproj
  packages/package_info_plus/example/tizen/tizen-manifest.xml
  packages/package_info_plus/pubspec.yaml
  packages/package_info_plus/tizen/src/package_info_plus_tizen_plugin.cc
Labels: needs-publishing, p: package_info_plus

#319 [wearable_rotary] Minor cleanups
  packages/wearable_rotary/CHANGELOG.md
  packages/wearable_rotary/LICENSE
  packages/wearable_rotary/README.md
  packages/wearable_rotary/example/lib/custom_page_view.dart
  packages/wearable_rotary/example/lib/main.dart
  packages/wearable_rotary/example/tizen/Runner.csproj
  packages/wearable_rotary/example/tizen/tizen-manifest.xml
  packages/wearable_rotary/lib/wearable_rotary.dart
  packages/wearable_rotary/pubspec.yaml
  packages/wearable_rotary/tizen/src/wearable_rotary_plugin.cc
Labels: needs-publishing, p: wearable_rotary

#320 [messageport_tizen] Add LocalPort.create and RemotePort.connect
  packages/messageport/CHANGELOG.md
  packages/messageport/README.md
  packages/messageport/example/README.md
  packages/messageport/example/integration_test/messageport_test.dart
  packages/messageport/example/lib/main.dart
  packages/messageport/example/pubspec.yaml
  packages/messageport/example/test_driver/integration_test.dart
  packages/messageport/example/tizen/Runner.csproj
  packages/messageport/example/tizen/tizen-manifest.xml
  packages/messageport/lib/messageport_tizen.dart
  packages/messageport/lib/src/messageport_manager.dart
  packages/messageport/pubspec.yaml
  packages/messageport/tizen/src/messageport.cc
  packages/messageport/tizen/src/messageport.h
  packages/messageport/tizen/src/messageport_tizen_plugin.cc
Labels: needs-publishing, p: messageport
