Repository flutter-tizen/plugins, pull requests merged in 2022-10, with the labels that each got.

#455 Hold memory of StreamHandlerError's member
  packages/battery_plus/CHANGELOG.md
  packages/battery_plus/README.md
  packages/battery_plus/pubspec.yaml
  packages/battery_plus/tizen/src/battery_plus_tizen_plugin.cc
  packages/connectivity_plus/CHANGELOG.md
  packages/connectivity_plus/README.md
  packages/connectivity_plus/pubspec.yaml
  packages/connectivity_plus/tizen/src/connectivity_plus_tizen_plugin.cc
  packages/geolocator/CHANGELOG.md
  packages/geolocator/README.md
  packages/geolocator/pubspec.yaml
  packages/geolocator/tizen/src/geolocator_tizen_plugin.cc
  packages/sensors_plus/CHANGELOG.md
  packages/sensors_plus/README.md
  packages/sensors_plus/pubspec.yaml
  packages/sensors_plus/tizen/src/sensors_plus_plugin.cc
Labels: p: battery_plus, p: connectivity_plus, p: sensors_plus, p: geolocator

#457 [tizen_app_manager] Revise the example app
  packages/tizen_app_manager/CHANGELOG.md
  packages/tizen_app_manager/README.md
  packages/tizen_app_manager/example/lib/main.dart
  packages/tizen_app_manager/pubspec.yaml
  packages/tizen_app_manager/tizen/src/tizen_app_manager_plugin.cc
Labels: p: tizen_app_manager

#458 [wearable_rotary] Refactor the C++ code
  packages/wearable_rotary/CHANGELOG.md
  packages/wearable_rotary/tizen/src/wearable_rotary_plugin.cc
Labels: p: wearable_rotary

#454 [tizen_bundle] General cleanups
  packages/tizen_bundle/CHANGELOG.md
  packages/tizen_bundle/README.md
  packages/tizen_bundle/example/integration_test/bundle_test.dart
  packages/tizen_bundle/example/lib/main.dart
  packages/tizen_bundle/lib/tizen_bundle.dart
  packages/tizen_bundle/pubspec.yaml
Labels: p: tizen_bundle

#461 [image_picker] Resolve unnecessary_nullable_for_final_variable_declarations
  packages/image_picker/CHANGELOG.md
  packages/image_picker/README.md
  packages/image_picker/example/lib/main.dart
  packages/image_picker/example/pubspec.yaml
  packages/image_picker/pubspec.yaml
Labels: p: image_picker

#462 [network_info_plus] Do not use deprecated APIs
  packages/network_info_plus/CHANGELOG.md
  packages/network_info_plus/README.md
  packages/network_info_plus/example/integration_test/network_info_plus_test.dart
  packages/network_info_plus/example/lib/main.dart
  packages/network_info_plus/example/pubspec.yaml
  packages/network_info_plus/pubspec.yaml
Labels: p: network_info_plus

#466 [google_sign_in] Improve UI
  packages/google_sign_in/CHANGELOG.md
  packages/google_sign_in/README.md
  packages/google_sign_in/assets/images/qrcode.svg
  packages/google_sign_in/lib/src/device_flow_widget.dart
  packages/google_sign_in/pubspec.yaml
Labels: p: google_sign_in

#464 [google_maps_flutter] Use completer to get map id
  packages/google_maps_flutter/CHANGELOG.md
  packages/google_maps_flutter/example/integration_test/google_maps_test.dart
Labels: p: google_maps_flutter
