Repository flutter-tizen/plugins, pull requests merged in 2022-09, with the labels that each got.

#434 Apply new texture APIs
  packages/camera/CHANGELOG.md
  packages/camera/README.md
  packages/camera/pubspec.yaml
  packages/camera/tizen/src/camera_device.cc
  packages/camera/tizen/src/camera_device.h
  packages/video_player/CHANGELOG.md
  packages/video_player/README.md
  packages/video_player/pubspec.yaml
  packages/video_player/tizen/src/video_player.cc
  packages/video_player/tizen/src/video_player.h
  packages/webview_flutter/CHANGELOG.md
  packages/webview_flutter/README.md
  packages/webview_flutter/pubspec.yaml
  packages/webview_flutter/tizen/src/buffer_pool.cc
  packages/webview_flutter/tizen/src/buffer_pool.h
  packages/webview_flutter/tizen/src/webview.cc
  packages/webview_flutter/tizen/src/webview.h
Labels: p: camera, p: video_player, p: webview_flutter

#432 Resolve dart analyze warnings
  .github/workflows/build.yml
  packages/audioplayers/analysis_options.yaml
  packages/camera/example/lib/main.dart
  packages/geolocator/CHANGELOG.md
  packages/geolocator/example/lib/main.dart
  packages/google_maps_flutter/CHANGELOG.md
  packages/google_maps_flutter/README.md
  packages/google_maps_flutter/lib/src/convert.dart
  packages/google_maps_flutter/lib/src/google_maps_controller.dart
  packages/google_maps_flutter/lib/src/util.dart
  packages/google_maps_flutter/pubspec.yaml
  packages/google_sign_in/CHANGELOG.md
  packages/google_sign_in/README.md
  packages/google_sign_in/example/pubspec.yaml
  packages/google_sign_in/lib/src/secure_storage.dart
  packages/google_sign_in/pubspec.yaml
  packages/permission_handler/CHANGELOG.md
  packages/permission_handler/example/lib/main.dart
  packages/sqflite/CHANGELOG.md
  packages/sqflite/example/lib/manual_test_page.dart
  packages/sqflite/example/lib/open_test_page.dart
  packages/sqflite/example/lib/raw_test_page.dart
  packages/sqflite/example/lib/type_test_page.dart
  packages/sqflite/example/tizen/Runner.csproj
  packages/tizen_app_control/CHANGELOG.md
  packages/tizen_app_control/example/lib/main.dart
  packages/video_player/example/integration_test/video_player_test.dart
  packages/webview_flutter/lib/src/platform_view_tizen.dart
  packages/webview_flutter/lib/webview_flutter_tizen.dart
Labels: p: audioplayers, p: camera, p: permission_handler, p: video_player, p: webview_flutter, p: geolocator, p: google_maps_flutter, p: tizen_app_control, p: sqflite, p: google_sign_in

#435 [tizen_notification] Update example
  packages/tizen_notification/CHANGELOG.md
  packages/tizen_notification/README.md
  packages/tizen_notification/example/lib/main.dart
  packages/tizen_notification/pubspec.yaml
Labels: p: tizen_notification

#437 Reallow CI build of geolocator and permission_handler
  .github/workflows/build.yml
  packages/geolocator/CHANGELOG.md
  packages/geolocator/README.md
  packages/geolocator/example/pubspec.yaml
  packages/geolocator/pubspec.yaml
  packages/permission_handler/CHANGELOG.md
  packages/permission_handler/README.md
  packages/permission_handler/example/pubspec.yaml
  packages/permission_handler/pubspec.yaml
Labels: p: permission_handler, p: geolocator

#436 Run pub get before publishing packages
  tools/lib/src/build_examples_command.dart
  tools/lib/src/device.dart
  tools/lib/src/integration_test_command.dart
  tools/lib/src/publish_plugin_command.dart
  tools/pubspec.yaml
  tools/test/device_test.dart
  tools/test/integration/device_test.dart
  tools/test/integration_test_command_test.dart
  tools/test/utils.dart
  tools/test_data/foo/example/integration_test/foo_test.dart
  tools/test_data/foo/example/lib/main.dart
  tools/test_data/foo/example/tizen/Runner.csproj
  tools/test_data/foo/lib/foo.dart
  tools/test_data/foo/pubspec.yaml
Labels: tools

#426 [webview_flutter] Change the project type to sharedLib
  packages/webview_flutter/CHANGELOG.md
  packages/webview_flutter/README.md
  packages/webview_flutter/pubspec.yaml
  packages/webview_flutter/tizen/project_def.prop
Labels: p: webview_flutter

#439 [path_provider] Add tizen_interop dependency
  packages/path_provider/CHANGELOG.md
  packages/path_provider/README.md
  packages/path_provider/lib/path_provider_tizen.dart
  packages/path_provider/lib/src/app_common.dart
  packages/path_provider/lib/src/storage.dart
  packages/path_provider/pubspec.yaml
Labels: p: path_provider

#433 [video_player] Add a queue for storing decoded media packets
  packages/video_player/CHANGELOG.md
  packages/video_player/README.md
  packages/video_player/pubspec.yaml
  packages/video_player/tizen/src/video_player.cc
  packages/video_player/tizen/src/video_player.h
Labels: p: video_player

#441 [share_plus] Deprecate the package
  .github/labeler.yml
  .github/recipe.yaml
  README.md
  packages/share_plus/.gitignore
  packages/share_plus/CHANGELOG.md
  packages/share_plus/LICENSE
  packages/share_plus/README.md
  packages/share_plus/analysis_options.yaml
  packages/share_plus/example/.gitignore
  packages/share_plus/example/README.md
  packages/share_plus/example/integration_test/share_plus_test.dart
  packages/share_plus/example/lib/image_previews.dart
  packages/share_plus/example/lib/main.dart
  packages/share_plus/example/pubspec.yaml
  packages/share_plus/example/test_driver/integration_test.dart
  packages/share_plus/example/tizen/.gitignore
  packages/share_plus/example/tizen/App.cs
  packages/share_plus/example/tizen/Runner.csproj
  packages/share_plus/example/tizen/shared/res/ic_launcher.png
  packages/share_plus/example/tizen/tizen-manifest.xml
  packages/share_plus/lib/share_plus_tizen.dart
  packages/share_plus/pubspec.yaml
  packages/tizen_app_control/CHANGELOG.md
  packages/tizen_app_control/README.md
Labels: p: share_plus, p: tizen_app_control

#442 [webview_flutter] Update README
  README.md
  packages/webview_flutter/CHANGELOG.md
  packages/webview_flutter/README.md
  packages/webview_flutter/example/lib/main.dart
Labels: p: webview_flutter

#444 [tizen_app_control] Remove unused code
  packages/tizen_app_control/CHANGELOG.md
  packages/tizen_app_control/example/tizen/.gitignore
  packages/tizen_app_control/example/tizen/ui/.gitignore
  packages/tizen_app_control/lib/src/ffi.dart
Labels: p: tizen_app_control

#446 Sync analysis_options.yaml
  analysis_options.yaml
  packages/camera/example/lib/main.dart
  packages/google_maps_flutter/example/integration_test/google_maps_test.dart
  packages/google_maps_flutter/example/lib/map_click.dart
  packages/google_maps_flutter/example/lib/map_coordinates.dart
  packages/google_maps_flutter/example/lib/map_ui.dart
  packages/google_maps_flutter/example/lib/padding.dart
  packages/google_maps_flutter/example/lib/place_marker.dart
  packages/google_maps_flutter/example/lib/tile_overlay.dart
  packages/messageport/example/lib/main.dart
  packages/path_provider/example/integration_test/path_provider_test.dart
  packages/tizen_app_manager/example/lib/main.dart
  packages/tizen_audio_manager/example/lib/main.dart
  packages/video_player/example/integration_test/video_player_test.dart
  packages/video_player/example/lib/main.dart
  packages/wearable_rotary/example/lib/custom_page_view.dart
  tools/lib/src/main.dart
Labels: p: camera, p: video_player, p: messageport, p: path_provider, p: google_maps_flutter, tools, p: wearable_rotary, p: tizen_audio_manager, p: tizen_app_manager

#447 [tizen_app_manager] Add tizen_interop dependency
  packages/tizen_app_manager/CHANGELOG.md
  packages/tizen_app_manager/README.md
  packages/tizen_app_manager/lib/src/app_context.dart
  packages/tizen_app_manager/lib/src/app_manager.dart
  packages/tizen_app_manager/lib/tizen_app_manager.dart
  packages/tizen_app_manager/pubspec.yaml
Labels: p: tizen_app_manager

#448 [tizen_bundle] Update README
  packages/tizen_bundle/README.md
Labels: p: tizen_bundle

#450 [webview_flutter] Set runtime path to $ORIGIN
  packages/webview_flutter/CHANGELOG.md
  packages/webview_flutter/README.md
  packages/webview_flutter/pubspec.yaml
  packages/webview_flutter/tizen/project_def.prop
Labels: p: webview_flutter

#452 Update README
  README.md
  packages/google_maps_flutter/README.md
  packages/google_maps_flutter/example/assets/map.html
Labels: p: google_maps_flutter

#451 Support building multiple example apps in CI
  tools/lib/src/build_examples_command.dart
Labels: tools

#449 Update tizen-manifest.xml files
  packages/audioplayers/example/tizen/tizen-manifest.xml
  packages/battery_plus/example/tizen/tizen-manifest.xml
  packages/camera/example/tizen/tizen-manifest.xml
  packages/connectivity_plus/example/tizen/tizen-manifest.xml
  packages/device_info_plus/example/tizen/tizen-manifest.xml
  packages/flutter_tts/example/tizen/tizen-manifest.xml
  packages/geolocator/example/tizen/tizen-manifest.xml
  packages/google_maps_flutter/example/tizen/tizen-manifest.xml
  packages/google_sign_in/example/tizen/tizen-manifest.xml
  packages/image_picker/example/tizen/tizen-manifest.xml
  packages/integration_test/example/tizen/tizen-manifest.xml
  packages/messageport/example/tizen/tizen-manifest.xml
  packages/network_info_plus/example/tizen/tizen-manifest.xml
  packages/package_info_plus/example/tizen/tizen-manifest.xml
  packages/path_provider/example/tizen/tizen-manifest.xml
  packages/permission_handler/example/tizen/tizen-manifest.xml
  packages/sensors_plus/example/tizen/tizen-manifest.xml
  packages/shared_preferences/example/tizen/tizen-manifest.xml
  packages/sqflite/example/tizen/tizen-manifest.xml
  packages/tizen_app_manager/example/integration_test/tizen_app_manager_test.dart
  packages/tizen_app_manager/example/lib/main.dart
  packages/tizen_app_manager/example/tizen/tizen-manifest.xml
  packages/tizen_audio_manager/example/tizen/tizen-manifest.xml
  packages/tizen_bundle/example/tizen/tizen-manifest.xml
  packages/tizen_log/example/tizen/tizen-manifest.xml
  packages/tizen_notification/example/tizen/tizen-manifest.xml
  packages/tizen_package_manager/example/integration_test/tizen_package_manager_test.dart
  packages/tizen_package_manager/example/lib/main.dart
  packages/tizen_package_manager/example/tizen/tizen-manifest.xml
  packages/url_launcher/example/tizen/tizen-manifest.xml
  packages/video_player/example/tizen/tizen-manifest.xml
  packages/wakelock/example/tizen/tizen-manifest.xml
  packages/wearable_rotary/example/tizen/tizen-manifest.xml
  packages/webview_flutter/example/tizen/tizen-manifest.xml
  tools/test_data/foo/example/tizen/tizen-manifest.xml
Labels: p: audioplayers, p: battery_plus, p: camera, p: connectivity_plus, p: device_info_plus, p: flutter_tts, p: image_picker, p: network_info_plus, p: package_info_plus, p: permission_handler, p: sensors_plus, p: shared_preferences, p: url_launcher, p: video_player, p: wakelock, p: webview_flutter, p: geolocator, p: messageport, p: path_provider, p: google_maps_flutter, tools, p: integration_test, p: wearable_rotary, p: tizen_audio_manager, p: tizen_app_manager, p: tizen_log, p: tizen_package_manager, p: sqflite, p: tizen_notification, p: google_sign_in, p: tizen_bundle
