Repository flutter-tizen/plugins, pull requests merged in 2022-07, with the labels that each got.

#401 [flutter_tts] Refactor the C++ code
  packages/flutter_tts/CHANGELOG.md
  packages/flutter_tts/pubspec.yaml
  packages/flutter_tts/tizen/src/flutter_tts_tizen_plugin.cc
  packages/flutter_tts/tizen/src/text_to_speech.cc
  packages/flutter_tts/tizen/src/text_to_speech.h
Labels: p: flutter_tts

#411 [camera] Migrate to new analysis options
  packages/camera/CHANGELOG.md
  packages/camera/README.md
  packages/camera/analysis_options.yaml
  packages/camera/example/integration_test/camera_test.dart
  packages/camera/example/lib/main.dart
  packages/camera/example/pubspec.yaml
  packages/camera/pubspec.yaml
Labels: p: camera

#408 [tizen_app_manager] Refactoring the C++ code
  packages/tizen_app_manager/tizen/src/application_utils.cc
  packages/tizen_app_manager/tizen/src/application_utils.h
  packages/tizen_app_manager/tizen/src/tizen_app_info.cc
  packages/tizen_app_manager/tizen/src/tizen_app_info.h
  packages/tizen_app_manager/tizen/src/tizen_app_manager.h
  packages/tizen_app_manager/tizen/src/tizen_app_manager_plugin.cc
Labels: p: tizen_app_manager

#402 [google_maps_flutter] Fix various bugs
  packages/google_maps_flutter/CHANGELOG.md
  packages/google_maps_flutter/README.md
  packages/google_maps_flutter/analysis_options.yaml
  packages/google_maps_flutter/example/integration_test/google_maps_test.dart
  packages/google_maps_flutter/example/lib/animate_camera.dart
  packages/google_maps_flutter/example/lib/lite_mode.dart
  packages/google_maps_flutter/example/lib/main.dart
  packages/google_maps_flutter/example/lib/map_click.dart
  packages/google_maps_flutter/example/lib/map_coordinates.dart
  packages/google_maps_flutter/example/lib/map_ui.dart
  packages/google_maps_flutter/example/lib/marker_icons.dart
  packages/google_maps_flutter/example/lib/move_camera.dart
  packages/google_maps_flutter/example/lib/padding.dart
  packages/google_maps_flutter/example/lib/page.dart
  packages/google_maps_flutter/example/lib/place_circle.dart
  packages/google_maps_flutter/example/lib/place_marker.dart
  packages/google_maps_flutter/example/lib/place_polygon.dart
  packages/google_maps_flutter/example/lib/place_polyline.dart
  packages/google_maps_flutter/example/lib/scrolling_map.dart
  packages/google_maps_flutter/example/lib/snapshot.dart
  packages/google_maps_flutter/example/lib/tile_overlay.dart
  packages/google_maps_flutter/example/pubspec.yaml
  packages/google_maps_flutter/example/tizen/tizen-manifest.xml
  packages/google_maps_flutter/lib/google_maps_flutter_tizen.dart
  packages/google_maps_flutter/lib/src/circles.dart
  packages/google_maps_flutter/lib/src/convert.dart
  packages/google_maps_flutter/lib/src/google_maps_controller.dart
  packages/google_maps_flutter/lib/src/google_maps_flutter_tizen.dart
  packages/google_maps_flutter/lib/src/marker.dart
  packages/google_maps_flutter/lib/src/markers.dart
  packages/google_maps_flutter/lib/src/polygons.dart
  packages/google_maps_flutter/lib/src/polylines.dart
  packages/google_maps_flutter/lib/src/util.dart
  packages/google_maps_flutter/pubspec.yaml
Labels: p: google_maps_flutter

#416 [tizen_log] Update README
  packages/tizen_log/CHANGELOG.md
  packages/tizen_log/README.md
  packages/tizen_log/example/pubspec.yaml
  packages/tizen_log/example/tizen/tizen-manifest.xml
  packages/tizen_log/lib/tizen_log.dart
  packages/tizen_log/pubspec.yaml
Labels: p: tizen_log
