Repository flutter-tizen/plugins, pull requests merged in 2022-08, with the labels that each got.

#413 [google_sign_in] Add google_sign_in package
  .github/labeler.yml
  .github/recipe.yaml
  README.md
  packages/google_sign_in/.gitignore
  packages/google_sign_in/.pubignore
  packages/google_sign_in/CHANGELOG.md
  packages/google_sign_in/LICENSE
  packages/google_sign_in/README.md
  packages/google_sign_in/example/.gitignore
  packages/google_sign_in/example/README.md
  packages/google_sign_in/example/lib/credentials.dart
  packages/google_sign_in/example/lib/main.dart
  packages/google_sign_in/example/pubspec.yaml
  packages/google_sign_in/example/tizen/.gitignore
  packages/google_sign_in/example/tizen/App.cs
  packages/google_sign_in/example/tizen/Runner.csproj
  packages/google_sign_in/example/tizen/shared/res/ic_launcher.png
  packages/google_sign_in/example/tizen/tizen-manifest.xml
  packages/google_sign_in/lib/google_sign_in_tizen.dart
  packages/google_sign_in/lib/src/authorization_exception.dart
  packages/google_sign_in/lib/src/device_flow_widget.dart
  packages/google_sign_in/lib/src/oauth2.dart
  packages/google_sign_in/pubspec.yaml
Labels: p: google_sign_in

#418 [flutter_tts] Make speech speed proportional to speech rate
  packages/flutter_tts/CHANGELOG.md
  packages/flutter_tts/README.md
  packages/flutter_tts/example/lib/main.dart
  packages/flutter_tts/example/pubspec.yaml
  packages/flutter_tts/pubspec.yaml
  packages/flutter_tts/tizen/src/flutter_tts_tizen_plugin.cc
  packages/flutter_tts/tizen/src/text_to_speech.cc
  packages/flutter_tts/tizen/src/text_to_speech.h
Labels: p: flutter_tts

#424 [tizen_app_manager] Fix arm64 build error
  packages/tizen_app_manager/CHANGELOG.md
  packages/tizen_app_manager/README.md
  packages/tizen_app_manager/pubspec.yaml
  packages/tizen_app_manager/tizen/src/tizen_app_manager_plugin.cc
Labels: p: tizen_app_manager

#421 [google_sign_in] Persist token on disk
  .github/recipe.yaml
  packages/google_sign_in/CHANGELOG.md
  packages/google_sign_in/README.md
  packages/google_sign_in/example/integration_test/secure_storage_test.dart
  packages/google_sign_in/example/pubspec.yaml
  packages/google_sign_in/lib/google_sign_in_tizen.dart
  packages/google_sign_in/lib/src/secure_storage.dart
  packages/google_sign_in/pubspec.yaml
  packages/google_sign_in/tizen/.gitignore
  packages/google_sign_in/tizen/inc/google_sign_in_tizen_plugin.h
  packages/google_sign_in/tizen/project_def.prop
  packages/google_sign_in/tizen/src/google_sign_in_tizen_plugin.cc
  packages/google_sign_in/tizen/src/log.h
  packages/google_sign_in/tizen/src/secure_storage.cc
  packages/google_sign_in/tizen/src/secure_storage.h
Labels: p: google_sign_in

#427 Bump ffi dependencies
  packages/path_provider/CHANGELOG.md
  packages/path_provider/README.md
  packages/path_provider/pubspec.yaml
  packages/shared_preferences/CHANGELOG.md
  packages/shared_preferences/README.md
  packages/shared_preferences/pubspec.yaml
  packages/tizen_app_control/CHANGELOG.md
  packages/tizen_app_control/README.md
  packages/tizen_app_control/pubspec.yaml
  packages/tizen_app_manager/CHANGELOG.md
  packages/tizen_app_manager/README.md
  packages/tizen_app_manager/pubspec.yaml
  packages/tizen_log/CHANGELOG.md
  packages/tizen_log/README.md
  packages/tizen_log/pubspec.yaml
Labels: p: shared_preferences, p: path_provider, p: tizen_app_control, p: tizen_app_manager, p: tizen_log
