Repository flutter-tizen/plugins, pull requests merged in 2022-11, with the labels that each got.

#472 [google_sign_in] Add dependency on flutter_secure_storage_tizen
  .github/recipe.yaml
  packages/google_sign_in/CHANGELOG.md
  packages/google_sign_in/README.md
  packages/google_sign_in/example/integration_test/secure_storage_test.dart
  packages/google_sign_in/lib/google_sign_in_tizen.dart
  packages/google_sign_in/lib/src/secure_storage.dart
  packages/google_sign_in/pubspec.yaml
  packages/google_sign_in/tizen/.gitignore
  packages/google_sign_in/tizen/inc/google_sign_in_tizen_plugin.h
  packages/google_sign_in/tizen/project_def.prop
  packages/google_sign_in/tizen/src/google_sign_in_tizen_plugin.cc
  packages/google_sign_in/tizen/src/log.h
  packages/google_sign_in/tizen/src/secure_storage.cc
  packages/google_sign_in/tizen/src/secure_storage.h
Labels: p: google_sign_in

#474 [webview_flutter] Fix typo
  packages/webview_flutter/tizen/src/webview.h
  packages/webview_flutter/tizen/src/webview_factory.h
Labels: p: webview_flutter

#477 [tizen_app_control] Minor code cleanup
  packages/tizen_app_control/lib/src/app_control.dart
  packages/tizen_app_control/lib/src/utils.dart
Labels: p: tizen_app_control

#480 Fix invalid links
  README.md
  packages/camera/README.md
  packages/google_sign_in/README.md
  packages/image_picker/README.md
  packages/integration_test/README.md
  packages/path_provider/README.md
  packages/shared_preferences/README.md
  packages/url_launcher/README.md
  packages/video_player/README.md
  packages/webview_flutter/README.md
Labels: p: camera, p: image_picker, p: shared_preferences, p: url_launcher, p: video_player, p: webview_flutter, p: path_provider, p: integration_test, p: google_sign_in

#471 [wearable_rotary] Add Wear OS support
  packages/wearable_rotary/CHANGELOG.md
  packages/wearable_rotary/README.md
  packages/wearable_rotary/android/.gitignore
  packages/wearable_rotary/android/build.gradle
  packages/wearable_rotary/android/settings.gradle
  packages/wearable_rotary/android/src/main/AndroidManifest.xml
  packages/wearable_rotary/android/src/main/kotlin/com/samsung/wearable_rotary/WearableRotaryPlugin.kt
  packages/wearable_rotary/example/android/.gitignore
  packages/wearable_rotary/example/android/app/build.gradle
  packages/wearable_rotary/example/android/app/src/debug/AndroidManifest.xml
  packages/wearable_rotary/example/android/app/src/main/AndroidManifest.xml
  packages/wearable_rotary/example/android/app/src/main/kotlin/com/samsung/wearable_rotary_example/MainActivity.kt
  packages/wearable_rotary/example/android/app/src/main/res/drawable-v21/launch_background.xml
  packages/wearable_rotary/example/android/app/src/main/res/drawable/launch_background.xml
  packages/wearable_rotary/example/android/app/src/main/res/mipmap-hdpi/ic_launcher.png
  packages/wearable_rotary/example/android/app/src/main/res/mipmap-mdpi/ic_launcher.png
  packages/wearable_rotary/example/android/app/src/main/res/mipmap-xhdpi/ic_launcher.png
  packages/wearable_rotary/example/android/app/src/main/res/mipmap-xxhdpi/ic_launcher.png
  packages/wearable_rotary/example/android/app/src/main/res/mipmap-xxxhdpi/ic_launcher.png
  packages/wearable_rotary/example/android/app/src/main/res/values-night/styles.xml
  packages/wearable_rotary/example/android/app/src/main/res/values/styles.xml
  packages/wearable_rotary/example/android/app/src/profile/AndroidManifest.xml
  packages/wearable_rotary/example/android/build.gradle
  packages/wearable_rotary/example/android/gradle.properties
  packages/wearable_rotary/example/android/gradle/wrapper/gradle-wrapper.properties
  packages/wearable_rotary/example/android/settings.gradle
  packages/wearable_rotary/example/lib/custom_page_view.dart
  packages/wearable_rotary/example/lib/main.dart
  packages/wearable_rotary/example/pubspec.yaml
  packages/wearable_rotary/lib/src/rotary_scroll_controller.dart
  packages/wearable_rotary/lib/src/wearable_rotary_base.dart
  packages/wearable_rotary/lib/wearable_rotary.dart
  packages/wearable_rotary/pubspec.yaml
Labels: p: wearable_rotary

#483 [google_maps_flutter] Change dependency to webview_flutter_lwe
  packages/google_maps_flutter/CHANGELOG.md
  packages/google_maps_flutter/pubspec.yaml
Labels: p: google_maps_flutter

#481 [tizen_notification] Bump version to 0.2.0
  packages/tizen_notification/CHANGELOG.md
  packages/tizen_notification/README.md
  packages/tizen_notification/example/lib/main.dart
  packages/tizen_notification/lib/src/enums.dart
  packages/tizen_notification/lib/src/types.dart
  packages/tizen_notification/lib/tizen_notification.dart
  packages/tizen_notification/pubspec.yaml
  packages/tizen_notification/tizen/src/tizen_notification_plugin.cc
Labels: p: tizen_notification

#485 [webview_flutter] Fix canGoBack/Forward error
  packages/webview_flutter/CHANGELOG.md
  packages/webview_flutter/README.md
  packages/webview_flutter/pubspec.yaml
  packages/webview_flutter/tizen/src/webview.cc
Labels: p: webview_flutter

#486 Disable permission popups during testing
  .github/recipe.yaml
  .github/workflows/build.yml
  packages/permission_handler/example/integration_test/permission_handler_test.dart
  tools/lib/src/device.dart
  tools/lib/src/integration_test_command.dart
Labels: p: permission_handler, tools

#487 [webview_flutter] Remove non-public API
  packages/webview_flutter/tizen/src/webview.cc
Labels: p: webview_flutter

#488 [webview_flutter] Prevent invalid access
  packages/webview_flutter/tizen/src/webview.cc
Labels: p: webview_flutter
