Repository flutter-tizen/plugins, pull requests merged in 2022-05, with the labels that each got.

#360 Implement recipe logic properly
  tools/lib/src/integration_test_command.dart
  tools/lib/src/recipe.dart
  tools/test/device_test.dart
  tools/test/integration_test_command_test.dart
  tools/test/recipe_test.dart
Labels: tools

#364 [webview_flutter] Support background color property
  packages/webview_flutter/CHANGELOG.md
  packages/webview_flutter/README.md
  packages/webview_flutter/pubspec.yaml
  packages/webview_flutter/tizen/src/webview.cc
Labels: needs-publishing, p: webview_flutter

#375 Precache tizen artifacts before test runs
  tools/lib/src/integration_test_command.dart
Labels: tools

#373 Fixed warnings found with static analysis tool
  packages/sqflite/tizen/src/database_manager.h
  packages/webview_flutter/tizen/src/webview.cc
Labels: p: webview_flutter

#370 [webview_flutter] Apply flutter-tizen api change
  packages/webview_flutter/pubspec.yaml
  packages/webview_flutter/tizen/src/webview_flutter_tizen_plugin.cc
Labels: needs-publishing, p: webview_flutter

#377 [webview_flutter] Remove unused code
  packages/webview_flutter/CHANGELOG.md
  packages/webview_flutter/example/pubspec.yaml
  packages/webview_flutter/pubspec.yaml
  packages/webview_flutter/tizen/src/buffer_pool.h
  packages/webview_flutter/tizen/src/webview.cc
  packages/webview_flutter/tizen/src/webview.h
  packages/webview_flutter/tizen/src/webview_factory.cc
  packages/webview_flutter/tizen/src/webview_factory.h
  packages/webview_flutter/tizen/src/webview_flutter_tizen_plugin.cc
Labels: needs-publishing, p: webview_flutter

#381 Fix an error when run without recipe and update the recipe to test on 6.5 TV emulators
  .github/recipe.yaml
  tools/lib/src/integration_test_command.dart
Labels: tools

#357 [audioplayers] Refactor the C++ code
  packages/audioplayers/tizen/src/audio_player.cc
  packages/audioplayers/tizen/src/audio_player.h
  packages/audioplayers/tizen/src/audio_player_error.h
  packages/audioplayers/tizen/src/audio_player_options.h
  packages/audioplayers/tizen/src/audioplayers_tizen_plugin.cc
Labels: p: audioplayers

#384 Fix dart analyze issues
  .github/labeler.yml
  packages/integration_test/example/integration_test/example_test.dart
  packages/sqflite/example/lib/main.dart
  packages/sqflite/example/lib/manual_test_page.dart
  packages/sqflite/example/lib/model/item.dart
  packages/sqflite/example/lib/open_test_page.dart
  packages/sqflite/example/lib/src/item_widget.dart
  packages/sqflite/example/lib/src/main_item_widget.dart
  packages/sqflite/example/lib/test_page.dart
  packages/sqflite/example/lib/type_test_page.dart
  packages/sqflite/example/pubspec.yaml
  packages/webview_flutter/lib/src/platform_view_tizen.dart
Labels: needs-publishing, p: webview_flutter, p: integration_test, p: sqflite

#379 [permission_handler] Refactor the C++ code
  README.md
  packages/permission_handler/CHANGELOG.md
  packages/permission_handler/tizen/src/app_settings_manager.cc
  packages/permission_handler/tizen/src/app_settings_manager.h
  packages/permission_handler/tizen/src/permission_handler_tizen_plugin.cc
  packages/permission_handler/tizen/src/permission_manager.cc
  packages/permission_handler/tizen/src/permission_manager.h
  packages/permission_handler/tizen/src/permissions.h
  packages/permission_handler/tizen/src/service_manager.cc
  packages/permission_handler/tizen/src/service_manager.h
Labels: p: permission_handler

#385 Update copyright information
  packages/audioplayers/LICENSE
  packages/audioplayers/tizen/src/audio_player.cc
  packages/audioplayers/tizen/src/audio_player.h
  packages/audioplayers/tizen/src/audio_player_error.h
  packages/audioplayers/tizen/src/audioplayers_tizen_plugin.cc
  packages/battery_plus/LICENSE
  packages/connectivity_plus/LICENSE
  packages/device_info_plus/LICENSE
  packages/flutter_tts/LICENSE
  packages/flutter_tts/example/LICENSE
  packages/flutter_tts/tizen/src/flutter_tts_tizen_plugin.cc
  packages/geolocator/LICENSE
  packages/geolocator/example/LICENSE
  packages/google_maps_flutter/LICENSE
  packages/google_maps_flutter/lib/google_maps_flutter_tizen.dart
  packages/google_maps_flutter/lib/src/circle.dart
  packages/google_maps_flutter/lib/src/circles.dart
  packages/google_maps_flutter/lib/src/convert.dart
  packages/google_maps_flutter/lib/src/google_maps_controller.dart
  packages/google_maps_flutter/lib/src/google_maps_flutter_tizen.dart
  packages/google_maps_flutter/lib/src/marker.dart
  packages/google_maps_flutter/lib/src/markers.dart
  packages/google_maps_flutter/lib/src/polygon.dart
  packages/google_maps_flutter/lib/src/polygons.dart
  packages/google_maps_flutter/lib/src/polyline.dart
  packages/google_maps_flutter/lib/src/polylines.dart
  packages/google_maps_flutter/lib/src/types.dart
  packages/google_maps_flutter/lib/src/util.dart
  packages/image_picker/tizen/src/image_resize.h
  packages/integration_test/tizen/src/integration_test_plugin.cc
  packages/messageport/LICENSE
  packages/messageport/tizen/src/messageport.cc
  packages/messageport/tizen/src/messageport.h
  packages/network_info_plus/LICENSE
  packages/package_info_plus/LICENSE
  packages/permission_handler/LICENSE
  packages/permission_handler/example/LICENSE
  packages/sensors_plus/LICENSE
  packages/sensors_plus/tizen/src/sensors_plus_plugin.cc
  packages/share_plus/LICENSE
  packages/tizen_app_manager/LICENSE
  packages/tizen_audio_manager/LICENSE
  packages/tizen_notification/lib/src/enums.dart
  packages/tizen_notification/lib/src/types.dart
  packages/tizen_notification/lib/tizen_notification.dart
  packages/tizen_notification/tizen/src/tizen_notification_plugin.cc
  packages/tizen_package_manager/LICENSE
  packages/video_player/tizen/src/message.cc
  packages/video_player/tizen/src/message.h
  packages/video_player/tizen/src/video_player.cc
  packages/video_player/tizen/src/video_player.h
  packages/video_player/tizen/src/video_player_error.h
  packages/video_player/tizen/src/video_player_options.h
  packages/video_player/tizen/src/video_player_tizen_plugin.cc
  packages/wakelock/LICENSE
  packages/wakelock/tizen/src/wakelock_tizen_plugin.cc
  packages/wearable_rotary/LICENSE
  packages/wearable_rotary/lib/wearable_rotary.dart
  packages/wearable_rotary/tizen/src/wearable_rotary_plugin.cc
  packages/webview_flutter/LICENSE
Labels: p: audioplayers, p: battery_plus, p: connectivity_plus, p: device_info_plus, p: flutter_tts, p: image_picker, p: network_info_plus, p: package_info_plus, p: permission_handler, p: sensors_plus, p: share_plus, p: video_player, p: wakelock, p: webview_flutter, p: geolocator, p: messageport, p: google_maps_flutter, p: integration_test, p: wearable_rotary, p: tizen_audio_manager, p: tizen_app_manager, p: tizen_package_manager

#388 Fix a typo in PermissionManager
  packages/camera/tizen/src/camera_plugin.cc
  packages/camera/tizen/src/permission_manager.cc
  packages/camera/tizen/src/permission_manager.h
  packages/image_picker/tizen/src/image_picker_tizen_plugin.cc
  packages/image_picker/tizen/src/permission_manager.cc
  packages/image_picker/tizen/src/permission_manager.h
  packages/permission_handler/tizen/src/permission_handler_tizen_plugin.cc
  packages/permission_handler/tizen/src/permission_manager.cc
  packages/permission_handler/tizen/src/permission_manager.h
Labels: p: camera, p: image_picker, p: permission_handler

#383 [webview_flutter] Refactor the C++ code
  packages/webview_flutter/CHANGELOG.md
  packages/webview_flutter/tizen/src/buffer_pool.cc
  packages/webview_flutter/tizen/src/buffer_pool.h
  packages/webview_flutter/tizen/src/webview.cc
  packages/webview_flutter/tizen/src/webview.h
  packages/webview_flutter/tizen/src/webview_factory.cc
  packages/webview_flutter/tizen/src/webview_factory.h
  packages/webview_flutter/tizen/src/webview_flutter_tizen_plugin.cc
Labels: p: webview_flutter

#395 Sync flutter/plugins analysis options
  analysis_options.yaml
  packages/integration_test/example/lib/main.dart
  packages/messageport/example/lib/main.dart
  packages/path_provider/CHANGELOG.md
  packages/path_provider/example/lib/main.dart
  packages/shared_preferences/example/lib/main.dart
  packages/shared_preferences/example/pubspec.yaml
  packages/shared_preferences/lib/shared_preferences_tizen.dart
  packages/shared_preferences/lib/src/bindings.dart
  packages/shared_preferences/pubspec.yaml
  packages/tizen_app_control/example/integration_test/tizen_app_control_test.dart
  packages/tizen_app_control/example/lib/main.dart
  packages/tizen_app_control/lib/app_control.dart
  packages/tizen_app_control/lib/src/ffi.dart
  packages/tizen_app_control/lib/src/utils.dart
  packages/tizen_app_manager/example/lib/main.dart
  packages/tizen_app_manager/lib/app_manager.dart
  packages/tizen_app_manager/lib/src/app_context.dart
  packages/tizen_audio_manager/example/lib/main.dart
  packages/tizen_log/example/lib/main.dart
  packages/tizen_notification/example/lib/main.dart
  packages/tizen_notification/lib/tizen_notification.dart
  packages/tizen_package_manager/example/lib/main.dart
  packages/url_launcher/example/lib/main.dart
  packages/url_launcher/example/pubspec.yaml
  packages/url_launcher/pubspec.yaml
  packages/wearable_rotary/example/lib/custom_page_view.dart
  packages/wearable_rotary/example/lib/main.dart
Labels: p: shared_preferences, p: url_launcher, p: messageport, p: path_provider, p: tizen_app_control, p: integration_test, p: wearable_rotary, p: tizen_audio_manager, p: tizen_app_manager, p: tizen_log, p: tizen_package_manager, p: tizen_notification

#393 [image_picker] Migrate to new analysis options
  packages/image_picker/CHANGELOG.md
  packages/image_picker/analysis_options.yaml
  packages/image_picker/example/lib/main.dart
  packages/image_picker/example/pubspec.yaml
  packages/image_picker/pubspec.yaml
Labels: p: image_picker

#394 Publish packages automatically after merge
  .github/labeler.yml
  .github/workflows/release.yml
  tools/lib/src/main.dart
  tools/lib/src/process_runner_apis.dart
  tools/lib/src/publish_plugin_command.dart
  tools/pubspec.yaml
Labels: tools

#392 [video_player] Update video_player to 2.4.2
  packages/video_player/CHANGELOG.md
  packages/video_player/README.md
  packages/video_player/analysis_options.yaml
  packages/video_player/example/assets/Audio.mp3
  packages/video_player/example/assets/Butterfly-209.webm
  packages/video_player/example/integration_test/video_player_test.dart
  packages/video_player/example/lib/main.dart
  packages/video_player/example/pubspec.yaml
  packages/video_player/example/test_driver/video_player_test.dart
  packages/video_player/pubspec.yaml
  packages/video_player/tizen/src/video_player.cc
  packages/video_player/tizen/src/video_player.h
Labels: needs-publishing, p: video_player

#387 [geolocator] Refactor the C++ code
  packages/geolocator/CHANGELOG.md
  packages/geolocator/pubspec.yaml
  packages/geolocator/tizen/inc/geolocator_tizen_plugin.h
  packages/geolocator/tizen/src/app_settings_manager.cc
  packages/geolocator/tizen/src/app_settings_manager.h
  packages/geolocator/tizen/src/geolocator_tizen_plugin.cc
  packages/geolocator/tizen/src/location_manager.cc
  packages/geolocator/tizen/src/location_manager.h
  packages/geolocator/tizen/src/locaton_manager.cc
  packages/geolocator/tizen/src/locaton_manager.h
  packages/geolocator/tizen/src/permission_manager.cc
  packages/geolocator/tizen/src/permission_manager.h
  packages/geolocator/tizen/src/position.h
  packages/geolocator/tizen/src/setting.cc
  packages/geolocator/tizen/src/setting.h
  packages/geolocator/tizen/src/tizen_result.h
Labels: needs-publishing, p: geolocator
