Repository flutter-tizen/plugins, pull requests merged in 2022-06, with the labels that each got.

#398 [webview_flutter] Apply PlatformView API change
  packages/webview_flutter/CHANGELOG.md
  packages/webview_flutter/README.md
  packages/webview_flutter/pubspec.yaml
  packages/webview_flutter/tizen/src/webview.cc
  packages/webview_flutter/tizen/src/webview.h
Labels: p: webview_flutter

#404 [webview_flutter] Handle back key
  packages/webview_flutter/CHANGELOG.md
  packages/webview_flutter/README.md
  packages/webview_flutter/pubspec.yaml
  packages/webview_flutter/tizen/src/webview.cc
Labels: p: webview_flutter

#403 [tizen_app_control] Deprecate AppManager
  packages/tizen_app_control/CHANGELOG.md
  packages/tizen_app_control/README.md
  packages/tizen_app_control/example/integration_test/tizen_app_control_test.dart
  packages/tizen_app_control/example/lib/main.dart
  packages/tizen_app_control/example/pubspec.yaml
  packages/tizen_app_control/lib/app_control.dart
  packages/tizen_app_control/lib/app_manager.dart
  packages/tizen_app_control/lib/src/ffi.dart
  packages/tizen_app_control/lib/tizen_app_control.dart
  packages/tizen_app_control/pubspec.yaml
Labels: p: tizen_app_control

#405 [tizen_app_manager] Deprecate AppRunningContext.dispose
  packages/tizen_app_manager/CHANGELOG.md
  packages/tizen_app_manager/README.md
  packages/tizen_app_manager/example/lib/main.dart
  packages/tizen_app_manager/lib/app_manager.dart
  packages/tizen_app_manager/pubspec.yaml
Labels: p: tizen_app_manager

#407 [tizen_app_control] Remove AppManager
  packages/tizen_app_control/CHANGELOG.md
  packages/tizen_app_control/README.md
  packages/tizen_app_control/example/lib/main.dart
  packages/tizen_app_control/example/pubspec.yaml
  packages/tizen_app_control/lib/app_manager.dart
  packages/tizen_app_control/lib/src/app_control.dart
  packages/tizen_app_control/lib/tizen_app_control.dart
  packages/tizen_app_control/pubspec.yaml
Labels: p: tizen_app_control

#410 Clean up license in auto-generated file
  packages/battery_plus/tizen/inc/battery_plus_tizen_plugin.h
  packages/geolocator/tizen/inc/geolocator_tizen_plugin.h
  packages/messageport/tizen/inc/messageport_tizen_plugin.h
  packages/tizen_app_manager/tizen/inc/tizen_app_manager_plugin.h
  packages/tizen_audio_manager/tizen/inc/tizen_audio_manager_plugin.h
  packages/tizen_audio_manager/tizen/src/log.h
  packages/tizen_package_manager/tizen/inc/tizen_package_manager_plugin.h
Labels: p: battery_plus, p: geolocator, p: messageport, p: tizen_audio_manager, p: tizen_app_manager, p: tizen_package_manager

#409 Update Tizen package dependencies in pubspecs
  packages/audioplayers/example/pubspec.yaml
  packages/permission_handler/example/pubspec.yaml
  packages/share_plus/CHANGELOG.md
  packages/share_plus/lib/share_plus_tizen.dart
  packages/share_plus/pubspec.yaml
  packages/tizen_app_manager/example/integration_test/tizen_app_manager_test.dart
  packages/tizen_app_manager/example/lib/main.dart
  packages/tizen_app_manager/example/pubspec.yaml
  packages/tizen_notification/CHANGELOG.md
  packages/tizen_notification/lib/tizen_notification.dart
  packages/tizen_notification/pubspec.yaml
  packages/url_launcher/CHANGELOG.md
  packages/url_launcher/lib/url_launcher_tizen.dart
  packages/url_launcher/pubspec.yaml
  packages/webview_flutter/example/pubspec.yaml
Labels: p: audioplayers, p: permission_handler, p: share_plus, p: url_launcher, p: webview_flutter, p: tizen_app_manager, p: tizen_notification

#406 [audioplayers] Update audioplayers
  .github/recipe.yaml
  packages/audioplayers/CHANGELOG.md
  packages/audioplayers/README.md
  packages/audioplayers/analysis_options.yaml
  packages/audioplayers/example/assets/audio.mp3
  packages/audioplayers/example/assets/audio2.mp3
  packages/audioplayers/example/assets/laser.wav
  packages/audioplayers/example/assets/messenger.mp3
  packages/audioplayers/example/assets/nasa_on_a_mission.mp3
  packages/audioplayers/example/integration_test/audioplayers_test.dart
  packages/audioplayers/example/lib/components/btn.dart
  packages/audioplayers/example/lib/components/cbx.dart
  packages/audioplayers/example/lib/components/dlg.dart
  packages/audioplayers/example/lib/components/pad.dart
  packages/audioplayers/example/lib/components/player_widget.dart
  packages/audioplayers/example/lib/components/tab_wrapper.dart
  packages/audioplayers/example/lib/components/tabs.dart
  packages/audioplayers/example/lib/components/tgl.dart
  packages/audioplayers/example/lib/components/txt.dart
  packages/audioplayers/example/lib/main.dart
  packages/audioplayers/example/lib/player_widget.dart
  packages/audioplayers/example/lib/tabs/audio_context.dart
  packages/audioplayers/example/lib/tabs/controls.dart
  packages/audioplayers/example/lib/tabs/global.dart
  packages/audioplayers/example/lib/tabs/logger.dart
  packages/audioplayers/example/lib/tabs/sources.dart
  packages/audioplayers/example/lib/tabs/streams.dart
  packages/audioplayers/example/lib/utils.dart
  packages/audioplayers/example/pubspec.yaml
  packages/audioplayers/pubspec.yaml
  packages/audioplayers/tizen/src/audio_player.cc
  packages/audioplayers/tizen/src/audio_player.h
  packages/audioplayers/tizen/src/audioplayers_tizen_plugin.cc
Labels: p: audioplayers
