Repository flutter-tizen/plugins, pull requests merged in 2022-02, with the labels that each got.

#324 [tizen_audio_manager] Add tizen_audio_manager plugin
  .github/labeler.yml
  .github/recipe.yaml
  README.md
  packages/tizen_audio_manager/.gitignore
  packages/tizen_audio_manager/CHANGELOG.md
  packages/tizen_audio_manager/LICENSE
  packages/tizen_audio_manager/README.md
  packages/tizen_audio_manager/example/.gitignore
  packages/tizen_audio_manager/example/README.md
  packages/tizen_audio_manager/example/integration_test/audio_manager_test.dart
  packages/tizen_audio_manager/example/lib/main.dart
  packages/tizen_audio_manager/example/pubspec.yaml
  packages/tizen_audio_manager/example/tizen/.gitignore
  packages/tizen_audio_manager/example/tizen/App.cs
  packages/tizen_audio_manager/example/tizen/Runner.csproj
  packages/tizen_audio_manager/example/tizen/shared/res/ic_launcher.png
  packages/tizen_audio_manager/example/tizen/tizen-manifest.xml
  packages/tizen_audio_manager/lib/tizen_audio_manager.dart
  packages/tizen_audio_manager/pubspec.yaml
  packages/tizen_audio_manager/tizen/.gitignore
  packages/tizen_audio_manager/tizen/inc/tizen_audio_manager_plugin.h
  packages/tizen_audio_manager/tizen/project_def.prop
  packages/tizen_audio_manager/tizen/src/log.h
  packages/tizen_audio_manager/tizen/src/tizen_audio_manager_plugin.cc
Labels: needs-publishing

#331 [package_info_plus] Remove dartPluginClass
  packages/package_info_plus/CHANGELOG.md
  packages/package_info_plus/README.md
  packages/package_info_plus/example/pubspec.yaml
  packages/package_info_plus/lib/package_info_plus_tizen.dart
  packages/package_info_plus/pubspec.yaml
Labels: needs-publishing, p: package_info_plus

#332 [share_plus] Remove obsolete registration code
  packages/share_plus/CHANGELOG.md
  packages/share_plus/README.md
  packages/share_plus/example/pubspec.yaml
  packages/share_plus/lib/share_plus_tizen.dart
  packages/share_plus/pubspec.yaml
Labels: needs-publishing, p: share_plus

#325 [tizen_app_manager] Add tizen_app_manager package
  .github/labeler.yml
  .github/recipe.yaml
  README.md
  packages/tizen_app_manager/.gitignore
  packages/tizen_app_manager/CHANGELOG.md
  packages/tizen_app_manager/LICENSE
  packages/tizen_app_manager/README.md
  packages/tizen_app_manager/example/.gitignore
  packages/tizen_app_manager/example/README.md
  packages/tizen_app_manager/example/integration_test/tizen_app_manager_test.dart
  packages/tizen_app_manager/example/lib/main.dart
  packages/tizen_app_manager/example/pubspec.yaml
  packages/tizen_app_manager/example/test_driver/integration_test.dart
  packages/tizen_app_manager/example/tizen/.gitignore
  packages/tizen_app_manager/example/tizen/App.cs
  packages/tizen_app_manager/example/tizen/Runner.csproj
  packages/tizen_app_manager/example/tizen/shared/res/ic_launcher.png
  packages/tizen_app_manager/example/tizen/tizen-manifest.xml
  packages/tizen_app_manager/lib/app_manager.dart
  packages/tizen_app_manager/lib/src/app_context.dart
  packages/tizen_app_manager/pubspec.yaml
  packages/tizen_app_manager/tizen/.gitignore
  packages/tizen_app_manager/tizen/inc/tizen_app_manager_plugin.h
  packages/tizen_app_manager/tizen/project_def.prop
  packages/tizen_app_manager/tizen/src/application_utils.cc
  packages/tizen_app_manager/tizen/src/application_utils.h
  packages/tizen_app_manager/tizen/src/log.h
  packages/tizen_app_manager/tizen/src/tizen_app_manager.h
  packages/tizen_app_manager/tizen/src/tizen_app_manager_plugin.cc
Labels: needs-publishing

#330 [tizen_package_manager] Add tizen_package_manager package
  .github/labeler.yml
  .github/recipe.yaml
  README.md
  packages/tizen_package_manager/.gitignore
  packages/tizen_package_manager/CHANGELOG.md
  packages/tizen_package_manager/LICENSE
  packages/tizen_package_manager/README.md
  packages/tizen_package_manager/example/.gitignore
  packages/tizen_package_manager/example/README.md
  packages/tizen_package_manager/example/integration_test/tizen_package_manager_test.dart
  packages/tizen_package_manager/example/lib/main.dart
  packages/tizen_package_manager/example/pubspec.yaml
  packages/tizen_package_manager/example/test_driver/integration_test.dart
  packages/tizen_package_manager/example/tizen/.gitignore
  packages/tizen_package_manager/example/tizen/App.cs
  packages/tizen_package_manager/example/tizen/Runner.csproj
  packages/tizen_package_manager/example/tizen/shared/res/ic_launcher.png
  packages/tizen_package_manager/example/tizen/shared/res/org.example.simplehome.tpk
  packages/tizen_package_manager/example/tizen/tizen-manifest.xml
  packages/tizen_package_manager/lib/package_manager.dart
  packages/tizen_package_manager/pubspec.yaml
  packages/tizen_package_manager/tizen/.gitignore
  packages/tizen_package_manager/tizen/inc/tizen_package_manager_plugin.h
  packages/tizen_package_manager/tizen/project_def.prop
  packages/tizen_package_manager/tizen/src/log.h
  packages/tizen_package_manager/tizen/src/package_manager_utils.cc
  packages/tizen_package_manager/tizen/src/package_manager_utils.h
  packages/tizen_package_manager/tizen/src/tizen_package_manager_plugin.cc
Labels: needs-publishing
