Repository flutter-tizen/plugins, pull requests merged in 2022-04, with the labels that each got.

#350 Remove DebugType properties from Runner.csproj
  packages/audioplayers/example/tizen/Runner.csproj
  packages/battery_plus/example/tizen/Runner.csproj
  packages/camera/example/tizen/Runner.csproj
  packages/connectivity_plus/example/tizen/Runner.csproj
  packages/device_info_plus/example/tizen/Runner.csproj
  packages/flutter_tts/example/tizen/Runner.csproj
  packages/geolocator/example/tizen/Runner.csproj
  packages/google_maps_flutter/example/tizen/Runner.csproj
  packages/image_picker/example/tizen/Runner.csproj
  packages/integration_test/example/tizen/Runner.csproj
  packages/messageport/example/tizen/Runner.csproj
  packages/network_info_plus/example/tizen/Runner.csproj
  packages/package_info_plus/example/tizen/Runner.csproj
  packages/path_provider/example/tizen/Runner.csproj
  packages/permission_handler/example/tizen/Runner.csproj
  packages/sensors_plus/example/tizen/Runner.csproj
  packages/share_plus/example/tizen/Runner.csproj
  packages/shared_preferences/example/tizen/Runner.csproj
  packages/sqflite/example/tizen/Runner.csproj
  packages/tizen_app_manager/example/tizen/Runner.csproj
  packages/tizen_audio_manager/example/tizen/Runner.csproj
  packages/tizen_log/example/tizen/Runner.csproj
  packages/tizen_notification/example/tizen/Runner.csproj
  packages/tizen_package_manager/example/tizen/Runner.csproj
  packages/url_launcher/example/tizen/Runner.csproj
  packages/video_player/example/tizen/Runner.csproj
  packages/wakelock/example/tizen/Runner.csproj
  packages/wearable_rotary/example/tizen/Runner.csproj
  packages/webview_flutter/example/tizen/Runner.csproj
Labels: p: audioplayers, p: battery_plus, p: camera, p: connectivity_plus, p: device_info_plus, p: flutter_tts, p: image_picker, p: network_info_plus, p: package_info_plus, p: permission_handler, p: sensors_plus, p: shared_preferences, p: share_plus, p: url_launcher, p: video_player, p: wakelock, p: webview_flutter, p: geolocator, p: messageport, p: path_provider, p: google_maps_flutter, p: integration_test, p: wearable_rotary, p: tizen_audio_manager, p: tizen_app_manager, p: tizen_log, p: tizen_package_manager

#356 Quick fix for missing package in recipe
  tools/lib/src/integration_test_command.dart
Labels: tools

#351 [battery_plus] Refactor the C++ code
  packages/battery_plus/tizen/src/battery_plus_tizen_plugin.cc
  packages/battery_plus/tizen/src/device_battery.cc
  packages/battery_plus/tizen/src/device_battery.h
Labels: p: battery_plus

#352 [connectivity_plus] Refactor the C++ code
  packages/connectivity_plus/tizen/src/connection.cc
  packages/connectivity_plus/tizen/src/connection.h
  packages/connectivity_plus/tizen/src/connectivity_plus_tizen_plugin.cc
Labels: p: connectivity_plus

#353 [image_picker] Refactor the C++ code
  packages/image_picker/tizen/src/image_picker_tizen_plugin.cc
  packages/image_picker/tizen/src/image_resize.cc
  packages/image_picker/tizen/src/image_resize.h
  packages/image_picker/tizen/src/permission_manager.cc
  packages/image_picker/tizen/src/permission_manager.h
Labels: p: image_picker

#349 [network_info_plus] Minor refactoring
  packages/network_info_plus/tizen/src/network_info_plus_tizen_plugin.cc
Labels: p: network_info_plus

#344 [video_player] Apply new texture release callback
  packages/video_player/CHANGELOG.md
  packages/video_player/README.md
  packages/video_player/pubspec.yaml
  packages/video_player/tizen/src/video_player.cc
  packages/video_player/tizen/src/video_player.h
Labels: needs-publishing, p: video_player

#345 [webview_flutter] Apply texture API change
  packages/webview_flutter/CHANGELOG.md
  packages/webview_flutter/README.md
  packages/webview_flutter/pubspec.yaml
  packages/webview_flutter/tizen/src/buffer_pool.cc
  packages/webview_flutter/tizen/src/buffer_pool.h
  packages/webview_flutter/tizen/src/webview.cc
  packages/webview_flutter/tizen/src/webview.h
Labels: needs-publishing, p: webview_flutter

#346 [camera] Apply texture API change
  packages/camera/CHANGELOG.md
  packages/camera/README.md
  packages/camera/pubspec.yaml
  packages/camera/tizen/src/camera_device.cc
  packages/camera/tizen/src/camera_device.h
Labels: needs-publishing, p: camera

#358 [sensors_plus] Refactor the C++ code
  packages/sensors_plus/tizen/src/device_sensor.cc
  packages/sensors_plus/tizen/src/device_sensor.h
  packages/sensors_plus/tizen/src/sensors_plus_plugin.cc
Labels: p: sensors_plus

#361 [battery_plus] Implement getBatteryState
  packages/battery_plus/CHANGELOG.md
  packages/battery_plus/README.md
  packages/battery_plus/example/lib/main.dart
  packages/battery_plus/example/pubspec.yaml
  packages/battery_plus/pubspec.yaml
  packages/battery_plus/tizen/src/battery_plus_tizen_plugin.cc
Labels: needs-publishing, p: battery_plus

#369 [google_maps_flutter] Update dependency package
  packages/google_maps_flutter/example/pubspec.yaml
  packages/google_maps_flutter/pubspec.yaml
Labels: needs-publishing, p: google_maps_flutter

#372 [url_launcher] Update url_launcher to 6.1.0
  .github/recipe.yaml
  packages/url_launcher/CHANGELOG.md
  packages/url_launcher/README.md
  packages/url_launcher/example/integration_test/url_launcher_test.dart
  packages/url_launcher/example/lib/main.dart
  packages/url_launcher/example/pubspec.yaml
  packages/url_launcher/pubspec.yaml
Labels: needs-publishing, p: url_launcher

#362 [connectivity_plus] Add bluetooth as connectivity result
  packages/connectivity_plus/CHANGELOG.md
  packages/connectivity_plus/README.md
  packages/connectivity_plus/example/pubspec.yaml
  packages/connectivity_plus/pubspec.yaml
  packages/connectivity_plus/tizen/src/connection.cc
  packages/connectivity_plus/tizen/src/connection.h
  packages/connectivity_plus/tizen/src/connectivity_plus_tizen_plugin.cc
Labels: needs-publishing, p: connectivity_plus

#366 [device_info_plus] Minor code cleanup
  packages/device_info_plus/tizen/src/device_info_plus_tizen_plugin.cc
Labels: p: device_info_plus

#368 [package_info_plus] Minor refactoring
  packages/package_info_plus/tizen/src/package_info_plus_tizen_plugin.cc
Labels: p: package_info_plus

#371 [video_player] Minor code cleanup
  packages/video_player/CHANGELOG.md
  packages/video_player/tizen/src/message.cc
  packages/video_player/tizen/src/message.h
  packages/video_player/tizen/src/video_player.cc
  packages/video_player/tizen/src/video_player.h
  packages/video_player/tizen/src/video_player_error.h
  packages/video_player/tizen/src/video_player_options.h
  packages/video_player/tizen/src/video_player_tizen_plugin.cc
Labels: p: video_player
