Repository flutter-tizen/plugins, pull requests merged in 2023-03, with the labels that each got.

#534 [video_player] Add supported devices information to README
  packages/video_player/CHANGELOG.md
  packages/video_player/README.md
  packages/video_player/pubspec.yaml
Labels: p: video_player

#535 Update outdated links to github.com/flutter/plugins
  README.md
  packages/audioplayers/README.md
  packages/battery_plus/README.md
  packages/camera/README.md
  packages/connectivity_plus/README.md
  packages/device_info_plus/README.md
  packages/firebase_core/README.md
  packages/flutter_app_badger/README.md
  packages/flutter_secure_storage/README.md
  packages/flutter_tts/README.md
  packages/flutter_webrtc/README.md
  packages/geolocator/README.md
  packages/google_sign_in/README.md
  packages/image_picker/README.md
  packages/network_info_plus/README.md
  packages/package_info_plus/README.md
  packages/path_provider/README.md
  packages/permission_handler/README.md
  packages/sensors_plus/README.md
  packages/shared_preferences/README.md
  packages/sqflite/README.md
  packages/url_launcher/README.md
  packages/wakelock/README.md
  packages/webview_flutter/README.md
  packages/webview_flutter_lwe/README.md
Labels: p: audioplayers, p: battery_plus, p: camera, p: connectivity_plus, p: device_info_plus, p: flutter_tts, p: image_picker, p: network_info_plus, p: package_info_plus, p: permission_handler, p: sensors_plus, p: shared_preferences, p: url_launcher, p: wakelock, p: webview_flutter, p: geolocator, p: path_provider, p: sqflite, p: google_sign_in, p: webview_flutter_lwe, p: firebase_core, p: flutter_webrtc, p: flutter_app_badger, p: flutter_secure_storage

#537 [tool] Log standard error on precache failure
  tools/lib/src/integration_test_command.dart
Labels: tools

#541 Improve analysis_options alignment with flutter/packages
  analysis_options.yaml
  analysis_options_plus.yaml
  packages/camera/example/integration_test/camera_test.dart
  packages/camera/example/lib/main.dart
  packages/device_info_plus/README.md
  packages/firebase_core/example/lib/main.dart
  packages/firebase_core/lib/firebase_core_tizen.dart
  packages/google_maps_flutter/example/lib/map_coordinates.dart
  packages/google_maps_flutter/example/pubspec.yaml
  packages/google_maps_flutter/lib/src/circle.dart
  packages/google_maps_flutter/lib/src/convert.dart
  packages/google_maps_flutter/lib/src/google_maps_controller.dart
  packages/google_maps_flutter/lib/src/marker.dart
  packages/google_maps_flutter/lib/src/polygon.dart
  packages/google_maps_flutter/lib/src/polyline.dart
  packages/google_maps_flutter/lib/src/util.dart
  packages/google_sign_in/example/lib/main.dart
  packages/image_picker/example/lib/main.dart
  packages/messageport/README.md
  packages/messageport/example/integration_test/messageport_test.dart
  packages/path_provider/example/integration_test/path_provider_test.dart
  packages/shared_preferences/lib/shared_preferences_tizen.dart
  packages/tizen_app_manager/README.md
  packages/tizen_app_manager/example/lib/main.dart
  packages/tizen_audio_manager/README.md
  packages/tizen_bundle/README.md
  packages/tizen_rpc_port/example/client/lib/message_client.dart
  packages/tizen_rpc_port/example/server/lib/main.dart
  packages/tizen_rpc_port/lib/src/proxy_base.dart
  packages/tizen_rpc_port/lib/src/stub_base.dart
  packages/url_launcher/example/lib/main.dart
  packages/video_player/example/integration_test/video_player_test.dart
  packages/wearable_rotary/lib/src/rotary_scroll_controller.dart
  packages/webview_flutter/example/integration_test/webview_flutter_test.dart
  packages/webview_flutter/example/lib/main.dart
  packages/webview_flutter_lwe/example/integration_test/webview_flutter_test.dart
  packages/webview_flutter_lwe/example/lib/main.dart
Labels: p: camera, p: device_info_plus, p: image_picker, p: shared_preferences, p: url_launcher, p: video_player, p: webview_flutter, p: messageport, p: path_provider, p: google_maps_flutter, p: wearable_rotary, p: tizen_audio_manager, p: tizen_app_manager, p: google_sign_in, p: tizen_bundle, p: webview_flutter_lwe, p: firebase_core, p: tizen_rpc_port

#531 [webview_flutter] Update webview_flutter_tizen to v0.7.0
  packages/webview_flutter/CHANGELOG.md
  packages/webview_flutter/README.md
  packages/webview_flutter/example/integration_test/webview_flutter_test.dart
  packages/webview_flutter/example/lib/main.dart
  packages/webview_flutter/example/pubspec.yaml
  packages/webview_flutter/lib/src/tizen_webview.dart
  packages/webview_flutter/lib/src/tizen_webview_controller.dart
  packages/webview_flutter/lib/src/tizen_webview_cookie_manager.dart
  packages/webview_flutter/lib/src/tizen_webview_platform.dart
  packages/webview_flutter/lib/webview_flutter_tizen.dart
  packages/webview_flutter/pubspec.yaml
  packages/webview_flutter/tizen/src/webview.cc
  packages/webview_flutter/tizen/src/webview.h
Labels: p: webview_flutter

#543 More analysis_options alignment
  analysis_options.yaml
  packages/camera/example/lib/main.dart
  packages/camera/lib/camera_tizen.dart
  packages/camera/lib/src/utils.dart
  packages/google_maps_flutter/lib/src/convert.dart
  packages/google_maps_flutter/lib/src/google_maps_controller.dart
  packages/google_sign_in/example/lib/main.dart
  packages/image_picker/example/lib/main.dart
  packages/messageport/example/lib/main.dart
  packages/path_provider/lib/path_provider_tizen.dart
  packages/shared_preferences/example/lib/main.dart
  packages/tizen_app_control/example/integration_test/tizen_app_control_test.dart
  packages/tizen_app_control/example/lib/main.dart
  packages/tizen_app_control/lib/src/app_control.dart
  packages/tizen_app_manager/lib/src/app_manager.dart
  packages/tizen_package_manager/lib/tizen_package_manager.dart
  packages/tizen_rpc_port/example/client/lib/message_client.dart
  packages/tizen_rpc_port/example/server/lib/message_server.dart
  packages/tizen_rpc_port/lib/src/proxy_base.dart
  packages/tizen_rpc_port/lib/src/stub_base.dart
  packages/url_launcher/example/lib/main.dart
  packages/webview_flutter/lib/src/tizen_webview.dart
  packages/webview_flutter/lib/src/tizen_webview_controller.dart
  packages/webview_flutter/pubspec.yaml
  packages/webview_flutter_lwe/example/lib/main.dart
  tools/analysis_options.yaml
  tools/pubspec.yaml
Labels: p: camera, p: image_picker, p: shared_preferences, p: url_launcher, p: webview_flutter, p: messageport, p: path_provider, p: google_maps_flutter, tools, p: tizen_app_control, p: tizen_app_manager, p: tizen_package_manager, p: google_sign_in, p: webview_flutter_lwe, p: tizen_rpc_port

#526 [messageport] Refactor the C++ code
  packages/messageport/CHANGELOG.md
  packages/messageport/tizen/src/messageport.cc
  packages/messageport/tizen/src/messageport.h
  packages/messageport/tizen/src/messageport_tizen_plugin.cc
Labels: p: messageport

#553 [messageport] Remove deprecated APIs
  packages/messageport/CHANGELOG.md
  packages/messageport/example/integration_test/messageport_test.dart
  packages/messageport/example/lib/main.dart
  packages/messageport/example/pubspec.yaml
  packages/messageport/lib/messageport_tizen.dart
  packages/messageport/lib/src/messageport_manager.dart
  packages/messageport/pubspec.yaml
  packages/messageport/tizen/src/messageport.cc
  packages/messageport/tizen/src/messageport.h
  packages/messageport/tizen/src/messageport_tizen_plugin.cc
Labels: p: messageport
