Repository flutter-tizen/plugins, pull requests merged in 2023-06, with the labels that each got.

#571 [video_player] Fix memory leak issue
  packages/video_player/CHANGELOG.md
  packages/video_player/README.md
  packages/video_player/pubspec.yaml
  packages/video_player/tizen/src/video_player.cc
Labels: p: video_player

#569 [video_player] Update pigeon to 10.0.0
  packages/video_player/CHANGELOG.md
  packages/video_player/README.md
  packages/video_player/example/assets/Butterfly-209.webm
  packages/video_player/example/assets/bumble_bee_captions.srt
  packages/video_player/example/pubspec.yaml
  packages/video_player/lib/src/messages.g.dart
  packages/video_player/pubspec.yaml
  packages/video_player/tizen/src/messages.cc
  packages/video_player/tizen/src/messages.h
  packages/video_player/tizen/src/video_player.cc
  packages/video_player/tizen/src/video_player.h
  packages/video_player/tizen/src/video_player_tizen_plugin.cc
Labels: p: video_player

#577 [tizen_app_control] Add static setAutoRestart method
  packages/tizen_app_control/CHANGELOG.md
  packages/tizen_app_control/README.md
  packages/tizen_app_control/lib/src/app_control.dart
  packages/tizen_app_control/lib/src/ffi.dart
  packages/tizen_app_control/pubspec.yaml
Labels: p: tizen_app_control

#581 [battery_plus] Update battery_plus to 4.0.1
  packages/battery_plus/CHANGELOG.md
  packages/battery_plus/README.md
  packages/battery_plus/example/integration_test/battery_plus_test.dart
  packages/battery_plus/example/lib/main.dart
  packages/battery_plus/example/pubspec.yaml
  packages/battery_plus/pubspec.yaml
Labels: p: battery_plus

#582 [flutter_tts] Update flutter_tts to 3.6.3
  packages/flutter_tts/CHANGELOG.md
  packages/flutter_tts/README.md
  packages/flutter_tts/example/lib/main.dart
  packages/flutter_tts/example/pubspec.yaml
  packages/flutter_tts/pubspec.yaml
  packages/flutter_tts/tizen/src/flutter_tts_tizen_plugin.cc
  packages/flutter_tts/tizen/src/text_to_speech.cc
  packages/flutter_tts/tizen/src/text_to_speech.h
Labels: p: flutter_tts

#578 Update deprecated UnregisterTexture usage
  packages/camera/tizen/src/camera_device.cc
  packages/flutter_webrtc/tizen/src/flutter_video_renderer.cc
  packages/video_player/tizen/src/video_player.cc
  packages/webview_flutter/tizen/src/webview.cc
  packages/webview_flutter_lwe/tizen/src/webview.cc
Labels: p: camera, p: video_player, p: webview_flutter, p: webview_flutter_lwe, p: flutter_webrtc

#586 Remove unused baseflow template assets
  packages/geolocator/example/packages/baseflow_plugin_template/logo.png
  packages/geolocator/example/packages/baseflow_plugin_template/poweredByBaseflow.png
  packages/geolocator/example/pubspec.yaml
  packages/geolocator/tizen/src/location_manager.cc
  packages/permission_handler/example/packages/baseflow_plugin_template/logo.png
  packages/permission_handler/example/packages/baseflow_plugin_template/poweredByBaseflow.png
  packages/permission_handler/example/pubspec.yaml
Labels: p: permission_handler, p: geolocator

#583 [wakelock] Refactor and simplify the implementation
  packages/wakelock/CHANGELOG.md
  packages/wakelock/README.md
  packages/wakelock/analysis_options.yaml
  packages/wakelock/example/pubspec.yaml
  packages/wakelock/lib/wakelock_tizen.dart
  packages/wakelock/pubspec.yaml
  packages/wakelock/tizen/src/wakelock_tizen_plugin.cc
Labels: p: wakelock

#591 Remove API level info from README
  README.md
  packages/flutter_webrtc/README.md
  packages/video_player_videohole/README.md
Labels: p: flutter_webrtc, p: video_player_videohole
