Repository flutter-tizen/plugins, pull requests merged in 2023-07, with the labels that each got.

#594 [image_picker] Fix video_player dependency in example
  packages/image_picker/CHANGELOG.md
  packages/image_picker/example/pubspec.yaml
Labels: p: image_picker

#593 [wearable_rotary] Adds namespace to `build.gradle` for Gradle 8
  packages/wearable_rotary/CHANGELOG.md
  packages/wearable_rotary/android/build.gradle
  packages/wearable_rotary/pubspec.yaml
Labels: p: wearable_rotary

#596 [audioplayers] Update audioplayers
  packages/audioplayers/CHANGELOG.md
  packages/audioplayers/README.md
  packages/audioplayers/example/integration_test/audioplayers_test.dart
  packages/audioplayers/example/lib/components/btn.dart
  packages/audioplayers/example/lib/components/cbx.dart
  packages/audioplayers/example/lib/components/dlg.dart
  packages/audioplayers/example/lib/components/drop_down.dart
  packages/audioplayers/example/lib/components/list_tile.dart
  packages/audioplayers/example/lib/components/pad.dart
  packages/audioplayers/example/lib/components/player_widget.dart
  packages/audioplayers/example/lib/components/properties_widget.dart
  packages/audioplayers/example/lib/components/stream_widget.dart
  packages/audioplayers/example/lib/components/tab_content.dart
  packages/audioplayers/example/lib/components/tab_wrapper.dart
  packages/audioplayers/example/lib/components/tabs.dart
  packages/audioplayers/example/lib/components/tgl.dart
  packages/audioplayers/example/lib/components/txt.dart
  packages/audioplayers/example/lib/main.dart
  packages/audioplayers/example/lib/tabs/audio_context.dart
  packages/audioplayers/example/lib/tabs/controls.dart
  packages/audioplayers/example/lib/tabs/logger.dart
  packages/audioplayers/example/lib/tabs/sources.dart
  packages/audioplayers/example/lib/tabs/streams.dart
  packages/audioplayers/example/lib/utils.dart
  packages/audioplayers/example/pubspec.yaml
  packages/audioplayers/pubspec.yaml
  packages/audioplayers/tizen/src/audio_player.cc
  packages/audioplayers/tizen/src/audio_player.h
  packages/audioplayers/tizen/src/audioplayers_tizen_plugin.cc
Labels: p: audioplayers

#601 [shared_preferences] Update to support shared_preferences 2.2.0
  packages/shared_preferences/CHANGELOG.md
  packages/shared_preferences/README.md
  packages/shared_preferences/example/integration_test/shared_preferences_test.dart
  packages/shared_preferences/example/pubspec.yaml
  packages/shared_preferences/lib/shared_preferences_tizen.dart
  packages/shared_preferences/pubspec.yaml
Labels: p: shared_preferences

#600 [image_picker] Update image_picker to 1.0.1
  packages/image_picker/CHANGELOG.md
  packages/image_picker/README.md
  packages/image_picker/example/lib/main.dart
  packages/image_picker/example/pubspec.yaml
  packages/image_picker/lib/image_picker_tizen.dart
  packages/image_picker/pubspec.yaml
  packages/image_picker/tizen/src/image_picker_tizen_plugin.cc
Labels: p: image_picker

#602 [video_player_videohole] Fix web build
  packages/video_player_videohole/CHANGELOG.md
  packages/video_player_videohole/lib/src/register_drm_callback_real.dart
  packages/video_player_videohole/lib/src/register_drm_callback_stub.dart
  packages/video_player_videohole/lib/video_player.dart
  packages/video_player_videohole/pubspec.yaml
Labels: p: video_player_videohole
