Repository flutter-tizen/plugins, pull requests merged in 2023-01, with the labels that each got.

#503 [tizen_package_manager] API cleanups and code refactoring
  packages/tizen_package_manager/CHANGELOG.md
  packages/tizen_package_manager/README.md
  packages/tizen_package_manager/example/integration_test/tizen_package_manager_test.dart
  packages/tizen_package_manager/example/lib/main.dart
  packages/tizen_package_manager/lib/tizen_package_manager.dart
  packages/tizen_package_manager/pubspec.yaml
  packages/tizen_package_manager/tizen/src/package_manager_utils.cc
  packages/tizen_package_manager/tizen/src/package_manager_utils.h
  packages/tizen_package_manager/tizen/src/tizen_package_manager.cc
  packages/tizen_package_manager/tizen/src/tizen_package_manager.h
  packages/tizen_package_manager/tizen/src/tizen_package_manager_plugin.cc
Labels: p: tizen_package_manager

#505 [tizen_rpc_port] Various cleanups
  packages/tizen_rpc_port/CHANGELOG.md
  packages/tizen_rpc_port/README.md
  packages/tizen_rpc_port/example/client/README.md
  packages/tizen_rpc_port/example/client/lib/main.dart
  packages/tizen_rpc_port/example/client/pubspec.yaml
  packages/tizen_rpc_port/example/client/tizen/tizen-manifest.xml
  packages/tizen_rpc_port/example/server/README.md
  packages/tizen_rpc_port/example/server/lib/main.dart
  packages/tizen_rpc_port/example/server/pubspec.yaml
  packages/tizen_rpc_port/example/server/tizen/tizen-manifest.xml
  packages/tizen_rpc_port/lib/src/parcel.dart
  packages/tizen_rpc_port/lib/src/port.dart
  packages/tizen_rpc_port/lib/src/proxy_base.dart
  packages/tizen_rpc_port/lib/src/rpc_port_method_channel.dart
  packages/tizen_rpc_port/lib/src/stub_base.dart
  packages/tizen_rpc_port/pubspec.yaml
  packages/tizen_rpc_port/tizen/src/common.cc
  packages/tizen_rpc_port/tizen/src/rpc_port_proxy.cc
  packages/tizen_rpc_port/tizen/src/rpc_port_proxy.h
  packages/tizen_rpc_port/tizen/src/rpc_port_result.h
  packages/tizen_rpc_port/tizen/src/rpc_port_stub.cc
  packages/tizen_rpc_port/tizen/src/rpc_port_stub.h
  packages/tizen_rpc_port/tizen/src/tizen_rpc_port_plugin.cc
Labels: p: tizen_rpc_port

#495 [google_maps_flutter] Update the example app
  packages/google_maps_flutter/CHANGELOG.md
  packages/google_maps_flutter/README.md
  packages/google_maps_flutter/example/README.md
  packages/google_maps_flutter/example/lib/main.dart
  packages/google_maps_flutter/example/lib/map_click.dart
  packages/google_maps_flutter/example/lib/map_coordinates.dart
  packages/google_maps_flutter/example/lib/map_ui.dart
  packages/google_maps_flutter/example/lib/place_marker.dart
  packages/google_maps_flutter/example/lib/place_polyline.dart
  packages/google_maps_flutter/example/pubspec.yaml
  packages/google_maps_flutter/example/tizen/tizen-manifest.xml
  packages/google_maps_flutter/lib/src/google_maps_flutter_tizen.dart
  packages/google_maps_flutter/pubspec.yaml
Labels: p: google_maps_flutter

#508 [camera] Treat permission request as a success on TV
  packages/camera/tizen/src/permission_manager.cc
Labels: p: camera

#510 [tizen_rpc_port] Fix interface form
  packages/tizen_rpc_port/example/client/lib/main.dart
  packages/tizen_rpc_port/example/client/lib/message_client.dart
  packages/tizen_rpc_port/example/message.tidl
  packages/tizen_rpc_port/example/server/lib/main.dart
  packages/tizen_rpc_port/example/server/lib/message_server.dart
  packages/tizen_rpc_port/lib/src/proxy_base.dart
Labels: p: tizen_rpc_port

#509 [tizen_rpc_port] Support explicitly stopping a server
  packages/tizen_rpc_port/CHANGELOG.md
  packages/tizen_rpc_port/README.md
  packages/tizen_rpc_port/example/client/lib/main.dart
  packages/tizen_rpc_port/example/server/lib/main.dart
  packages/tizen_rpc_port/lib/src/stub_base.dart
  packages/tizen_rpc_port/pubspec.yaml
Labels: p: tizen_rpc_port

#513 [tizen_audio_manager] Refactor the C++ code
  packages/tizen_audio_manager/CHANGELOG.md
  packages/tizen_audio_manager/README.md
  packages/tizen_audio_manager/pubspec.yaml
  packages/tizen_audio_manager/tizen/inc/tizen_audio_manager_plugin.h
  packages/tizen_audio_manager/tizen/src/log.h
  packages/tizen_audio_manager/tizen/src/tizen_audio_manager.cc
  packages/tizen_audio_manager/tizen/src/tizen_audio_manager.h
  packages/tizen_audio_manager/tizen/src/tizen_audio_manager_error.h
  packages/tizen_audio_manager/tizen/src/tizen_audio_manager_plugin.cc
Labels: p: tizen_audio_manager

#516 [webview_flutter] Use only error types known to Dart
  packages/webview_flutter/CHANGELOG.md
  packages/webview_flutter/example/pubspec.yaml
  packages/webview_flutter/tizen/src/webview.cc
  packages/webview_flutter_lwe/CHANGELOG.md
  packages/webview_flutter_lwe/example/pubspec.yaml
  packages/webview_flutter_lwe/tizen/src/webview.cc
Labels: p: webview_flutter, p: webview_flutter_lwe

#515 [video_player] Update pigeon to 6.0.1
  packages/video_player/CHANGELOG.md
  packages/video_player/README.md
  packages/video_player/lib/src/messages.g.dart
  packages/video_player/pubspec.yaml
  packages/video_player/tizen/src/messages.cc
  packages/video_player/tizen/src/messages.h
Labels: p: video_player

#518 Resolve Flutter 3.7 analyze issues
  packages/sqflite/example/lib/slow_test_page.dart
  packages/tizen_app_manager/example/lib/main.dart
  packages/tizen_rpc_port/example/client/lib/message_client.dart
Labels: p: tizen_app_manager, p: sqflite, p: tizen_rpc_port

#519 [sqflite] Implement databaseExists method
  packages/sqflite/CHANGELOG.md
  packages/sqflite/README.md
  packages/sqflite/pubspec.yaml
  packages/sqflite/tizen/src/constants.h
  packages/sqflite/tizen/src/sqflite_plugin.cc
Labels: p: sqflite
