Repository flutter-tizen/plugins, pull requests merged in 2024-05, with the labels that each got.

#679 [video_player_avplay] Update plusplayer
  packages/video_player_avplay/CHANGELOG.md
  packages/video_player_avplay/tizen/lib/armel/6.0/libdash.so
  packages/video_player_avplay/tizen/lib/armel/6.0/libdashplusplayer_tvplus.so
  packages/video_player_avplay/tizen/lib/armel/6.0/libgstdash.so
  packages/video_player_avplay/tizen/lib/armel/6.0/libgsthls.so
  packages/video_player_avplay/tizen/lib/armel/6.5/libdash.so
  packages/video_player_avplay/tizen/lib/armel/6.5/libdashplusplayer_tvplus.so
  packages/video_player_avplay/tizen/lib/armel/6.5/libgstdash.so
  packages/video_player_avplay/tizen/lib/armel/6.5/libgsthls.so
  packages/video_player_avplay/tizen/lib/armel/6.5/libplusplayer_tvplus.so
  packages/video_player_avplay/tizen/lib/armel/7.0/libdash.so
  packages/video_player_avplay/tizen/lib/armel/7.0/libdashplusplayer_tvplus.so
  packages/video_player_avplay/tizen/lib/armel/7.0/libgstdash.so
  packages/video_player_avplay/tizen/lib/armel/7.0/libgsthls.so
Labels: p: video_player_avplay

#681 [video_player_avplay] Remove set looping failed message
  packages/video_player_avplay/CHANGELOG.md
  packages/video_player_avplay/README.md
  packages/video_player_avplay/tizen/src/plus_player.cc
Labels: p: video_player_avplay

#682 [video_player_avplay] Support Tizen 8.0
  packages/video_player_avplay/CHANGELOG.md
  packages/video_player_avplay/README.md
  packages/video_player_avplay/pubspec.yaml
  packages/video_player_avplay/tizen/lib/armel/6.0/libdash.so
  packages/video_player_avplay/tizen/lib/armel/6.0/libgstmmhttpsrc.so
  packages/video_player_avplay/tizen/lib/armel/6.0/libtracksource_tvplus.so
  packages/video_player_avplay/tizen/lib/armel/6.5/libdash.so
  packages/video_player_avplay/tizen/lib/armel/6.5/libgstmmhttpsrc.so
  packages/video_player_avplay/tizen/lib/armel/6.5/libtracksource_tvplus.so
  packages/video_player_avplay/tizen/lib/armel/7.0/libdash.so
  packages/video_player_avplay/tizen/lib/armel/7.0/libgstmmhttpsrc.so
  packages/video_player_avplay/tizen/lib/armel/7.0/libtracksource_tvplus.so
  packages/video_player_avplay/tizen/lib/armel/8.0/libavcodec_common.so
  packages/video_player_avplay/tizen/lib/armel/8.0/libavformat_mmdash.so
  packages/video_player_avplay/tizen/lib/armel/8.0/libavformat_mmhls.so
  packages/video_player_avplay/tizen/lib/armel/8.0/libavformat_mmhttp.so
  packages/video_player_avplay/tizen/lib/armel/8.0/libavutil_common.so
  packages/video_player_avplay/tizen/lib/armel/8.0/libdash.so
  packages/video_player_avplay/tizen/lib/armel/8.0/libdashplusplayer_tvplus.so
  packages/video_player_avplay/tizen/lib/armel/8.0/libgstdash.so
  packages/video_player_avplay/tizen/lib/armel/8.0/libgsthls.so
  packages/video_player_avplay/tizen/lib/armel/8.0/libgsthttpdemux.so
  packages/video_player_avplay/tizen/lib/armel/8.0/libgstmmhttpsrc.so
  packages/video_player_avplay/tizen/lib/armel/8.0/libgstsubtitle_tvplus.so
  packages/video_player_avplay/tizen/lib/armel/8.0/libgstsubtitleparse_tvplus.so
  packages/video_player_avplay/tizen/lib/armel/8.0/libhls.so
  packages/video_player_avplay/tizen/lib/armel/8.0/libplusplayer-wrapper.so
  packages/video_player_avplay/tizen/lib/armel/8.0/libplusplayer_tvplus.so
  packages/video_player_avplay/tizen/lib/armel/8.0/libplusplayercore_tvplus.so
  packages/video_player_avplay/tizen/lib/armel/8.0/libslive-jsoncpp.so
  packages/video_player_avplay/tizen/lib/armel/8.0/libtracksource_tvplus.so
Labels: p: video_player_avplay

#684 [geolocator] Fix analyze issue
  packages/geolocator/example/lib/main.dart
Labels: p: geolocator

#686 Change the API version of example apps to 6.0
  .github/recipe.yaml
  .github/workflows/build.yml
  packages/audioplayers/example/tizen/tizen-manifest.xml
  packages/battery_plus/example/tizen/tizen-manifest.xml
  packages/camera/example/tizen/tizen-manifest.xml
  packages/connectivity_plus/example/tizen/tizen-manifest.xml
  packages/device_info_plus/example/tizen/tizen-manifest.xml
  packages/firebase_core/example/tizen/tizen-manifest.xml
  packages/flutter_app_badger/example/tizen/tizen-manifest.xml
  packages/flutter_secure_storage/example/tizen/tizen-manifest.xml
  packages/flutter_tts/example/tizen/tizen-manifest.xml
  packages/geolocator/example/tizen/tizen-manifest.xml
  packages/google_maps_flutter/example/tizen/tizen-manifest.xml
  packages/google_sign_in/example/tizen/tizen-manifest.xml
  packages/image_picker/example/tizen/tizen-manifest.xml
  packages/in_app_purchase/example/tizen/tizen-manifest.xml
  packages/integration_test/example/tizen/tizen-manifest.xml
  packages/messageport/example/tizen/tizen-manifest.xml
  packages/network_info_plus/example/tizen/tizen-manifest.xml
  packages/package_info_plus/example/tizen/tizen-manifest.xml
  packages/path_provider/example/tizen/tizen-manifest.xml
  packages/permission_handler/example/tizen/tizen-manifest.xml
  packages/sensors_plus/example/tizen/tizen-manifest.xml
  packages/shared_preferences/example/tizen/tizen-manifest.xml
  packages/sqflite/example/tizen/tizen-manifest.xml
  packages/tizen_app_control/example/tizen/service/tizen-manifest.xml
  packages/tizen_app_control/example/tizen/ui/tizen-manifest.xml
  packages/tizen_app_manager/example/tizen/tizen-manifest.xml
  packages/tizen_audio_manager/example/tizen/tizen-manifest.xml
  packages/tizen_bundle/example/tizen/tizen-manifest.xml
  packages/tizen_log/example/tizen/tizen-manifest.xml
  packages/tizen_notification/example/tizen/tizen-manifest.xml
  packages/tizen_package_manager/example/tizen/tizen-manifest.xml
  packages/url_launcher/example/tizen/tizen-manifest.xml
  packages/video_player/example/tizen/tizen-manifest.xml
  packages/video_player_videohole/example/tizen/tizen-manifest.xml
  packages/wakelock/example/tizen/tizen-manifest.xml
  packages/webview_flutter/example/tizen/tizen-manifest.xml
  packages/webview_flutter_lwe/example/tizen/tizen-manifest.xml
  tools/lib/src/build_examples_command.dart
  tools/lib/src/device.dart
  tools/lib/src/integration_test_command.dart
  tools/lib/src/tizen_sdk.dart
  tools/test/device_test.dart
  tools/test/integration/device_test.dart
  tools/test/recipe_test.dart
  tools/test/tizen_sdk_test.dart
  tools/test_data/foo/example/tizen/tizen-manifest.xml
Labels: p: audioplayers, p: battery_plus, p: camera, p: connectivity_plus, p: device_info_plus, p: flutter_tts, p: image_picker, p: network_info_plus, p: package_info_plus, p: permission_handler, p: sensors_plus, p: shared_preferences, p: url_launcher, p: video_player, p: wakelock, p: webview_flutter, p: geolocator, p: messageport, p: path_provider, p: google_maps_flutter, tools, p: tizen_app_control, p: integration_test, p: tizen_audio_manager, p: tizen_app_manager, p: tizen_log, p: tizen_package_manager, p: sqflite, p: tizen_notification, p: google_sign_in, p: tizen_bundle, p: webview_flutter_lwe, p: firebase_core, p: flutter_app_badger, p: flutter_secure_storage, p: video_player_videohole, p: in_app_purchase

#683 [video_player_avplay] Update plusplayer
  packages/video_player_avplay/CHANGELOG.md
  packages/video_player_avplay/README.md
  packages/video_player_avplay/pubspec.yaml
  packages/video_player_avplay/tizen/lib/armel/6.0/libavformat_mmdash.so
  packages/video_player_avplay/tizen/lib/armel/6.0/libavformat_mmhls.so
  packages/video_player_avplay/tizen/lib/armel/6.0/libavformat_mmhttp.so
  packages/video_player_avplay/tizen/lib/armel/6.0/libdash.so
  packages/video_player_avplay/tizen/lib/armel/6.0/libdashplusplayer_tvplus.so
  packages/video_player_avplay/tizen/lib/armel/6.0/libgstdash.so
  packages/video_player_avplay/tizen/lib/armel/6.0/libtracksource_tvplus.so
  packages/video_player_avplay/tizen/lib/armel/6.5/libavformat_mmdash.so
  packages/video_player_avplay/tizen/lib/armel/6.5/libavformat_mmhls.so
  packages/video_player_avplay/tizen/lib/armel/6.5/libavformat_mmhttp.so
  packages/video_player_avplay/tizen/lib/armel/6.5/libdash.so
  packages/video_player_avplay/tizen/lib/armel/6.5/libdashplusplayer_tvplus.so
  packages/video_player_avplay/tizen/lib/armel/6.5/libgstdash.so
  packages/video_player_avplay/tizen/lib/armel/6.5/libtracksource_tvplus.so
  packages/video_player_avplay/tizen/lib/armel/7.0/libavformat_mmdash.so
  packages/video_player_avplay/tizen/lib/armel/7.0/libavformat_mmhls.so
  packages/video_player_avplay/tizen/lib/armel/7.0/libavformat_mmhttp.so
  packages/video_player_avplay/tizen/lib/armel/7.0/libdash.so
  packages/video_player_avplay/tizen/lib/armel/7.0/libdashplusplayer_tvplus.so
  packages/video_player_avplay/tizen/lib/armel/7.0/libgstdash.so
  packages/video_player_avplay/tizen/lib/armel/7.0/libtracksource_tvplus.so
  packages/video_player_avplay/tizen/lib/armel/8.0/libavformat_mmdash.so
  packages/video_player_avplay/tizen/lib/armel/8.0/libavformat_mmhls.so
  packages/video_player_avplay/tizen/lib/armel/8.0/libavformat_mmhttp.so
  packages/video_player_avplay/tizen/lib/armel/8.0/libdash.so
  packages/video_player_avplay/tizen/lib/armel/8.0/libdashplusplayer_tvplus.so
  packages/video_player_avplay/tizen/lib/armel/8.0/libgstdash.so
  packages/video_player_avplay/tizen/lib/armel/8.0/libtracksource_tvplus.so
Labels: p: video_player_avplay

#687 [video_player_avplay] Remove wrong information in README
  README.md
  packages/video_player_avplay/CHANGELOG.md
  packages/video_player_avplay/README.md
Labels: p: video_player_avplay
