Repository flutter-tizen/plugins, pull requests merged in 2024-09, with the labels that each got.

#725 [video_player_avplay] Call the open before calling the SetStreamingProperty
  packages/video_player_avplay/CHANGELOG.md
  packages/video_player_avplay/lib/src/messages.g.dart
  packages/video_player_avplay/lib/src/video_player_tizen.dart
  packages/video_player_avplay/pigeons/messages.dart
  packages/video_player_avplay/tizen/src/messages.cc
  packages/video_player_avplay/tizen/src/messages.h
  packages/video_player_avplay/tizen/src/plus_player.cc
  packages/video_player_avplay/tizen/src/video_player_tizen_plugin.cc
Labels: p: video_player_avplay

#730 [video_player] Update video_player to 2.5.0
  packages/video_player/CHANGELOG.md
  packages/video_player/README.md
  packages/video_player/example/integration_test/video_player_test.dart
  packages/video_player/example/lib/main.dart
  packages/video_player/example/pubspec.yaml
  packages/video_player/lib/video_player_tizen.dart
  packages/video_player/pubspec.yaml
  packages/video_player/tizen/src/video_player.cc
  packages/video_player/tizen/src/video_player.h
Labels: p: video_player

#735 [video_player_avplay] Add setStreamingProperty API
  packages/video_player_avplay/CHANGELOG.md
  packages/video_player_avplay/README.md
  packages/video_player_avplay/lib/src/messages.g.dart
  packages/video_player_avplay/lib/src/video_player_tizen.dart
  packages/video_player_avplay/lib/video_player.dart
  packages/video_player_avplay/lib/video_player_platform_interface.dart
  packages/video_player_avplay/pigeons/messages.dart
  packages/video_player_avplay/pubspec.yaml
  packages/video_player_avplay/tizen/src/messages.cc
  packages/video_player_avplay/tizen/src/messages.h
  packages/video_player_avplay/tizen/src/plus_player.cc
  packages/video_player_avplay/tizen/src/plus_player.h
  packages/video_player_avplay/tizen/src/video_player.h
  packages/video_player_avplay/tizen/src/video_player_tizen_plugin.cc
Labels: p: video_player_avplay

#740 [webview_flutter_lwe] Update pub version
  packages/webview_flutter_lwe/CHANGELOG.md
  packages/webview_flutter_lwe/README.md
  packages/webview_flutter_lwe/pubspec.yaml
Labels: p: webview_flutter_lwe

#739 [video_player] Update pigeon to 22.3.0
  packages/video_player/CHANGELOG.md
  packages/video_player/README.md
  packages/video_player/lib/src/messages.g.dart
  packages/video_player/pubspec.yaml
  packages/video_player/tizen/src/messages.cc
  packages/video_player/tizen/src/messages.h
  packages/video_player/tizen/src/video_player.cc
Labels: p: video_player

#738 [google_maps_flutter] Add temporary code to prevent errors
  packages/google_maps_flutter/CHANGELOG.md
  packages/google_maps_flutter/lib/src/google_maps_flutter_tizen.dart
  packages/google_maps_flutter/pubspec.yaml
Labels: p: google_maps_flutter

#741 [video_player_avplay] Fix DashEngine stream property "STARTBITRATE" can't be set correctly
  packages/video_player_avplay/CHANGELOG.md
  packages/video_player_avplay/tizen/lib/armel/6.0/libdash.so
  packages/video_player_avplay/tizen/lib/armel/6.5/libdash.so
  packages/video_player_avplay/tizen/lib/armel/7.0/libdash.so
  packages/video_player_avplay/tizen/lib/armel/8.0/libdash.so
Labels: p: video_player_avplay

#736 [wakelock_plus] Replace frontend package to wakelock_plus
  .github/labeler.yml
  .github/recipe.yaml
  README.md
  packages/wakelock/LICENSE
  packages/wakelock/README.md
  packages/wakelock/analysis_options.yaml
  packages/wakelock/example/integration_test/wakelock_test.dart
  packages/wakelock/example/tizen/tizen-manifest.xml
  packages/wakelock/pubspec.yaml
  packages/wakelock/tizen/src/wakelock_tizen_plugin.cc
  packages/wakelock_plus/.gitignore
  packages/wakelock_plus/CHANGELOG.md
  packages/wakelock_plus/LICENSE
  packages/wakelock_plus/README.md
  packages/wakelock_plus/analysis_options.yaml
  packages/wakelock_plus/example/.gitignore
  packages/wakelock_plus/example/README.md
  packages/wakelock_plus/example/integration_test/wakelock_plus_test.dart
  packages/wakelock_plus/example/lib/main.dart
  packages/wakelock_plus/example/pubspec.yaml
  packages/wakelock_plus/example/test_driver/integration_test.dart
  packages/wakelock_plus/example/tizen/.gitignore
  packages/wakelock_plus/example/tizen/App.cs
  packages/wakelock_plus/example/tizen/Runner.csproj
  packages/wakelock_plus/example/tizen/shared/res/ic_launcher.png
  packages/wakelock_plus/example/tizen/tizen-manifest.xml
  packages/wakelock_plus/lib/wakelock_plus_tizen.dart
  packages/wakelock_plus/pubspec.yaml
  packages/wakelock_plus/tizen/.gitignore
  packages/wakelock_plus/tizen/inc/wakelock_plus_tizen_plugin.h
  packages/wakelock_plus/tizen/project_def.prop
  packages/wakelock_plus/tizen/src/log.h
  packages/wakelock_plus/tizen/src/wakelock_plus_tizen_plugin.cc
Labels: p: wakelock

#744 [video_player_avplay] Fix bug: USER_AGENT can't be set correctly
  packages/video_player_avplay/CHANGELOG.md
  packages/video_player_avplay/README.md
  packages/video_player_avplay/pubspec.yaml
  packages/video_player_avplay/tizen/lib/armel/6.0/libgstdash.so
  packages/video_player_avplay/tizen/lib/armel/6.5/libgstdash.so
  packages/video_player_avplay/tizen/lib/armel/7.0/libgstdash.so
  packages/video_player_avplay/tizen/lib/armel/8.0/libgstdash.so
Labels: p: video_player_avplay

#742 [video_player] Live streaming content starts playing immediately when seekTo is called
  packages/video_player/CHANGELOG.md
  packages/video_player/README.md
  packages/video_player/pubspec.yaml
  packages/video_player/tizen/src/media_player_proxy.cc
  packages/video_player/tizen/src/media_player_proxy.h
  packages/video_player/tizen/src/video_player.cc
  packages/video_player/tizen/src/video_player.h
Labels: p: video_player

#743 [video_player_avplay] Fix dash engine crash issue
  packages/video_player_avplay/CHANGELOG.md
  packages/video_player_avplay/README.md
  packages/video_player_avplay/pubspec.yaml
  packages/video_player_avplay/tizen/lib/armel/6.0/libdash.so
  packages/video_player_avplay/tizen/lib/armel/6.0/libtracksource_tvplus.so
  packages/video_player_avplay/tizen/lib/armel/6.5/libdash.so
  packages/video_player_avplay/tizen/lib/armel/6.5/libtracksource_tvplus.so
  packages/video_player_avplay/tizen/lib/armel/7.0/libdash.so
  packages/video_player_avplay/tizen/lib/armel/7.0/libtracksource_tvplus.so
  packages/video_player_avplay/tizen/lib/armel/8.0/libdash.so
  packages/video_player_avplay/tizen/lib/armel/8.0/libtracksource_tvplus.so
Labels: p: video_player_avplay

#751 [video_player] Support httpHeaders option of VideoPlayerController.network
  packages/video_player/CHANGELOG.md
  packages/video_player/README.md
  packages/video_player/pubspec.yaml
  packages/video_player/tizen/src/video_player.cc
  packages/video_player/tizen/src/video_player.h
  packages/video_player/tizen/src/video_player_tizen_plugin.cc
Labels: p: video_player

#750 [video_player_avplay] Fix getAudioTracks out of bounds issue
  packages/video_player_avplay/CHANGELOG.md
  packages/video_player_avplay/README.md
  packages/video_player_avplay/lib/src/tracks.dart
  packages/video_player_avplay/lib/src/video_player_tizen.dart
  packages/video_player_avplay/pubspec.yaml
Labels: p: video_player_avplay

#748 [shared_preferences] Update shared_preferences to 2.3.2
  packages/shared_preferences/CHANGELOG.md
  packages/shared_preferences/README.md
  packages/shared_preferences/example/integration_test/shared_preferences_test.dart
  packages/shared_preferences/example/lib/main.dart
  packages/shared_preferences/example/pubspec.yaml
  packages/shared_preferences/lib/shared_preferences_tizen.dart
  packages/shared_preferences/lib/src/shared_preferences_async_tizen.dart
  packages/shared_preferences/lib/src/shared_preferences_tizen.dart
  packages/shared_preferences/pubspec.yaml
Labels: p: shared_preferences

#754 [path_provider] Update path_provider to 2.1.4
  packages/path_provider/CHANGELOG.md
  packages/path_provider/README.md
  packages/path_provider/example/integration_test/path_provider_test.dart
  packages/path_provider/example/lib/main.dart
  packages/path_provider/example/pubspec.yaml
  packages/path_provider/lib/path_provider_tizen.dart
  packages/path_provider/pubspec.yaml
Labels: p: path_provider
