Repository flutter-tizen/plugins, pull requests merged in 2024-07, with the labels that each got.

#698 [webview_flutter_tizen] Prevent duplicate Dispose() calls
  packages/webview_flutter/CHANGELOG.md
  packages/webview_flutter/README.md
  packages/webview_flutter/tizen/src/webview.cc
  packages/webview_flutter/tizen/src/webview.h
Labels: p: webview_flutter

#700 [shared_preferences] Create a list from iterable collection
  packages/shared_preferences/lib/shared_preferences_tizen.dart
Labels: p: shared_preferences

#703 [video_player_avplay]No return empty error message
  packages/video_player_avplay/CHANGELOG.md
  packages/video_player_avplay/README.md
  packages/video_player_avplay/pubspec.yaml
  packages/video_player_avplay/tizen/src/media_player.cc
  packages/video_player_avplay/tizen/src/plus_player.cc
Labels: p: video_player_avplay

#702 [shared_preferences] Update tizen_interop to 0.3.0
  packages/shared_preferences/CHANGELOG.md
  packages/shared_preferences/README.md
  packages/shared_preferences/lib/shared_preferences_tizen.dart
  packages/shared_preferences/pubspec.yaml
Labels: p: shared_preferences

#706 [tizen_bundle] Update tizen_interop to 0.3.0
  packages/tizen_bundle/CHANGELOG.md
  packages/tizen_bundle/README.md
  packages/tizen_bundle/lib/tizen_bundle.dart
  packages/tizen_bundle/pubspec.yaml
Labels: p: tizen_bundle

#707 [tizen_app_manager] Update tizen_interop to 0.3.0
  packages/tizen_app_manager/CHANGELOG.md
  packages/tizen_app_manager/README.md
  packages/tizen_app_manager/lib/src/app_context.dart
  packages/tizen_app_manager/pubspec.yaml
Labels: p: tizen_app_manager

#708 [path_provider] Update tizen_interop to 0.3.0
  packages/path_provider/CHANGELOG.md
  packages/path_provider/README.md
  packages/path_provider/lib/src/app_common.dart
  packages/path_provider/lib/src/storage.dart
  packages/path_provider/pubspec.yaml
Labels: p: path_provider

#699 [google_maps_flutter] Update google_maps_flutter to 2.7.0
  packages/google_maps_flutter/CHANGELOG.md
  packages/google_maps_flutter/README.md
  packages/google_maps_flutter/example/integration_test/google_maps_test.dart
  packages/google_maps_flutter/example/integration_test/src/maps_controller.dart
  packages/google_maps_flutter/example/integration_test/src/maps_inspector.dart
  packages/google_maps_flutter/example/integration_test/src/resources/icon_image.png
  packages/google_maps_flutter/example/integration_test/src/resources/icon_image_base64.dart
  packages/google_maps_flutter/example/integration_test/src/shared.dart
  packages/google_maps_flutter/example/integration_test/src/tiles_inspector.dart
  packages/google_maps_flutter/example/lib/custom_marker_icon.dart
  packages/google_maps_flutter/example/lib/main.dart
  packages/google_maps_flutter/example/lib/map_map_id.dart
  packages/google_maps_flutter/example/lib/map_ui.dart
  packages/google_maps_flutter/example/lib/marker_icons.dart
  packages/google_maps_flutter/example/lib/place_marker.dart
  packages/google_maps_flutter/example/lib/place_polyline.dart
  packages/google_maps_flutter/example/lib/readme_sample.dart
  packages/google_maps_flutter/example/pubspec.yaml
  packages/google_maps_flutter/lib/src/convert.dart
  packages/google_maps_flutter/lib/src/google_maps_controller.dart
  packages/google_maps_flutter/lib/src/google_maps_flutter_tizen.dart
  packages/google_maps_flutter/pubspec.yaml
Labels: p: google_maps_flutter

#709 [webview_flutter] Disable unnecessary web-engine initialization
  packages/webview_flutter/CHANGELOG.md
  packages/webview_flutter/tizen/src/webview.cc
Labels: p: webview_flutter

#710 [tizen_rpc_port] Update tizen_interop and tizen_bundle to 0.3.0 and 0.1.2
  packages/tizen_rpc_port/CHANGELOG.md
  packages/tizen_rpc_port/README.md
  packages/tizen_rpc_port/pubspec.yaml
Labels: p: tizen_rpc_port

#711 [video_player_avplay] Update plusplayer.ini
  packages/video_player_avplay/CHANGELOG.md
  packages/video_player_avplay/README.md
  packages/video_player_avplay/pubspec.yaml
  packages/video_player_avplay/tizen/res/plusplayer.ini
Labels: p: video_player_avplay
