Repository flutter-tizen/plugins, pull requests merged in 2024-06, with the labels that each got.

#691 [package_info_plus] upgrade package info plus dependencies
  packages/package_info_plus/CHANGELOG.md
  packages/package_info_plus/README.md
  packages/package_info_plus/example/pubspec.yaml
  packages/package_info_plus/pubspec.yaml
Labels: p: package_info_plus

#693 [webview_flutter_lwe] Supports multiple JavaScriptChannel method call
  packages/webview_flutter_lwe/CHANGELOG.md
  packages/webview_flutter_lwe/README.md
  packages/webview_flutter_lwe/lib/src/lwe_webview.dart
  packages/webview_flutter_lwe/pubspec.yaml
Labels: p: webview_flutter_lwe

#694 [webview_flutter_tizen] Supports multiple JavaScriptChannel method call
  packages/webview_flutter/CHANGELOG.md
  packages/webview_flutter/README.md
  packages/webview_flutter/lib/src/tizen_webview.dart
  packages/webview_flutter/pubspec.yaml
Labels: p: webview_flutter

#689 [video_player_avplay] Add plusplayer ini
  packages/video_player_avplay/CHANGELOG.md
  packages/video_player_avplay/tizen/lib/armel/6.0/libdashplusplayer_tvplus.so
  packages/video_player_avplay/tizen/lib/armel/6.0/libplusplayer_tvplus.so
  packages/video_player_avplay/tizen/lib/armel/6.0/libplusplayercore_tvplus.so
  packages/video_player_avplay/tizen/lib/armel/6.5/libdashplusplayer_tvplus.so
  packages/video_player_avplay/tizen/lib/armel/6.5/libplusplayer_tvplus.so
  packages/video_player_avplay/tizen/lib/armel/6.5/libplusplayercore_tvplus.so
  packages/video_player_avplay/tizen/lib/armel/7.0/libdashplusplayer_tvplus.so
  packages/video_player_avplay/tizen/lib/armel/7.0/libplusplayer_tvplus.so
  packages/video_player_avplay/tizen/lib/armel/7.0/libplusplayercore_tvplus.so
  packages/video_player_avplay/tizen/lib/armel/8.0/libdashplusplayer_tvplus.so
  packages/video_player_avplay/tizen/lib/armel/8.0/libplusplayer_tvplus.so
  packages/video_player_avplay/tizen/lib/armel/8.0/libplusplayercore_tvplus.so
  packages/video_player_avplay/tizen/res/plusplayer.ini
Labels: p: video_player_avplay

#692 [google_maps_flutter] Update webview_flutter version
  packages/google_maps_flutter/CHANGELOG.md
  packages/google_maps_flutter/README.md
  packages/google_maps_flutter/lib/src/circle.dart
  packages/google_maps_flutter/lib/src/google_maps_controller.dart
  packages/google_maps_flutter/lib/src/google_maps_flutter_tizen.dart
  packages/google_maps_flutter/lib/src/marker.dart
  packages/google_maps_flutter/lib/src/polygon.dart
  packages/google_maps_flutter/lib/src/polyline.dart
  packages/google_maps_flutter/lib/src/types.dart
  packages/google_maps_flutter/lib/src/util.dart
  packages/google_maps_flutter/pubspec.yaml
Labels: p: google_maps_flutter
