Repository flutter-tizen/plugins, pull requests merged in 2024-11, with the labels that each got.

#761 Change Tizen.NET API version of example apps to tizen80
  packages/audioplayers/example/tizen/Runner.csproj
  packages/battery_plus/example/tizen/Runner.csproj
  packages/camera/example/tizen/Runner.csproj
  packages/connectivity_plus/example/tizen/Runner.csproj
  packages/device_info_plus/example/tizen/Runner.csproj
  packages/firebase_core/example/tizen/Runner.csproj
  packages/flutter_app_badger/example/tizen/Runner.csproj
  packages/flutter_secure_storage/example/tizen/Runner.csproj
  packages/flutter_tts/example/tizen/Runner.csproj
  packages/flutter_webrtc/example/flutter_webrtc_demo/tizen/Runner.csproj
  packages/flutter_webrtc/example/flutter_webrtc_example/tizen/Runner.csproj
  packages/geolocator/example/tizen/Runner.csproj
  packages/google_maps_flutter/example/tizen/Runner.csproj
  packages/google_sign_in/example/tizen/Runner.csproj
  packages/image_picker/example/tizen/Runner.csproj
  packages/in_app_purchase/example/tizen/Runner.csproj
  packages/integration_test/example/tizen/Runner.csproj
  packages/messageport/example/tizen/Runner.csproj
  packages/network_info_plus/example/tizen/Runner.csproj
  packages/package_info_plus/example/tizen/Runner.csproj
  packages/path_provider/example/tizen/Runner.csproj
  packages/permission_handler/example/tizen/Runner.csproj
  packages/sensors_plus/example/tizen/Runner.csproj
  packages/shared_preferences/example/tizen/Runner.csproj
  packages/sqflite/example/tizen/Runner.csproj
  packages/tizen_app_control/example/tizen/service/RunnerService.csproj
  packages/tizen_app_control/example/tizen/ui/Runner.csproj
  packages/tizen_app_manager/example/tizen/Runner.csproj
  packages/tizen_audio_manager/example/tizen/Runner.csproj
  packages/tizen_bundle/example/tizen/Runner.csproj
  packages/tizen_log/example/tizen/Runner.csproj
  packages/tizen_notification/example/tizen/Runner.csproj
  packages/tizen_package_manager/example/tizen/Runner.csproj
  packages/tizen_rpc_port/example/client/tizen/Runner.csproj
  packages/tizen_rpc_port/example/server/tizen/Runner.csproj
  packages/url_launcher/example/tizen/Runner.csproj
  packages/video_player/example/tizen/Runner.csproj
  packages/video_player_avplay/example/tizen/Runner.csproj
  packages/video_player_videohole/example/tizen/Runner.csproj
  packages/wakelock_plus/example/tizen/Runner.csproj
  packages/wearable_rotary/example/tizen/Runner.csproj
  packages/webview_flutter/example/tizen/Runner.csproj
  packages/webview_flutter_lwe/example/tizen/Runner.csproj
  tools/test_data/foo/example/tizen/Runner.csproj
Labels: p: audioplayers, p: battery_plus, p: camera, p: connectivity_plus, p: device_info_plus, p: flutter_tts, p: image_picker, p: network_info_plus, p: package_info_plus, p: permission_handler, p: sensors_plus, p: shared_preferences, p: url_launcher, p: video_player, p: webview_flutter, p: geolocator, p: messageport, p: path_provider, p: google_maps_flutter, tools, p: tizen_app_control, p: integration_test, p: wearable_rotary, p: tizen_audio_manager, p: tizen_app_manager, p: tizen_log, p: tizen_package_manager, p: sqflite, p: tizen_notification, p: google_sign_in, p: tizen_bundle, p: webview_flutter_lwe, p: firebase_core, p: tizen_rpc_port, p: flutter_webrtc, p: flutter_app_badger, p: flutter_secure_storage, p: video_player_videohole, p: video_player_avplay, p: in_app_purchase, p: wakelock_plus

#759 [video_player_avplay] Add start position in player options when creating player
  packages/video_player_avplay/CHANGELOG.md
  packages/video_player_avplay/README.md
  packages/video_player_avplay/pubspec.yaml
  packages/video_player_avplay/tizen/src/plus_player.cc
Labels: p: video_player_avplay

#762 [audioplayers] Fix play() didn't work after setSource()
  packages/audioplayers/CHANGELOG.md
  packages/audioplayers/README.md
  packages/audioplayers/pubspec.yaml
  packages/audioplayers/tizen/src/audio_player.cc
Labels: p: audioplayers

#768 [google_maps_flutter] Fix memory alarm and map initialization issue
  packages/google_maps_flutter/CHANGELOG.md
  packages/google_maps_flutter/lib/src/google_maps_controller.dart
Labels: p: google_maps_flutter

#763 [audioplayers] Update audioplayers to 6.1.0
  packages/audioplayers/CHANGELOG.md
  packages/audioplayers/analysis_options.yaml
  packages/audioplayers/example/analysis_options.yaml
  packages/audioplayers/example/integration_test/audioplayers_test.dart
  packages/audioplayers/example/lib/components/dlg.dart
  packages/audioplayers/example/lib/components/player_widget.dart
  packages/audioplayers/example/lib/main.dart
  packages/audioplayers/example/lib/tabs/audio_context.dart
  packages/audioplayers/example/lib/tabs/controls.dart
  packages/audioplayers/example/lib/tabs/sources.dart
  packages/audioplayers/example/lib/utils.dart
  packages/audioplayers/example/pubspec.yaml
  packages/audioplayers/pubspec.yaml
  packages/audioplayers/tizen/src/audio_player.cc
  packages/audioplayers/tizen/src/audio_player.h
  packages/audioplayers/tizen/src/audioplayers_tizen_plugin.cc
Labels: p: audioplayers

#766 [video_player_videohole] Add 'isCompleted' event to 'VideoPlayerEvent'
  packages/video_player_videohole/CHANGELOG.md
  packages/video_player_videohole/README.md
  packages/video_player_videohole/lib/video_player.dart
  packages/video_player_videohole/pubspec.yaml
Labels: p: video_player_videohole

#771 [video_player_avplay] Add 'isCompleted' event to 'VideoPlayerEvent'.
  packages/video_player_avplay/CHANGELOG.md
  packages/video_player_avplay/README.md
  packages/video_player_avplay/lib/video_player.dart
  packages/video_player_avplay/pubspec.yaml
Labels: p: video_player_avplay

#764 [connectivity_plus] Update connectivity_plus to 6.1.0
  packages/connectivity_plus/CHANGELOG.md
  packages/connectivity_plus/README.md
  packages/connectivity_plus/example/lib/main.dart
  packages/connectivity_plus/example/pubspec.yaml
  packages/connectivity_plus/pubspec.yaml
  packages/connectivity_plus/tizen/src/connectivity_plus_tizen_plugin.cc
Labels: p: connectivity_plus

#772 [google_maps_flutter] Update webview_flutter version
  packages/google_maps_flutter/CHANGELOG.md
  packages/google_maps_flutter/README.md
  packages/google_maps_flutter/pubspec.yaml
Labels: p: google_maps_flutter

#773 [video_player_avplay] Fix start position out of range issue
  packages/video_player_avplay/CHANGELOG.md
  packages/video_player_avplay/README.md
  packages/video_player_avplay/pubspec.yaml
  packages/video_player_avplay/tizen/src/plus_player.cc
Labels: p: video_player_avplay

#774 [video_player_avplay] Fix select audio channel failed issue
  packages/video_player_avplay/CHANGELOG.md
  packages/video_player_avplay/README.md
  packages/video_player_avplay/pubspec.yaml
  packages/video_player_avplay/tizen/lib/armel/6.0/libdash.so
  packages/video_player_avplay/tizen/lib/armel/6.5/libdash.so
  packages/video_player_avplay/tizen/lib/armel/7.0/libdash.so
  packages/video_player_avplay/tizen/lib/armel/8.0/libdash.so
Labels: p: video_player_avplay

#775 [flutter_tts] Update flutter_tts to 4.2.0
  packages/flutter_tts/CHANGELOG.md
  packages/flutter_tts/README.md
  packages/flutter_tts/example/lib/main.dart
  packages/flutter_tts/example/pubspec.yaml
  packages/flutter_tts/pubspec.yaml
  packages/flutter_tts/tizen/src/flutter_tts_tizen_plugin.cc
  packages/flutter_tts/tizen/src/text_to_speech.cc
  packages/flutter_tts/tizen/src/text_to_speech.h
Labels: p: flutter_tts

#778 [ video_player_avplay] Make startPosition support int32_t
  packages/video_player_avplay/CHANGELOG.md
  packages/video_player_avplay/README.md
  packages/video_player_avplay/pubspec.yaml
  packages/video_player_avplay/tizen/src/plus_player.cc
Labels: p: video_player_avplay

#780 [video_player] Update video_player to 2.9.2
  packages/video_player/CHANGELOG.md
  packages/video_player/README.md
  packages/video_player/example/pubspec.yaml
  packages/video_player/pubspec.yaml
Labels: p: video_player
