Repository flutter-tizen/plugins, pull requests merged in 2024-08, with the labels that each got.

#714 [video_player_avplay] Updgrade plusplayer
  packages/video_player_avplay/CHANGELOG.md
  packages/video_player_avplay/README.md
  packages/video_player_avplay/pubspec.yaml
  packages/video_player_avplay/tizen/lib/armel/6.0/libavformat_mmdash.so
  packages/video_player_avplay/tizen/lib/armel/6.0/libdash.so
  packages/video_player_avplay/tizen/lib/armel/6.0/libdashplusplayer_tvplus.so
  packages/video_player_avplay/tizen/lib/armel/6.0/libgstdash.so
  packages/video_player_avplay/tizen/lib/armel/6.0/libgsthls.so
  packages/video_player_avplay/tizen/lib/armel/6.0/libgstmmhttpsrc.so
  packages/video_player_avplay/tizen/lib/armel/6.0/libhls.so
  packages/video_player_avplay/tizen/lib/armel/6.0/libplusplayer-wrapper.so
  packages/video_player_avplay/tizen/lib/armel/6.0/libplusplayer_tvplus.so
  packages/video_player_avplay/tizen/lib/armel/6.0/libplusplayercore_tvplus.so
  packages/video_player_avplay/tizen/lib/armel/6.0/libtracksource_tvplus.so
  packages/video_player_avplay/tizen/lib/armel/6.5/libavformat_mmdash.so
  packages/video_player_avplay/tizen/lib/armel/6.5/libdash.so
  packages/video_player_avplay/tizen/lib/armel/6.5/libdashplusplayer_tvplus.so
  packages/video_player_avplay/tizen/lib/armel/6.5/libgstdash.so
  packages/video_player_avplay/tizen/lib/armel/6.5/libgsthls.so
  packages/video_player_avplay/tizen/lib/armel/6.5/libgstmmhttpsrc.so
  packages/video_player_avplay/tizen/lib/armel/6.5/libhls.so
  packages/video_player_avplay/tizen/lib/armel/6.5/libplusplayer-wrapper.so
  packages/video_player_avplay/tizen/lib/armel/6.5/libplusplayer_tvplus.so
  packages/video_player_avplay/tizen/lib/armel/6.5/libplusplayercore_tvplus.so
  packages/video_player_avplay/tizen/lib/armel/6.5/libtracksource_tvplus.so
  packages/video_player_avplay/tizen/lib/armel/7.0/libavformat_mmdash.so
  packages/video_player_avplay/tizen/lib/armel/7.0/libdash.so
  packages/video_player_avplay/tizen/lib/armel/7.0/libdashplusplayer_tvplus.so
  packages/video_player_avplay/tizen/lib/armel/7.0/libgstdash.so
  packages/video_player_avplay/tizen/lib/armel/7.0/libgsthls.so
  packages/video_player_avplay/tizen/lib/armel/7.0/libgstmmhttpsrc.so
  packages/video_player_avplay/tizen/lib/armel/7.0/libhls.so
  packages/video_player_avplay/tizen/lib/armel/7.0/libplusplayer-wrapper.so
  packages/video_player_avplay/tizen/lib/armel/7.0/libplusplayer_tvplus.so
  packages/video_player_avplay/tizen/lib/armel/7.0/libplusplayercore_tvplus.so
  packages/video_player_avplay/tizen/lib/armel/7.0/libtracksource_tvplus.so
  packages/video_player_avplay/tizen/lib/armel/8.0/libavformat_mmdash.so
  packages/video_player_avplay/tizen/lib/armel/8.0/libdash.so
  packages/video_player_avplay/tizen/lib/armel/8.0/libdashplusplayer_tvplus.so
  packages/video_player_avplay/tizen/lib/armel/8.0/libgstdash.so
  packages/video_player_avplay/tizen/lib/armel/8.0/libgsthls.so
  packages/video_player_avplay/tizen/lib/armel/8.0/libgstmmhttpsrc.so
  packages/video_player_avplay/tizen/lib/armel/8.0/libhls.so
  packages/video_player_avplay/tizen/lib/armel/8.0/libplusplayer-wrapper.so
  packages/video_player_avplay/tizen/lib/armel/8.0/libplusplayer_tvplus.so
  packages/video_player_avplay/tizen/lib/armel/8.0/libplusplayercore_tvplus.so
  packages/video_player_avplay/tizen/lib/armel/8.0/libtracksource_tvplus.so
Labels: p: video_player_avplay

#713 [google_maps_flutter] Support longpress event
  packages/google_maps_flutter/CHANGELOG.md
  packages/google_maps_flutter/README.md
  packages/google_maps_flutter/lib/src/google_maps_controller.dart
  packages/google_maps_flutter/pubspec.yaml
Labels: p: google_maps_flutter

#715 [flutter_secure_storage] Fix Crashes on Encrypting/Decrypting Empty Strings
  packages/flutter_secure_storage/CHANGELOG.md
  packages/flutter_secure_storage/tizen/src/secure_storage.cc
Labels: p: flutter_secure_storage

#719 [battery_plus] Fix analyze issue
  packages/battery_plus/CHANGELOG.md
  packages/battery_plus/example/lib/main.dart
Labels: p: battery_plus

#720 [permission_handler] Fix analyze issue
  packages/permission_handler/CHANGELOG.md
  packages/permission_handler/example/lib/main.dart
Labels: p: permission_handler

#721 [sensors_plus] Fix analyze issue
  packages/sensors_plus/CHANGELOG.md
  packages/sensors_plus/example/lib/main.dart
Labels: p: sensors_plus

#722 [flutter_webrtc] Fix analyze issue
  packages/flutter_webrtc/CHANGELOG.md
  packages/flutter_webrtc/example/flutter_webrtc_demo/lib/src/utils/screen_select_dialog.dart
  packages/flutter_webrtc/example/flutter_webrtc_demo/lib/src/widgets/screen_select_dialog.dart
  packages/flutter_webrtc/example/flutter_webrtc_example/lib/main.dart
  packages/flutter_webrtc/example/flutter_webrtc_example/lib/src/get_display_media_sample.dart
  packages/flutter_webrtc/example/flutter_webrtc_example/lib/src/loopback_sample_unified_tracks.dart
  packages/flutter_webrtc/example/flutter_webrtc_example/lib/src/widgets/screen_select_dialog.dart
Labels: p: flutter_webrtc

#724 [video_player_avplay] Add setBufferConfig interface
  packages/video_player_avplay/CHANGELOG.md
  packages/video_player_avplay/README.md
  packages/video_player_avplay/lib/src/messages.g.dart
  packages/video_player_avplay/lib/src/video_player_tizen.dart
  packages/video_player_avplay/lib/video_player.dart
  packages/video_player_avplay/lib/video_player_platform_interface.dart
  packages/video_player_avplay/pigeons/messages.dart
  packages/video_player_avplay/pubspec.yaml
  packages/video_player_avplay/tizen/src/messages.cc
  packages/video_player_avplay/tizen/src/messages.h
  packages/video_player_avplay/tizen/src/plus_player.cc
  packages/video_player_avplay/tizen/src/plus_player.h
  packages/video_player_avplay/tizen/src/video_player.h
  packages/video_player_avplay/tizen/src/video_player_tizen_plugin.cc
Labels: p: video_player_avplay
