Repository flutter-tizen/plugins, pull requests merged in 2025-01, with the labels that each got.

#790 [webview_flutter_lwe] Fix "channel sent a message from native to Flutter on a non-platform thread" error
  packages/webview_flutter_lwe/CHANGELOG.md
  packages/webview_flutter_lwe/tizen/src/message_dispatcher.cc
  packages/webview_flutter_lwe/tizen/src/message_dispatcher.h
  packages/webview_flutter_lwe/tizen/src/webview.cc
  packages/webview_flutter_lwe/tizen/src/webview.h
Labels: p: webview_flutter_lwe

#793 [video_player_avplay] Add check platform and api version
  packages/video_player_avplay/CHANGELOG.md
  packages/video_player_avplay/README.md
  packages/video_player_avplay/lib/video_player.dart
  packages/video_player_avplay/pubspec.yaml
Labels: p: video_player_avplay

#805 [video_player_avplay] Revert 0.5.9 version
  packages/video_player_avplay/CHANGELOG.md
  packages/video_player_avplay/README.md
  packages/video_player_avplay/pubspec.yaml
  packages/video_player_avplay/tizen/lib/armel/6.0/libdash.so
  packages/video_player_avplay/tizen/lib/armel/6.5/libdash.so
  packages/video_player_avplay/tizen/lib/armel/7.0/libdash.so
  packages/video_player_avplay/tizen/lib/armel/8.0/libdash.so
  packages/video_player_avplay/tizen/lib/armel/9.0/libdash.so
Labels: p: video_player_avplay

#803 [url_launcher] Update url_launcher to 6.3.1
  packages/url_launcher/CHANGELOG.md
  packages/url_launcher/README.md
  packages/url_launcher/example/lib/main.dart
  packages/url_launcher/example/pubspec.yaml
  packages/url_launcher/lib/url_launcher_tizen.dart
  packages/url_launcher/pubspec.yaml
Labels: p: url_launcher
