Repository flutter-tizen/plugins, pull requests merged in 2025-02, with the labels that each got.

#808 [video_player] Add ignore analyzer option to fix analyze warning
  packages/video_player/CHANGELOG.md
  packages/video_player/lib/video_player_tizen.dart
Labels: p: video_player

#804 [webview_flutter_lwe] Update webview_flutter to 4.10.0
  packages/webview_flutter_lwe/CHANGELOG.md
  packages/webview_flutter_lwe/README.md
  packages/webview_flutter_lwe/example/lib/main.dart
  packages/webview_flutter_lwe/example/pubspec.yaml
  packages/webview_flutter_lwe/lib/src/lwe_webview.dart
  packages/webview_flutter_lwe/lib/src/lwe_webview_controller.dart
  packages/webview_flutter_lwe/pubspec.yaml
  packages/webview_flutter_lwe/tizen/src/message_dispatcher.cc
  packages/webview_flutter_lwe/tizen/src/webview.cc
  packages/webview_flutter_lwe/tizen/src/webview.h
Labels: p: webview_flutter_lwe

#812 [video_player_avplay] Synchronize isPlaying state
  packages/video_player_avplay/CHANGELOG.md
  packages/video_player_avplay/README.md
  packages/video_player_avplay/lib/src/closed_caption_file.dart
  packages/video_player_avplay/lib/src/video_player_tizen.dart
  packages/video_player_avplay/lib/video_player.dart
  packages/video_player_avplay/lib/video_player_platform_interface.dart
  packages/video_player_avplay/pubspec.yaml
  packages/video_player_avplay/tizen/src/media_player.cc
  packages/video_player_avplay/tizen/src/plus_player.cc
  packages/video_player_avplay/tizen/src/video_player.cc
  packages/video_player_avplay/tizen/src/video_player.h
Labels: p: video_player_avplay

#815 [google_maps_flutter] Update webview_flutter version
  packages/google_maps_flutter/CHANGELOG.md
  packages/google_maps_flutter/README.md
  packages/google_maps_flutter/pubspec.yaml
Labels: p: google_maps_flutter

#817 [video_player_avplay] Automatically rotates video player based on device orientation
  packages/video_player_avplay/CHANGELOG.md
  packages/video_player_avplay/README.md
  packages/video_player_avplay/lib/video_player.dart
  packages/video_player_avplay/pubspec.yaml
Labels: p: video_player_avplay

#809 [webview_flutter_tizen] Update webview_flutter to 4.10.0
  packages/webview_flutter/CHANGELOG.md
  packages/webview_flutter/README.md
  packages/webview_flutter/example/lib/main.dart
  packages/webview_flutter/example/pubspec.yaml
  packages/webview_flutter/lib/src/tizen_webview.dart
  packages/webview_flutter/lib/src/tizen_webview_controller.dart
  packages/webview_flutter/pubspec.yaml
  packages/webview_flutter/tizen/src/ewk_internal_api_binding.cc
  packages/webview_flutter/tizen/src/ewk_internal_api_binding.h
  packages/webview_flutter/tizen/src/webview.cc
  packages/webview_flutter/tizen/src/webview.h
Labels: p: webview_flutter

#818 [video_player_avplay] Update readme
  packages/video_player_avplay/CHANGELOG.md
  packages/video_player_avplay/README.md
Labels: p: video_player_avplay

#816 [google_maps_flutter] Update google_maps_flutter to 2.10.0
  packages/google_maps_flutter/CHANGELOG.md
  packages/google_maps_flutter/README.md
  packages/google_maps_flutter/example/integration_test/src/maps_controller.dart
  packages/google_maps_flutter/example/integration_test/src/maps_inspector.dart
  packages/google_maps_flutter/example/integration_test/src/tiles_inspector.dart
  packages/google_maps_flutter/example/lib/clustering.dart
  packages/google_maps_flutter/example/lib/heatmap.dart
  packages/google_maps_flutter/example/lib/main.dart
  packages/google_maps_flutter/example/lib/map_map_id.dart
  packages/google_maps_flutter/example/lib/marker_icons.dart
  packages/google_maps_flutter/example/lib/place_polygon.dart
  packages/google_maps_flutter/example/pubspec.yaml
  packages/google_maps_flutter/lib/src/marker.dart
  packages/google_maps_flutter/pubspec.yaml
Labels: p: google_maps_flutter
