Repository flutter-tizen/plugins, pull requests merged in 2025-07, with the labels that each got.

#868 [webview_flutter] Add support for mouse events
  packages/webview_flutter/CHANGELOG.md
  packages/webview_flutter/README.md
  packages/webview_flutter/pubspec.yaml
  packages/webview_flutter/tizen/project_def.prop
  packages/webview_flutter/tizen/src/ewk_internal_api_binding.cc
  packages/webview_flutter/tizen/src/ewk_internal_api_binding.h
  packages/webview_flutter/tizen/src/webview.cc
  packages/webview_flutter/tizen/src/webview.h
Labels: p: webview_flutter

#872 [video_player_videohole] Automatically rotates video player based on device orientation
  packages/video_player_videohole/CHANGELOG.md
  packages/video_player_videohole/README.md
  packages/video_player_videohole/lib/src/messages.g.dart
  packages/video_player_videohole/lib/src/video_player_tizen.dart
  packages/video_player_videohole/lib/video_player.dart
  packages/video_player_videohole/lib/video_player_platform_interface.dart
  packages/video_player_videohole/pigeons/messages.dart
  packages/video_player_videohole/pubspec.yaml
  packages/video_player_videohole/tizen/src/media_player.cc
  packages/video_player_videohole/tizen/src/media_player.h
  packages/video_player_videohole/tizen/src/messages.cc
  packages/video_player_videohole/tizen/src/messages.h
  packages/video_player_videohole/tizen/src/video_player.h
  packages/video_player_videohole/tizen/src/video_player_tizen_plugin.cc
Labels: p: video_player_videohole

#875 [video_player] Fix app crash issue
  packages/video_player/CHANGELOG.md
  packages/video_player/README.md
  packages/video_player/pubspec.yaml
  packages/video_player/tizen/src/video_player.cc
Labels: p: video_player
