Repository flutter-tizen/plugins, pull requests merged in 2025-05, with the labels that each got.

#851 [video_player_avplay] Upgrade pigeon
  packages/video_player_avplay/CHANGELOG.md
  packages/video_player_avplay/README.md
  packages/video_player_avplay/example/lib/main.dart
  packages/video_player_avplay/lib/src/messages.g.dart
  packages/video_player_avplay/pubspec.yaml
  packages/video_player_avplay/tizen/src/media_player.cc
  packages/video_player_avplay/tizen/src/messages.cc
  packages/video_player_avplay/tizen/src/messages.h
  packages/video_player_avplay/tizen/src/plus_player.cc
Labels: p: video_player_avplay

#854 [video_player_videohole] Synchronize isPlaying state
  packages/video_player_videohole/CHANGELOG.md
  packages/video_player_videohole/README.md
  packages/video_player_videohole/lib/src/video_player_tizen.dart
  packages/video_player_videohole/lib/video_player.dart
  packages/video_player_videohole/lib/video_player_platform_interface.dart
  packages/video_player_videohole/pubspec.yaml
  packages/video_player_videohole/tizen/src/media_player.cc
  packages/video_player_videohole/tizen/src/video_player.cc
  packages/video_player_videohole/tizen/src/video_player.h
Labels: p: video_player_videohole

#855 [battery_plus] update version
  packages/battery_plus/CHANGELOG.md
  packages/battery_plus/LICENSE
  packages/battery_plus/README.md
  packages/battery_plus/pubspec.yaml
Labels: p: battery_plus

#857 [video_player_avplay] Fix version error
  packages/video_player_avplay/README.md
  packages/video_player_avplay/pubspec.yaml
Labels: p: video_player_avplay

#858 [video_player_videohole] Add suspend and restore api for handing onPause and onResume lifecyle event
  packages/video_player_videohole/CHANGELOG.md
  packages/video_player_videohole/README.md
  packages/video_player_videohole/example/lib/main.dart
  packages/video_player_videohole/lib/src/messages.g.dart
  packages/video_player_videohole/lib/src/video_player_tizen.dart
  packages/video_player_videohole/lib/video_player.dart
  packages/video_player_videohole/lib/video_player_platform_interface.dart
  packages/video_player_videohole/pigeons/messages.dart
  packages/video_player_videohole/pubspec.yaml
  packages/video_player_videohole/tizen/src/device_proxy.cc
  packages/video_player_videohole/tizen/src/device_proxy.h
  packages/video_player_videohole/tizen/src/media_player.cc
  packages/video_player_videohole/tizen/src/media_player.h
  packages/video_player_videohole/tizen/src/messages.cc
  packages/video_player_videohole/tizen/src/messages.h
  packages/video_player_videohole/tizen/src/video_player.cc
  packages/video_player_videohole/tizen/src/video_player.h
  packages/video_player_videohole/tizen/src/video_player_tizen_plugin.cc
Labels: p: video_player_videohole

#861 Upgrade to permission_handler 12
  packages/permission_handler/CHANGELOG.md
  packages/permission_handler/example/pubspec.yaml
  packages/permission_handler/pubspec.yaml
Labels: p: permission_handler

#862 [permission_handler] Update README and example
  packages/permission_handler/CHANGELOG.md
  packages/permission_handler/README.md
  packages/permission_handler/example/lib/main.dart
  packages/permission_handler/pubspec.yaml
Labels: p: permission_handler
