Repository flutter-tizen/plugins, pull requests merged in 2025-03, with the labels that each got.

#824 [flutter_secure_storage] Fix analyze issue
  packages/flutter_secure_storage/example/integration_test/flutter_secure_storage_test.dart
Labels: p: flutter_secure_storage

#826 [google_maps_flutter] Add support for marker clustering
  packages/google_maps_flutter/CHANGELOG.md
  packages/google_maps_flutter/README.md
  packages/google_maps_flutter/example/assets/map.html
  packages/google_maps_flutter/lib/google_maps_flutter_tizen.dart
  packages/google_maps_flutter/lib/src/convert.dart
  packages/google_maps_flutter/lib/src/google_maps_controller.dart
  packages/google_maps_flutter/lib/src/google_maps_flutter_tizen.dart
  packages/google_maps_flutter/lib/src/marker.dart
  packages/google_maps_flutter/lib/src/marker_clustering.dart
  packages/google_maps_flutter/lib/src/markers.dart
  packages/google_maps_flutter/lib/src/util.dart
  packages/google_maps_flutter/pubspec.yaml
Labels: p: google_maps_flutter

#827 [in_app_purchase] Upgrade to latest version and add 'countryCode' API
  packages/in_app_purchase/CHANGELOG.md
  packages/in_app_purchase/README.md
  packages/in_app_purchase/example/lib/main.dart
  packages/in_app_purchase/example/pubspec.yaml
  packages/in_app_purchase/lib/billing_manager_wrappers.dart
  packages/in_app_purchase/lib/in_app_purchase_tizen.dart
  packages/in_app_purchase/lib/src/billing_manager.dart
  packages/in_app_purchase/lib/src/billing_manager_wrappers/billing_manager_wrapper.dart
  packages/in_app_purchase/lib/src/billing_manager_wrappers/billing_manager_wrapper.g.dart
  packages/in_app_purchase/lib/src/channel.dart
  packages/in_app_purchase/lib/src/in_app_purchase_tizen_platform.dart
  packages/in_app_purchase/lib/src/in_app_purchase_tizen_platform_addition.dart
  packages/in_app_purchase/lib/src/messages.g.dart
  packages/in_app_purchase/pigeons/messages.dart
  packages/in_app_purchase/pubspec.yaml
  packages/in_app_purchase/tizen/inc/rapidjson/allocators.h
  packages/in_app_purchase/tizen/inc/rapidjson/cursorstreamwrapper.h
  packages/in_app_purchase/tizen/inc/rapidjson/document.h
  packages/in_app_purchase/tizen/inc/rapidjson/encodedstream.h
  packages/in_app_purchase/tizen/inc/rapidjson/encodings.h
  packages/in_app_purchase/tizen/inc/rapidjson/error/en.h
  packages/in_app_purchase/tizen/inc/rapidjson/error/error.h
  packages/in_app_purchase/tizen/inc/rapidjson/filereadstream.h
  packages/in_app_purchase/tizen/inc/rapidjson/filewritestream.h
  packages/in_app_purchase/tizen/inc/rapidjson/fwd.h
  packages/in_app_purchase/tizen/inc/rapidjson/internal/biginteger.h
  packages/in_app_purchase/tizen/inc/rapidjson/internal/clzll.h
  packages/in_app_purchase/tizen/inc/rapidjson/internal/diyfp.h
  packages/in_app_purchase/tizen/inc/rapidjson/internal/dtoa.h
  packages/in_app_purchase/tizen/inc/rapidjson/internal/ieee754.h
  packages/in_app_purchase/tizen/inc/rapidjson/internal/itoa.h
  packages/in_app_purchase/tizen/inc/rapidjson/internal/meta.h
  packages/in_app_purchase/tizen/inc/rapidjson/internal/pow10.h
  packages/in_app_purchase/tizen/inc/rapidjson/internal/regex.h
  packages/in_app_purchase/tizen/inc/rapidjson/internal/stack.h
  packages/in_app_purchase/tizen/inc/rapidjson/internal/strfunc.h
  packages/in_app_purchase/tizen/inc/rapidjson/internal/strtod.h
  packages/in_app_purchase/tizen/inc/rapidjson/internal/swap.h
  packages/in_app_purchase/tizen/inc/rapidjson/istreamwrapper.h
  packages/in_app_purchase/tizen/inc/rapidjson/memorybuffer.h
  packages/in_app_purchase/tizen/inc/rapidjson/memorystream.h
  packages/in_app_purchase/tizen/inc/rapidjson/msinttypes/inttypes.h
  packages/in_app_purchase/tizen/inc/rapidjson/msinttypes/stdint.h
  packages/in_app_purchase/tizen/inc/rapidjson/ostreamwrapper.h
  packages/in_app_purchase/tizen/inc/rapidjson/pointer.h
  packages/in_app_purchase/tizen/inc/rapidjson/prettywriter.h
  packages/in_app_purchase/tizen/inc/rapidjson/rapidjson.h
  packages/in_app_purchase/tizen/inc/rapidjson/reader.h
  packages/in_app_purchase/tizen/inc/rapidjson/schema.h
  packages/in_app_purchase/tizen/inc/rapidjson/stream.h
  packages/in_app_purchase/tizen/inc/rapidjson/stringbuffer.h
  packages/in_app_purchase/tizen/inc/rapidjson/uri.h
  packages/in_app_purchase/tizen/inc/rapidjson/writer.h
  packages/in_app_purchase/tizen/src/billing_manager.cc
  packages/in_app_purchase/tizen/src/billing_manager.h
  packages/in_app_purchase/tizen/src/billing_service_proxy.cc
  packages/in_app_purchase/tizen/src/billing_service_proxy.h
  packages/in_app_purchase/tizen/src/in_app_purchase_tizen_plugin.cc
  packages/in_app_purchase/tizen/src/messages.cc
  packages/in_app_purchase/tizen/src/messages.h
Labels: p: in_app_purchase

#822 [video_player_avplay]Add setData and getData interface
  packages/video_player_avplay/CHANGELOG.md
  packages/video_player_avplay/README.md
  packages/video_player_avplay/lib/src/messages.g.dart
  packages/video_player_avplay/lib/src/video_player_tizen.dart
  packages/video_player_avplay/lib/video_player.dart
  packages/video_player_avplay/lib/video_player_platform_interface.dart
  packages/video_player_avplay/pigeons/messages.dart
  packages/video_player_avplay/pubspec.yaml
  packages/video_player_avplay/tizen/inc/plusplayer/plusplayer_wrapper.h
  packages/video_player_avplay/tizen/inc/rapidjson/allocators.h
  packages/video_player_avplay/tizen/inc/rapidjson/cursorstreamwrapper.h
  packages/video_player_avplay/tizen/inc/rapidjson/document.h
  packages/video_player_avplay/tizen/inc/rapidjson/encodedstream.h
  packages/video_player_avplay/tizen/inc/rapidjson/encodings.h
  packages/video_player_avplay/tizen/inc/rapidjson/error/en.h
  packages/video_player_avplay/tizen/inc/rapidjson/error/error.h
  packages/video_player_avplay/tizen/inc/rapidjson/filereadstream.h
  packages/video_player_avplay/tizen/inc/rapidjson/filewritestream.h
  packages/video_player_avplay/tizen/inc/rapidjson/fwd.h
  packages/video_player_avplay/tizen/inc/rapidjson/internal/biginteger.h
  packages/video_player_avplay/tizen/inc/rapidjson/internal/clzll.h
  packages/video_player_avplay/tizen/inc/rapidjson/internal/diyfp.h
  packages/video_player_avplay/tizen/inc/rapidjson/internal/dtoa.h
  packages/video_player_avplay/tizen/inc/rapidjson/internal/ieee754.h
  packages/video_player_avplay/tizen/inc/rapidjson/internal/itoa.h
  packages/video_player_avplay/tizen/inc/rapidjson/internal/meta.h
  packages/video_player_avplay/tizen/inc/rapidjson/internal/pow10.h
  packages/video_player_avplay/tizen/inc/rapidjson/internal/regex.h
  packages/video_player_avplay/tizen/inc/rapidjson/internal/stack.h
  packages/video_player_avplay/tizen/inc/rapidjson/internal/strfunc.h
  packages/video_player_avplay/tizen/inc/rapidjson/internal/strtod.h
  packages/video_player_avplay/tizen/inc/rapidjson/internal/swap.h
  packages/video_player_avplay/tizen/inc/rapidjson/istreamwrapper.h
  packages/video_player_avplay/tizen/inc/rapidjson/memorybuffer.h
  packages/video_player_avplay/tizen/inc/rapidjson/memorystream.h
  packages/video_player_avplay/tizen/inc/rapidjson/msinttypes/inttypes.h
  packages/video_player_avplay/tizen/inc/rapidjson/msinttypes/stdint.h
  packages/video_player_avplay/tizen/inc/rapidjson/ostreamwrapper.h
  packages/video_player_avplay/tizen/inc/rapidjson/pointer.h
  packages/video_player_avplay/tizen/inc/rapidjson/prettywriter.h
  packages/video_player_avplay/tizen/inc/rapidjson/rapidjson.h
  packages/video_player_avplay/tizen/inc/rapidjson/reader.h
  packages/video_player_avplay/tizen/inc/rapidjson/schema.h
  packages/video_player_avplay/tizen/inc/rapidjson/stream.h
  packages/video_player_avplay/tizen/inc/rapidjson/stringbuffer.h
  packages/video_player_avplay/tizen/inc/rapidjson/uri.h
  packages/video_player_avplay/tizen/inc/rapidjson/writer.h
  packages/video_player_avplay/tizen/lib/armel/6.0/libplusplayer-wrapper.so
  packages/video_player_avplay/tizen/lib/armel/6.5/libplusplayer-wrapper.so
  packages/video_player_avplay/tizen/lib/armel/7.0/libplusplayer-wrapper.so
  packages/video_player_avplay/tizen/lib/armel/8.0/libplusplayer-wrapper.so
  packages/video_player_avplay/tizen/lib/armel/9.0/libplusplayer-wrapper.so
  packages/video_player_avplay/tizen/src/media_player.cc
  packages/video_player_avplay/tizen/src/messages.cc
  packages/video_player_avplay/tizen/src/messages.h
  packages/video_player_avplay/tizen/src/plus_player.cc
  packages/video_player_avplay/tizen/src/plus_player.h
  packages/video_player_avplay/tizen/src/video_player.h
  packages/video_player_avplay/tizen/src/video_player_tizen_plugin.cc
Labels: p: video_player_avplay

#832 [connectivity_plus] Clarify ConnectivityResult.none type
  packages/connectivity_plus/CHANGELOG.md
  packages/connectivity_plus/README.md
  packages/connectivity_plus/pubspec.yaml
  packages/connectivity_plus/tizen/src/connection.cc
  packages/connectivity_plus/tizen/src/connection.h
Labels: p: connectivity_plus

#836 [video_player_avplay] Add getActiveTrackInfo interface
  packages/video_player_avplay/CHANGELOG.md
  packages/video_player_avplay/README.md
  packages/video_player_avplay/lib/src/messages.g.dart
  packages/video_player_avplay/lib/src/tracks.dart
  packages/video_player_avplay/lib/src/video_player_tizen.dart
  packages/video_player_avplay/lib/video_player.dart
  packages/video_player_avplay/lib/video_player_platform_interface.dart
  packages/video_player_avplay/pigeons/messages.dart
  packages/video_player_avplay/pubspec.yaml
  packages/video_player_avplay/tizen/src/messages.cc
  packages/video_player_avplay/tizen/src/messages.h
  packages/video_player_avplay/tizen/src/plus_player.cc
  packages/video_player_avplay/tizen/src/plus_player.h
  packages/video_player_avplay/tizen/src/video_player.h
  packages/video_player_avplay/tizen/src/video_player_tizen_plugin.cc
Labels: p: video_player_avplay
