Repository flutter-tizen/plugins, pull requests merged in 2025-08, with the labels that each got.

#881 Fix integration test bugs
  packages/tizen_app_manager/CHANGELOG.md
  packages/tizen_app_manager/example/integration_test/tizen_app_manager_test.dart
  packages/tizen_audio_manager/CHANGELOG.md
  packages/tizen_audio_manager/example/integration_test/audio_manager_test.dart
  packages/tizen_audio_manager/example/test_driver/integration_test.dart
  packages/tizen_package_manager/CHANGELOG.md
  packages/tizen_package_manager/README.md
  packages/tizen_package_manager/lib/tizen_package_manager.dart
  packages/tizen_package_manager/pubspec.yaml
Labels: p: tizen_audio_manager, p: tizen_app_manager, p: tizen_package_manager

#889 [video_player] Temporarily comment out 'asset audio' test case
  packages/video_player/example/integration_test/video_player_test.dart
  packages/video_player/example/pubspec.yaml
Labels: p: video_player

#894 [video_player] Fix integration_test crash issue
  packages/video_player/CHANGELOG.md
  packages/video_player/README.md
  packages/video_player/example/integration_test/video_player_test.dart
  packages/video_player/example/pubspec.yaml
  packages/video_player/pubspec.yaml
  packages/video_player/tizen/src/video_player.cc
  packages/video_player/tizen/src/video_player.h
Labels: p: video_player

#897 [device_info_plus] Add support for `screenWidth` and `screenHeight`
  packages/device_info_plus/CHANGELOG.md
  packages/device_info_plus/README.md
  packages/device_info_plus/example/lib/main.dart
  packages/device_info_plus/lib/device_info_plus_tizen.dart
  packages/device_info_plus/pubspec.yaml
  packages/device_info_plus/tizen/src/device_info_plus_tizen_plugin.cc
Labels: p: device_info_plus
